<template>
  <el-container class="record-info-wrapper match-parent">
    <div class="top-box">
      <div class="global-date-picker">
        <el-date-picker
          v-model="globalDate"
          type="date"
          format="yyyy-MM-dd"
          placeholder="选择日期"
          :clearable="false"
          :picker-options="globalDatePickerOptions"
          @change="onGlobalDateChanged"
        />
      </div>
      <el-button class="com-back-btn" type="primary" plain size="small" @click="$router.go(-1)">返回</el-button>
    </div>
    <div class="item-container">
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">定位轨迹</div>
            <el-date-picker
              v-model="activityTrackDate"
              type="date"
              format="yyyy-MM-dd"
              placeholder="选择日期"
            />
            <el-button style="margin-left: 20px" round @click="onLocateClick">刷新</el-button>
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onActivityTrackFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <activity-track-map ref="trackMap" :date="activityTrackDate" :device-id="deviceInfo.id.toString()" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">计步</div>
            <type-date-picker
              :date="stepDate"
              :type="stepType"
              @on-type-change="onStepTypeChanged"
              @on-date-change="onStepDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onStepFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <step-chart :device-id="deviceInfo.id.toString()" :type="stepType" :date="stepDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">心率</div>
            <type-date-picker
              :date="heartRateDate"
              :type="heartRateType"
              @on-type-change="onHeartRateTypeChanged"
              @on-date-change="onHeartRateDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onHeartRateFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <heart-rate-chart :device-id="deviceInfo.id.toString()" :type="heartRateType" :date="heartRateDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">血压</div>
            <type-date-picker
              :date="bloodPressureDate"
              :type="bloodPressureType"
              @on-type-change="onBloodPressureTypeChanged"
              @on-date-change="onBloodPressureDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onBloodPressureFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <blood-pressure-chart :device-id="deviceInfo.id.toString()" :type="bloodPressureType" :date="bloodPressureDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">血氧饱和度</div>
            <type-date-picker
              :date="bloodOxygenDate"
              :type="bloodOxygenType"
              @on-type-change="onBloodOxygenTypeChanged"
              @on-date-change="onBloodOxygenDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onBloodOxygenFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <blood-oxygen-chart :device-id="deviceInfo.id.toString()" :type="bloodOxygenType" :date="bloodOxygenDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">体温</div>
            <type-date-picker
              @on-type-change="onTemperatureTypeChanged"
              @on-date-change="onTemperatureDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onTemperatureFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <temperature-chart :device-id="deviceInfo.id.toString()" :type="temperatureType" :date="temperatureDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">睡眠</div>
            <type-date-picker
              :date="sleepDate"
              :type="sleepType"
              @on-type-change="onSleepTypeChanged"
              @on-date-change="onSleepDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onSleepFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <sleep-chart :device-id="deviceInfo.id.toString()" :type="sleepType" :date="sleepDate" />
        </div>
      </div>
    </div>
    <detail-dialog
      :visible.sync="dialogVisible"
      :type="dialogType"
      :device-id="deviceInfo.id.toString()"
      :date="dialogDate"
      :date-type="dialogDateType"
    />
  </el-container>
</template>

<script>

import DetailDialog from '@/views/health/record/components/DetailDialog'
import ActivityTrackMap from '@/views/health/record/components/ActivityTrackMap'
import StepChart from '@/views/health/record/components/StepChart'
import HeartRateChart from '@/views/health/record/components/HeartRateChart'
import BloodPressureChart from '@/views/health/record/components/BloodPressureChart'
import BloodOxygenChart from '@/views/health/record/components/BloodOxygenChart'
import TemperatureChart from '@/views/health/record/components/TemperatureChart'
import SleepChart from '@/views/health/record/components/SleepChart'
import TypeDatePicker from '@/components/Date/TypeDatePicker'

export default {
  name: 'RecordInfo',
  components: {
    TypeDatePicker,
    SleepChart,
    BloodOxygenChart,
    TemperatureChart,
    BloodPressureChart,
    HeartRateChart,
    StepChart,
    ActivityTrackMap,
    DetailDialog
  },
  data() {
    return {
      deviceInfo: {
        id: 0
      },
      globalDate: new Date(),
      globalDatePickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now()
        }
      },
      activityTrackDate: new Date(),
      stepType: 'date',
      stepDate: new Date(),
      heartRateType: 'date',
      heartRateDate: new Date(),
      bloodPressureType: 'date',
      bloodPressureDate: new Date(),
      bloodOxygenType: 'date',
      bloodOxygenDate: new Date(),
      temperatureType: 'date',
      temperatureDate: new Date(),
      sleepType: 'date',
      sleepDate: new Date(),
      dialogVisible: false,
      dialogType: '',
      dialogDateType: '',
      dialogDate: null
    }
  },
  mounted() {
    this.deviceInfo = this.$route.params.data
    if (this.deviceInfo.step && this.deviceInfo.step.createdAt) {
      this.stepDate = new Date(this.deviceInfo.step.createdAt)
    }
    if (this.deviceInfo.heartRate && this.deviceInfo.heartRate.createdAt) {
      this.heartRateDate = new Date(this.deviceInfo.heartRate.createdAt)
    }
    if (this.deviceInfo.bloodPressure && this.deviceInfo.bloodPressure.createdAt) {
      this.bloodPressureDate = new Date(this.deviceInfo.bloodPressure.createdAt)
    }
    if (this.deviceInfo.bloodOxygen && this.deviceInfo.bloodOxygen.createdAt) {
      this.bloodOxygenDate = new Date(this.deviceInfo.bloodOxygen.createdAt)
    }
    if (this.deviceInfo.temperature && this.deviceInfo.temperature.createdAt) {
      this.temperatureDate = new Date(this.deviceInfo.temperature.createdAt)
    }
    if (this.deviceInfo.location && this.deviceInfo.location.createdAt) {
      this.activityTrackDate = new Date(this.deviceInfo.location.createdAt)
    }
    if (this.deviceInfo.sleep && this.deviceInfo.sleep.createdAt) {
      this.sleepDate = new Date(this.deviceInfo.sleep.createdAt)
    }
  },
  methods: {
    onActivityTrackFullscreenClick() {
      this.dialogType = 'activityTrack'
      this.dialogDate = this.activityTrackDate
      this.dialogVisible = true
    },
    onStepFullscreenClick() {
      this.dialogType = 'step'
      this.dialogDate = this.stepDate
      this.dialogDateType = this.stepType
      this.dialogVisible = true
    },
    onHeartRateFullscreenClick() {
      this.dialogType = 'heartRate'
      this.dialogDate = this.heartRateDate
      this.dialogDateType = this.heartRateType
      this.dialogVisible = true
    },
    onBloodPressureFullscreenClick() {
      this.dialogType = 'bloodPressure'
      this.dialogDate = this.bloodPressureDate
      this.dialogDateType = this.bloodPressureType
      this.dialogVisible = true
    },
    onBloodOxygenFullscreenClick() {
      this.dialogType = 'bloodOxygen'
      this.dialogDate = this.bloodOxygenDate
      this.dialogDateType = this.bloodOxygenType
      this.dialogVisible = true
    },
    onTemperatureFullscreenClick() {
      this.dialogType = 'temperature'
      this.dialogDate = this.temperatureDate
      this.dialogDateType = this.temperatureType
      this.dialogVisible = true
    },
    onSleepFullscreenClick() {
      this.dialogType = 'sleep'
      this.dialogDate = this.sleepDate
      this.dialogDateType = this.sleepType
      this.dialogVisible = true
    },
    onStepTypeChanged(params) {
      this.stepType = params
    },
    onStepDateChanged(params) {
      this.stepDate = params
    },
    onHeartRateTypeChanged(params) {
      this.heartRateType = params
    },
    onHeartRateDateChanged(params) {
      this.heartRateDate = params
    },
    onBloodPressureTypeChanged(params) {
      this.bloodPressureType = params
    },
    onBloodPressureDateChanged(params) {
      this.bloodPressureDate = params
    },
    onBloodOxygenTypeChanged(params) {
      this.bloodOxygenType = params
    },
    onBloodOxygenDateChanged(params) {
      this.bloodOxygenDate = params
    },
    onTemperatureTypeChanged(params) {
      this.temperatureType = params
    },
    onTemperatureDateChanged(params) {
      this.temperatureDate = params
    },
    onSleepTypeChanged(params) {
      this.sleepType = params
    },
    onSleepDateChanged(params) {
      this.sleepDate = params
    },
    onGlobalDateChanged(params) {
      this.activityTrackDate = params
      const typeArr = ['step', 'heartRate', 'bloodPressure', 'bloodOxygen','temperature', 'sleep']
      typeArr.forEach(type => {
        this[type + 'Type'] = 'date'
        this[type + 'Date'] = params
      })
    },
    onLocateClick() {
      this.$api.device.locate({ id: this.deviceInfo.id.toString() })
        .then(() => {
          this.$refs['trackMap'].moveToCurrent()
        })
        .catch(() => {
          this.$refs['trackMap'].moveToCurrent()
        })
    }
  }
}
</script>

<style lang="scss" scoped>

@import "~@/styles/variables.scss";

.record-info-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .top-box{
    display: flex;
    justify-content: space-between;
  }
  .global-date-picker {
    height: 34px;
    border: 1px solid #e3eeff;
    border-radius: 18px;
    width: 214px;

    ::v-deep input {
      height: 34px;
      border: unset;
      background: unset;
    }

    ::v-deep .el-input__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .item-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      width: calc((100% - 20px) / 2);

      .title-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        // padding: 0 20px;

        div:not(:first-child) {
          margin-left: 14px;
        }

        .left {
          display: flex;
          align-items: center;

          .title-prefix {
            width: 5px;
            height: 20px;
            border-radius: 2px;
            background: $primaryColor;
          }

          .title {
            min-width: 100px;
            font-size: 18px;
            font-weight: 500;
            color: #666666;
          }

          .el-date-editor {
            width: 214px;
            height: 34px;
            border: 1px solid #e3eeff;
            border-radius: 18px;
            padding: 0 4px;

            ::v-deep .el-input__icon {
              display: flex;
              align-items: center;
              line-height: unset;
              margin-left: 0;
              justify-content: center;
            }

            ::v-deep input {
              height: 34px;
              border: unset;
              background: unset;
              line-height: unset;
            }

            ::v-deep .el-input__prefix {
              left: 10px;
            }

            ::v-deep .el-range-separator {
              display: flex;
              align-items: center;
              line-height: unset;
            }
          }
        }

        .right {
          .icon-fullscreen {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }

      .card {
        width: 100%;
        height: 230px;
        margin-top: 20px;

        .activity-track-map {
          border-radius: 10px;
        }
      }

      .info-container {
        padding: 0;
      }
    }
  }
}
</style>
