<template>
  <div class="health-info-container match-parent">
    <template v-if="type === 0">
      <blood-pressure-alarm :column="column" />
    </template>
    <template v-else-if="type === 1">
      <heart-rate-alarm :column="column" />
    </template>
    <template v-else-if="type === 2">
      <blood-oxygen-alarm :column="column" />
    </template>
    <template v-else-if="type === 3">
      <temperature-alarm :column="column" />
    </template>
    <template v-else>
      <div>未知类型 {{ type }}</div>
    </template>

    <alarm-handle-info :column="column" :warn-type="1" />

    <previous-page router-name="Alarm Health" />
  </div>
</template>

<script>

import BloodPressureAlarm from '@/views/alarm/health/components/BloodPressure'
import HeartRateAlarm from '@/views/alarm/health/components/HeartRate'
import BloodOxygenAlarm from '@/views/alarm/health/components/BloodOxygen'
import TemperatureAlarm from '@/views/alarm/health/components/Temperature'
import AlarmHandleInfo from '@/views/alarm/components/AlarmHandleInfo'
import PreviousPage from '@/components/PreviousPage'

export default {
  name: 'HealthInfo',
  components: { TemperatureAlarm, BloodOxygenAlarm, HeartRateAlarm, BloodPressureAlarm, AlarmHandleInfo, PreviousPage },
  data() {
    return {
      type: '',
      column: {}
    }
  },
  created() {
    this.column = this.$route.params.data
    this.type = this.$route.params.data.warnType
  }
}
</script>

<style scoped>
.health-info-container {
  overflow: auto;
}
</style>
