<template>
  <el-dialog
    :visible.sync="iVisible"
    title="个人信息"
    append-to-body
    @opened="onOpened"
  >
    <el-form
      ref="form"
      :model="form"
      :rules="rules"
      label-width="120px"
    >
      <el-form-item prop="name" label="姓名">
        <el-input v-model="form.name" placeholder="姓名" />
      </el-form-item>
      <el-form-item prop="department" label="部门">
        <el-select v-model="form.department" placeholder="请选择">
          <el-option
            v-for="item in departments"
            :key="item.id"
            :label="item.unitName"
            :value="item.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item prop="phone" label="手机号码">
        <el-input v-model="form.phone" placeholder="手机号码" />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" @click="submit">修改</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import { mapGetters } from 'vuex'
import { validPhone } from '@/utils/validate'

export default {
  name: 'PersonalInfoDialog',
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validatePhone = (rule, value, callback) => {
      if (!validPhone(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    }
    return {
      form: {
        id: '',
        name: '',
        department: '',
        phone: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入用户名', trigger: 'blur' }
        ],
        department: [
          { required: true, message: '请选择部门', trigger: 'change' }
        ],
        phone: [
          { required: true, message: '请输入手机号码', trigger: 'blur' },
          { trigger: 'blur', validator: validatePhone }
        ]
      },
      departments: []
    }
  },
  computed: {
    ...mapGetters([
      'userInfo'
    ]),
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      this.form.id = this.userInfo?.id.toString()
      this.form.name = this.userInfo?.alias
      this.form.phone = this.userInfo?.phone
      this.getDepartments()
    },
    getDepartments() {
      if (this.departments.length !== 0) {
        return
      }
      this.$api.department.list({ size: 999 }).then(res => {
        const result = []
        for (const item of res.data.records) {
          item.id = item.id.toString()
          result.push(item)
        }
        this.departments = result
        this.form.department = this.userInfo?.unitId?.toString()
      })
    },
    submit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        this.$api.account.modify({
          id: this.form.id,
          alias: this.form.name,
          unitId: this.form.department,
          phone: this.form.phone
        }).then(() => {
          // 提示
          this.$message.success('更新成功')
          // 更新用户缓存
          this.userInfo.alias = this.form.name
          this.userInfo.unitId = this.form.department
          this.userInfo.phone = this.form.phone
          this.$store.commit('user/SET_USER', this.userInfo)
          // 隐藏界面
          this.iVisible = false
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>

@import "~@/styles/dialog.scss";

.bottom-button-group {
  display: flex;
  justify-content: flex-end;
}
</style>
