@font-face {
  font-family: "iconfont"; /* Project id 3594678 */
  src: url('iconfont.woff2?t=1669622267321') format('woff2'),
       url('iconfont.woff?t=1669622267321') format('woff'),
       url('iconfont.ttf?t=1669622267321') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang6:before {
  content: "\e632";
}

.icon-touxiang:before {
  content: "\e62d";
}

.icon-jiankangguanli:before {
  content: "\e63a";
}

.icon-PCbofangye_tuwenzixun:before {
  content: "\e642";
}

.icon-zhanghaoguanli:before {
  content: "\e639";
}

.icon-zaixianjiance:before {
  content: "\e643";
}

.icon-lvzhou_shebeipeizhi:before {
  content: "\e62f";
}

.icon-clock:before {
  content: "\e611";
}

.icon-huaban:before {
  content: "\e61b";
}

.icon-xinxi:before {
  content: "\e77f";
}

.icon-yujing:before {
  content: "\e628";
}

.icon-jiankangguanli1:before {
  content: "\e62a";
}

.icon--quanxianguanli:before {
  content: "\e64d";
}

.icon-shishijiance:before {
  content: "\e6a1";
}

.icon-jiankangguanli2:before {
  content: "\e609";
}

.icon-tongjijisuan:before {
  content: "\e659";
}

.icon-yonghuguanli:before {
  content: "\e605";
}

.icon-gjiances:before {
  content: "\e7cf";
}

.icon-tuisong-tuisongpinlv-01:before {
  content: "\e60a";
}

.icon-zhinengshoubiao:before {
  content: "\e652";
}

.icon-baojingtuisongshezhi:before {
  content: "\e69d";
}

.icon-iconhuizong_huaban1fuben23:before {
  content: "\e60c";
}

.icon-iconhuizong_huaban1fuben22:before {
  content: "\e60e";
}

.icon-dianziweilan:before {
  content: "\e640";
}

.icon-houtaiguanli-quanxianguanli:before {
  content: "\e637";
}

.icon-jiankangzixun:before {
  content: "\e634";
}

.icon-weilanfenxi:before {
  content: "\ee46";
}

.icon-jiankangguanli3:before {
  content: "\e746";
}

.icon-jiankangguanli4:before {
  content: "\e791";
}

.icon-shouqicaidan:before {
  content: "\e622";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-txxg:before {
  content: "\e60d";
}

.icon-touxiangkuang:before {
  content: "\e606";
}

.icon-fullscreen:before {
  content: "\e63f";
}

.icon-password:before {
  content: "\e608";
}

.icon-user:before {
  content: "\e607";
}

.icon-icon-test:before {
  content: "\e667";
}

.icon-icon-test1:before {
  content: "\e66f";
}

