<template>
  <fullscreen-dialog
    :visible.sync="iVisible"
    @opened="onOpened"
    @close="onClose"
  >
    <div class="top">
      <div class="time">{{ dateFormatter(now) }}</div>
      <div class="title">智安康运营预警平台</div>
      <div class="back">
        <el-button type="text" @click="iVisible = false">返回</el-button>
      </div>
    </div>
    <div class="center">
      <div class="user">
        <div class="title">用户信息</div>
        <div class="base-info">
          <div>
            <avatar :url="wearerInfo.avatar" />
          </div>
          <div class="item">
            <div class="base-info-title">{{ wearerInfo.name || "-" }}</div>
            <div class="hint">
              {{ genderFormatter(wearerInfo.gender) }} {{ wearerInfo.age }}岁
            </div>
          </div>
          <div style="width: 2px; height: 42px; background: #1ac9ff" />
          <div class="item">
            <div class="base-info-title">{{ wearerInfo.height }}cm</div>
            <div class="hint">身高</div>
          </div>
          <div class="item">
            <div class="base-info-title">{{ wearerInfo.weight }}kg</div>
            <div class="hint">体重</div>
          </div>
          <div class="item">
            <div class="base-info-title">{{ wearerInfo.bloodType }}型</div>
            <div class="hint">血型</div>
          </div>
        </div>
        <div class="other-info">
          <div class="line flex-start">
            <div class="hint">居住情况：</div>
            <div class="value">-</div>
          </div>
          <div class="line flex-start">
            <div class="hint">本人电话：</div>
            <div class="value">{{ deviceInfo.phone || "-" }}</div>
          </div>
          <div class="line flex-start">
            <div class="hint">亲属电话：</div>
            <div v-if="familyNumbers">
              <div
                v-for="(item, index) in familyNumbers"
                :key="index"
                class="value"
              >
                {{ item.phone }} （{{ item.name }}）
              </div>
            </div>
            <div v-else class="value">-</div>
          </div>
        </div>
      </div>
      <div class="map">
        <div class="title">报警信息</div>
        <div class="map-container">
          <sos-alarm-map :sos="healthInfo.location" />
        </div>
      </div>
      <div class="archive">
        <div class="title">健康档案</div>
        <div class="item-container">
          <div class="item">
            <div class="hint">疾病史：</div>
            <div class="disease-bar">
              <div
                v-for="(item, index) in history.disease"
                :key="index"
                class="disease-bar-item value"
              >
                {{ item.diseaseName }}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="hint">家族史：</div>
            <div class="family-bar">
              <div
                v-for="(item, index) in history.family"
                :key="index"
                class="family-bar-item value"
              >
                <span>{{ item.diseaseName }}</span>
                <span>{{
                  item.familyMembers ? "（" + item.familyMembers + "）" : ""
                }}</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="hint">手术史：</div>
            <div class="surgery-bar">
              <div
                v-for="(item, index) in history.surgery"
                :key="index"
                class="surgery-bar-item value"
              >
                {{ item.diseaseName }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="latest">
        <div class="title">当前健康数据</div>
        <div class="item-container column-space-evenly">
          <div class="item">
            <div>
              <div class="data-title">心率</div>
              <div class="hint">
                {{ dateFormatter(healthInfo.heartRate.createdAt) || "-" }}
              </div>
            </div>
            <div>
              <span class="data-value">{{
                healthInfo.heartRate.value || "-"
              }}</span>
              <span>次/分</span>
            </div>
          </div>
          <div class="item">
            <div>
              <div class="data-title">血压</div>
              <div class="hint">
                {{ dateFormatter(healthInfo.bloodPressure.createdAt) || "-" }}
              </div>
            </div>
            <div>
              <span class="data-value"
                >{{ healthInfo.bloodPressure.systolicPressure || "-" }} /
                {{ healthInfo.bloodPressure.diastolicPressure || "-" }}</span
              >
              <span class="data-unit">mmHg</span>
            </div>
          </div>
          <div class="item">
            <div>
              <div class="data-title">血氧饱和度</div>
              <div class="hint">
                {{ dateFormatter(healthInfo.bloodOxygen.createdAt) || "-" }}
              </div>
            </div>
            <div>
              <span class="data-value">{{
                healthInfo.bloodOxygen.value || "-"
              }}</span>
              <span class="data-unit">%</span>
            </div>
          </div>
          <div class="item">
            <div>
              <div class="data-title">体温</div>
              <div class="hint">
                {{ dateFormatter(healthInfo.temperature.createdAt) || "-" }}
              </div>
            </div>
            <div>
              <span class="data-value">{{
                healthInfo.temperature.value || "-"
              }}</span>
              <span class="data-unit">℃</span>
            </div>
          </div>
        </div>
      </div>
      <div class="history">
        <div class="title">历史健康数据</div>
        <history-health-info :device-id="deviceId" />
      </div>
    </div>
  </fullscreen-dialog>
</template>

<script>
import FullscreenDialog from "@/components/FullscreenDialog";
import SosAlarmMap from "@/views/alarm/large/components/SosAlarmMap";
import HistoryHealthInfo from "@/views/alarm/large/components/History";
import GenderType from "@/enum/GenderType";
import Avatar from "@/components/Image/Avatar";
import { formatter } from "@/utils/date";

export default {
  name: "LargeScreen",
  components: { Avatar, HistoryHealthInfo, SosAlarmMap, FullscreenDialog },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    column: {
      type: Object,
      default: function () {
        return {
          deviceId: "0",
        };
      },
    },
  },
  data() {
    return {
      now: new Date(),
      tickInterval: null,
      deviceId: "",
      wearerInfo: {},
      deviceInfo: {},
      familyNumbers: [],
      history: {
        disease: [],
        family: [],
        surgery: [],
      },
      healthInfo: {
        heartRate: {},
        bloodPressure: {},
        bloodOxygen: {},
        temperature: {},
        location: {
          longitude: null,
          latitude: null,
          address: "",
          createdAt: null
        },
      },
    };
  },
  computed: {
    iVisible: {
      get() {
        return this.visible;
      },
      set(val) {
        this.$emit("update:visible", val);
      },
    },
  },
  mounted() {
    clearInterval(this.tickInterval);
    this.tickInterval = setInterval(() => {
      this.now = new Date();
    }, 1000);
  },
  beforeDestroy() {
    clearInterval(this.tickInterval);
  },
  methods: {
    dateFormatter(date) {
      return formatter(date);
    },
    genderFormatter(data) {
      return GenderType.valueOf(data);
    },
    onOpened() {
      this.deviceId =
        this.column && this.column.deviceId
          ? this.column.deviceId.toString()
          : "";
      this.getWearerInfo();
      this.getHealthLatest();
    },
    onClose() {},
    getWearerInfo() {
      this.$api.device.wearerInfo({ deviceId: this.deviceId }).then((res) => {
        this.wearerInfo = res.data.healthArchive;
        this.familyNumbers = res.data.familyNumber;
        this.deviceInfo = res.data.device;

        const {
          diseaseHis: disease,
          familyHis: family,
          surgeryHis: surgery,
        } = res.data.healthArchive;
        this.history.disease = disease;
        this.history.family = family;
        this.history.surgery = surgery;
      });
    },
    getHealthLatest() {
      this.$api.health.latest({ deviceId: this.deviceId }).then((res) => {
        const { heartRate, bloodPressure, bloodOxygen, temperature, location } =
          res.data;

        // 定位相关信息，使用page页面传过来的数据而非最新的设备数据  ---  edit by 何华飒
        if (this.column.longitude !== undefined) {
          this.healthInfo.location.longitude = this.column.longitude;
          this.healthInfo.location.latitude = this.column.latitude;
          this.healthInfo.location.address = this.column.place;
          this.healthInfo.location.createdAt = this.column.createdAt;
        } else {
          this.healthInfo.location = location || {};
        }
        this.healthInfo.heartRate = heartRate || {};
        this.healthInfo.bloodPressure = bloodPressure || {};
        this.healthInfo.bloodOxygen = bloodOxygen || {};
        this.healthInfo.temperature = temperature || {};
      });
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep .el-dialog {
  background: url("../../../assets/image/pic_large_bg.png") no-repeat;
  background-size: 100% 100%;
}

::v-deep .el-dialog__header {
  padding: unset;
  display: none;
}

::v-deep .el-dialog__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e5dede;
}

.user,
.map,
.archive,
.latest,
.history {
  padding: 20px;

  .title {
    width: 238px;
    height: 34px;
    background: #00489e;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../../assets/image/pic_large_title.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1.2px;
  }

  .hint {
    font-size: 18px;
    font-weight: 500;
    color: #7e9af5;
  }

  .value {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }
}

.top {
  width: 100%;
  height: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;

  .time {
    width: 150px;
  }

  .title {
    font-size: 34px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1.7px;
    background: url("../../../assets/image/pic_large_header.png") no-repeat;
    background-size: 100% 100%;
    width: calc(100% - 300px);
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back {
    width: 150px;
    display: flex;
    justify-content: flex-end;

    .el-button {
      width: 100px;
    }
  }
}

.center {
  width: 100%;
  height: 412px;
  display: flex;
  justify-content: space-between;

  .user {
    width: 520px;
    height: 100%;
    background: url("../../../assets/image/pic_large_user_info.png") no-repeat;
    background-size: 100% 100%;

    .base-info {
      width: 100%;
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .item {
        display: flex;
        align-items: center;
        flex-direction: column;

        .base-info-title {
          font-size: 24px;
          font-weight: 700;
          color: #ffffff;
          margin-bottom: 8px;
        }
      }

      .avatar {
        width: 60px;
        height: 60px;
      }
    }

    .other-info {
      .line:not(:first-child) {
        margin-top: 20px;
      }

      .line:last-child {
        align-items: flex-start;
      }
    }
  }

  .map {
    width: calc(100% - 1080px);
    height: 100%;
    padding: 0;

    .title {
      margin-top: 0;
    }

    .map-container {
      height: calc(100% - 34px);
      padding: 20px;
      background: url("../../../assets/image/pic_large_sos.png") no-repeat;
      background-size: 100% 100%;

      .sos-alarm-map {
      }
    }
  }

  .archive {
    width: 520px;
    height: 100%;
    background: url("../../../assets/image/pic_large_archive.png") no-repeat;
    background-size: 100% 100%;

    .item-container {
      width: 100%;
      height: calc(100% - 44px);
      overflow-y: auto;

      .item {
        margin-top: 20px;
      }

      .disease-bar {
        display: flex;

        .disease-bar-item {
          padding: 10px 20px;
          margin-top: 10px;
          background: url("../../../assets/image/pic_large_tag.png") no-repeat;
          background-size: 100% 100%;
        }

        .disease-bar-item:not(:first-child) {
          margin-left: 20px;
        }
      }

      .family-bar {
        .family-bar-item {
          margin-top: 10px;
        }
      }

      .surgery-bar {
        .surgery-bar-item {
          margin-top: 10px;
        }
      }
    }
  }
}

.bottom {
  width: 100%;
  height: calc(100% - 520px);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .latest {
    width: 520px;
    height: 100%;
    background: url("../../../assets/image/pic_large_latest.png") no-repeat;
    background-size: 100% 100%;

    .item-container {
      width: 100%;
      height: calc(100% - 44px);
    }

    .item {
      width: calc(100% - 20px);
      background: url("../../../assets/image/pic_large_latest_item.png")
        no-repeat;
      background-size: 100% 100%;
      height: 76px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      .data-title {
        margin-bottom: 4px;
        font-size: 22px;
        font-weight: 700;
        color: #ffffff;
      }

      .data-value {
        margin-right: 10px;

        font-size: 30px;
        font-weight: 700;
        color: #56e17d;
      }

      .data-unit {
      }
    }
  }

  .history {
    width: calc(100% - 540px);
    height: 100%;
    background: url("../../../assets/image/pic_large_history.png") no-repeat;
    background-size: 100% 100%;

    .history-health-info {
    }
  }
}
</style>
