<template>
  <el-container class="match-parent">
    <el-tabs v-model="activeName" class="no-header-bottom-margin-tabs">
      <el-tab-pane label="设备品牌" name="account">
        <manufacturer-list />
      </el-tab-pane>
      <el-tab-pane label="设备型号" name="department">
        <model-list @on-success="onModelSuccess" />
      </el-tab-pane>
      <el-tab-pane label="设备配置" name="role">
        <config-list ref="configList" />
      </el-tab-pane>
    </el-tabs>
</el-container>
</template>

<script>

import ManufacturerList from '@/views/device/config/manufacturer'
import ModelList from '@/views/device/config/model'
import ConfigList from '@/views/device/config/list'

export default {
  name: 'DeviceConfig',
  components: { ConfigList, ModelList, ManufacturerList },
  data() {
    return {
      activeName: 'account'
    }
  },
  methods: {
    onModelSuccess() {
      // 更新设备配置列表
      this.$refs.configList.$refs.table.load()
    }
  }
}
</script>

<style lang="scss" scoped>

.el-tabs {
  width: 100%;
  height: 100%;

  ::v-deep .el-tabs__header {
    margin: 0 20px;
  }

  ::v-deep .el-tabs__content {
    height: calc(100% - 40px);
  }

  ::v-deep .el-tab-pane {
    width: 100%;
    height: 100%;
  }
}
</style>
