<template>
  <el-container class="news-save-wrapper match-parent">
    <el-form ref="form" label-position="left" label-width="80px">
      <el-form-item label="资讯类型" required>
        <el-select v-model="type" placeholder="请选择" :disabled="isEditMode">
          <el-option
            v-for="item in typeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <div class="bottom-container">
      <transition name="fade">
        <news-video v-if="type === 1" />
        <news-article v-else />
      </transition>
    </div>
  </el-container>
</template>

<script>

import NewsArticle from '@/views/health/news/save/article'
import NewsVideo from '@/views/health/news/save/video'

export default {
  name: 'NewsSave',
  components: { NewsVideo, NewsArticle },
  data() {
    return {
      type: 0,
      typeOptions: [
        {
          label: '图文',
          value: 0
        },
        {
          label: '视频',
          value: 1
        }
      ]
    }
  },
  computed: {
    isEditMode: {
      get() {
        return this.$route.params.news != null
      }
    }
  },
  mounted() {
    this.type = this.$route.params.news.type || 0
  }
}
</script>

<style lang="scss" scoped>

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.news-save-wrapper {
  display: block;
  padding: 20px;
  overflow-y: scroll;

  .el-form {
    width: 100%;
    height: 60px;
  }

  .bottom-container {
    width: 100%;
    height: calc(100% - 60px);
  }
}
</style>
