<template>
  <div :id="cId" class="c-chart" />
</template>

<script>

import * as ECharts from 'echarts/core'

import {
  LineChart,
  BarChart,
  PieChart,
  ScatterChart
} from 'echarts/charts'

// 引入直角坐标系组件，组件后缀都为 Component
import {
  GridComponent,
  LegendComponent,
  TooltipComponent
} from 'echarts/components'

// 引入 Canvas 渲染器，注意引入 CanvasRenderer 或者 SVGRenderer 是必须的一步
import {
  CanvasRenderer
} from 'echarts/renderers'

// 注册必须的组件
ECharts.use([
  GridComponent,
  LegendComponent,
  TooltipComponent,
  CanvasRenderer,
  LineChart,
  BarChart,
  PieChart,
  ScatterChart
])

export default {
  name: 'CChart',
  props: {
    cId: {
      type: String,
      default: 'container'
    }
  },
  data() {
    return {
      chart: null,
      resizeChartTimeout: null
    }
  },
  mounted() {
    this.initialize()

    // window.onresize = () => {
    //   clearTimeout(this.resizeChartTimeout)
    //   this.resizeChartTimeout = setTimeout(() => {
    //     if (this.chart) {
    //       console.log('xxxxxxxxxxxxxxxxx')
    //       this.chart.resize() // TODO 未生效
    //     }
    //   }, 300)
    // }
  },
  methods: {
    initialize() {
      if (!this.chart) {
        this.chart = ECharts.init(document.getElementById(this.cId))
      }
    },
    setOption(option) {
      if (this.chart) {
        this.chart.clear()
        this.chart.setOption(option)
      }
    }
  }
}
</script>

<style scoped>
</style>
