<template>
  <div class="type-date-picker">
    <el-select v-model="iType" placeholder="请选择" @change="onTypeChanged">
      <el-option
        v-for="item in typeOptions"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
    <el-date-picker
      v-model="iDate"
      :type="iType"
      placeholder="请选择日期"
      @change="onDateChanged"
    />
  </div>
</template>

<script>
export default {
  name: 'TypeDatePicker',
  props: {
    date: {
      type: Date,
      default: null
    },
    type: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      iType: 'date',
      iDate: new Date(),
      typeOptions: [
        {
          label: '日',
          value: 'date'
        },
        {
          label: '月',
          value: 'month'
        },
        {
          label: '年',
          value: 'year'
        }
      ]
    }
  },
  watch: {
    date: function(params) {
      if (params) {
        this.iDate = params
      }
    },
    type: function(params) {
      if (params) {
        this.iType = params
      }
    },
    iDate: function(params) {
      this.$emit('update:date', params)
    },
    iType: function(params) {
      this.$emit('update:type', params)
    }
  },
  mounted() {
    // this.$emit('on-type-change', this.iType) // params 为日期
    // this.$emit('on-date-change', this.iDate) // params 为日期
  },
  methods: {
    onTypeChanged(params) {
      this.$emit('on-type-change', params) // params 为日期
      this.$emit('on-date-change', new Date(this.iDate.valueOf())) // params 为日期
    },
    onDateChanged(params) {
      this.$emit('on-date-change', params) // params 为日期
    }
  }
}
</script>

<style lang="scss" scoped>

* {
  box-sizing: border-box;
}

.type-date-picker {
  height: 34px;
  border: 1px solid #e3eeff;
  border-radius: 18px;

  .el-date-editor {
    width: 150px;
    border-left: 1px solid #e3eeff;
  }

  ::v-deep input {
    height: 34px;
    border: unset;
    background: unset;
  }

  ::v-deep .el-input__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.el-select {
  width: 62px;
}

::v-deep .el-date-picker {
  margin-left: 0;
}

</style>
