<template>
  <el-container class="user-info-wrapper">
    <div shadow="hover" class="block-box">
      <div class="block-title">账号信息</div>
      <div class="block-content">
        <div class="base-info info-container">
          <div class="item">
            <span>头像：</span>
            <avatar :url="userInfo.avatar" />
          </div>
          <div class="item">
            <span>用户ID：</span>
            <div>{{ userId }}</div>
          </div>
          <div class="item">
            <span>手机号码：</span>
            <div>{{ userInfo.phone }}</div>
          </div>
          <div class="item">
            <span>昵称：</span>
            <div>{{ userInfo.alias }}</div>
          </div>
          <div class="item">
            <span>注册时间：</span>
            <div>{{ dateFormatter(userInfo.createdAt) }}</div>
          </div>
        </div>
      </div>
    </div>
    <div shadow="hover" class="sub-info block-box">
      <div class="block-title family-block">
        <div class="family-title">
          <div class="item">
            <span>家庭圈：</span>
            <el-select
              v-model="selectedCircleId"
              placeholder="请选择"
              @change="onCircleChange"
            >
              <el-option
                v-for="item in circleList"
                :key="item.id.toString()"
                :label="item.name"
                :value="item.id.toString()"
              />
            </el-select>
          </div>
          <div class="item">
            <span>圈中角色：</span>
            <div class="value">{{ circleRole }}</div>
          </div>
          <div class="item">
            <span>绑定设备：</span>
            <div class="value">{{ tableData ? tableData.length : 0 }}</div>
          </div>
        </div>
      </div>
      <div class="device-list block-content">
        <el-table :data="tableData" stripe class="c-table" border>
          <el-table-column prop="name" label="设备名称" />
          <el-table-column prop="imei" label="IMEI" />
          <el-table-column label="激活时间">
            <template v-slot="{ row }">
              {{
                (row.deviceDetailInfo &&
                  dateFormatter(row.deviceDetailInfo.activeAt)) ||
                ""
              }}
            </template>
          </el-table-column>
          <el-table-column label="佩戴者（称呼）">
            <template v-slot="{ row }">
              {{ (row.healthArchive && row.healthArchive.appellation) || "" }}
            </template>
          </el-table-column>
          <el-table-column prop="phone" label="设备号码" />
          <el-table-column label="佩戴者信息">
            <template v-slot="{ row }">
              {{ ((row.healthArchive && row.healthArchive.age) || "-") + "岁" }}
              {{ genderFormatter(row.healthArchive.gender) || "" }}
              {{ diseaseFormatter(row || null) }}
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <div shadow="hover" class="health-archives block-box">
      <div class="block-title">健康档案：</div>
      <div class="list block-content">
        <template v-for="(item, index) in archives">
          <div
            :key="item.id.toString()"
            class="item info-container"
            :style="{
              'margin-left': index % 3 === 0 ? '0' : '20px',
              'margin-top': index < 3 ? '0' : '20px',
            }"
            @click="onHealthArchivesItemClick(item)"
          >
            <avatar :url="item.avatar" />
            <div class="info">
              <div class="top">
                <span>{{ item.appellation }}</span>
                <span class="relationship">({{ item.relationship }})</span>
              </div>
              <div class="bottom">
                <span>{{ genderFormatter(item.gender) }}</span>
                <span class="age">{{ item.age ? item.age : " - " }}岁</span>
                <span>{{ item.disease }}</span>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <p class="flex-center" style="margin-top: 30px">
      <el-button
        class="com-back-btn"
        type="primary"
        plain
        size="small"
        @click="$router.go(-1)"
        >返回</el-button
      >
    </p>
    <health-archives-dialog
      :visible.sync="healthArchivesDialogVisible"
      :item="healthArchivesDialogItem"
    />
    <div shadow="hover" class="health-archives block-box">
      <div class="block-title">
        服务配置：
        <el-button type="text" size="small" @click="onInfoClick()">
          查看详情
        </el-button>
      </div>
     
    </div>
    <service-dialog
      :visible.sync="serviceDialogVisible"
      :item="serviceDialogItem"
    />
  </el-container>
</template>
<script>
import Avatar from "@/components/Image/Avatar";
import HealthArchivesDialog from "@/views/account/user/components/HealthArchivesDialog";
import ServiceDialog from "@/views/account/user/components/dialog-config-service";
import { formatter } from "@/utils/date";
import GenderType from "@/enum/GenderType";

export default {
  name: "UserInfo",
  components: { HealthArchivesDialog, Avatar, ServiceDialog },
  data() {
    return {
      userId: "",
      userInfo: {},
      circleList: [],
      selectedCircleId: "",
      tableData: [],
      archives: [],
      circleRole: "",
      healthArchivesDialogVisible: false,
      serviceDialogVisible: false,
      healthArchivesDialogItem: {},
      serviceDialogItem: {},
    };
  },
  mounted() {
    this.userId = this.$route.params.data.id.toString();
    this.userInfo = this.$route.params.data;
    this.circleList = this.userInfo.familyCircleList;

    if (this.circleList && this.circleList.length > 0) {
      this.selectedCircleId = this.circleList[0].id.toString();
      this.$nextTick(() => {
        this.getDeviceList();
      });
    }
    this.getUserInfo();
    this.getArchiveList();
  },
  methods: {
    diseaseFormatter(data) {
      let list = data.healthArchive.diseaseHis;
      if (!list || list.length === 0) {
        return "";
      }
      list = JSON.parse(JSON.stringify(list));
      return (
        list
          .splice(0, 3)
          .map((item) => item.diseaseName)
          .join("、") + (list.length > 3 ? "..." : "")
      );
    },
    genderFormatter(data) {
      return GenderType.valueOf(data);
    },
    dateFormatter(date) {
      return formatter(date);
    },
    onCircleChange() {
      this.getDeviceList();
    },
    getUserInfo() {
      this.$api.user.detail({ id: this.userId }).then((res) => {
        this.userInfo = res.data;
      });
    },
    getDeviceList() {
      this.$api.device
        .listByCircleId({
          accountId: this.userId,
          fcId: this.selectedCircleId,
        })
        .then((res) => {
          this.tableData = res.data.page.records;
          this.circleRole = res.data.roleType === 0 ? "管理者" : "被邀请者";
        });
    },
    getArchiveList() {
      this.$api.archive.listByAccountId({ id: this.userId }).then((res) => {
        this.archives = res.data;
      });
    },
    onHealthArchivesItemClick(data) {
      this.healthArchivesDialogItem = data;
      this.healthArchivesDialogVisible = true;
    },
    onInfoClick() {
      // this.servicesDialogItem.id = this.$route.params.data.id.toString()
      this.serviceDialogVisible = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.user-info-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: block;
  // flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 4px;

  .base-info {
    height: 160px;
    // margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 20px;
    background: #f5f7fa;

    .avatar {
      width: 80px;
      height: 80px;
    }

    .item {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #666666;

      span {
        margin-right: 10px;
      }
    }
  }

  .sub-info {
    // display: flex;
    align-items: center;
    // margin-top: 60px;

    .item {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #666666;

      &:not(:first-child) {
        margin-left: 60px;
      }

      ::v-deep .el-input input,
      .value {
        width: 210px;
        height: 38px;
        border: 1px solid #e3eeff;
        border-radius: 18px;
      }

      .value {
        display: flex;
        align-items: center;
        padding-left: 20px;
      }

      span {
        margin-right: 10px;
      }
    }
  }

  .device-list {
    // margin-top: 20px;
    //height: 1000px;
  }

  .health-archives {
    // margin-top: 60px;

    .list {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .item {
        width: calc((100% - 40px) / 3);
        height: 150px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.25s ease;

        &:hover {
          background-color: #dfe6ec;
          transition: background-color 0.25s ease;
        }

        .avatar {
          width: 80px;
          height: 80px;
        }

        .info {
          margin-left: 20px;

          .top {
            :not(:first-child) {
              margin-left: 10px;
            }
          }

          .bottom {
            margin-top: 20px;

            :not(:first-child) {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

.el-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.el-main {
  padding-top: 0;
}

.block-box {
  margin-bottom: 40px;
  min-height: 120px;
  ::v-deep .div__body {
    padding: 0;
    width: 100%;
  }
  .block-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #e3eeff;
    padding: 10px 0 10px 16px;
    position: relative;
    font-size: 16px;
    font-weight: bold;

    &::before {
      content: "";
      width: 4px;
      height: 16px;
      background: #337df6;
      border-radius: 1px;
      position: absolute;
      left: 0;
      top: 10px;
    }
    &.family-block {
      padding-bottom: 6px;
      &::before {
        top: 27px;
      }
    }
    .family-title {
      height: 52px;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  .block-content {
    // padding:18px;
    font-size: 14px;
  }
}
</style>
