<template>
  <div class="statistics">
    <div class="statistics-header">
      <slot name="header" />
    </div>
    <ul class="statistics-static">
      <li>
        <div>今日人次</div>
        <div class="number">{{ info.total }}</div>
      </li>
      <li>
        <div>已处理</div>
        <div class="number">{{ info.dealNum }}</div>
      </li>
      <li>
        <div>未处理</div>
        <div class="number">{{ info.noDealNum }}</div>
      </li>
    </ul>
    <ul class="statistics-list" v-infinite-scroll="scrollLoad">
      <li v-for="list in lists" @click="toAlarmInfo(list)">
        <div class="avatar">
          <el-image v-if="list.avatar" :src="getAvatar(list.avatar)" class="img" fit="cover"></el-image>
          <el-image v-else :src="require('@/assets/icon/avatar1.png')" class="img"></el-image>
        </div>
        <div class="info">
          <div class="info-d">
            <div class="name">{{ list.alias }}</div>
            <div class="age">{{ list.age || '-' }} 岁</div>
            <div class="time">{{ list.createdAt | formatDate('YYYY-MM-DD HH:mm') }}</div>
            <!--  自定义模板  -->
            <template v-if="typeOption.slot">
              <slot :name="typeOption.slot" :list="list" />
            </template>
            <!-- <el-tag>{{ alarmTypeFormatter(list.warnType) }}</el-tag> -->
            <el-tag v-if="list.dealSign === 1" type="success">已处理</el-tag>
            <el-tag v-else type="warning">未处理</el-tag>
          </div>
        </div>
      </li>
      <li v-if="pageInfo.total && pageInfo.total === lists.length" class="last">没有更多了</li>
      <li v-if="!pageInfo.total" class="last">暂无数据</li>
    </ul>
  </div>
</template>

<script>

import { getFileAccessHttpUrl } from '@/utils'
export default {
  name: 'AlarmList',
  components: {},
  props: {
    typeOption: {
      type: Object,
      required: true,
      default: { type: 'health', infoRouteName: 'Health', slot: '' }
    }
  },
  data() {
    return {
      info: { total: 56, dealNum: 67, noDealNum: 89 },
      pageInfo: { page: 1, size: 10, total: 0 },
      lists: []
    }
  },
  methods: {
    getAvatar(avatar) {
      return getFileAccessHttpUrl(avatar)
    },
    // onLoad(isScrollLoad) {
    //   this.$api.alarm[this.typeOption.type + 'List']({
    //     page: this.pageInfo.page,
    //     size: this.pageInfo.size
    //   })
    //     .then((res) => {
    //       this.lists = isScrollLoad ? this.lists.concat(res.data.records) : res.data.records
    //       this.pageInfo.total = res.data.total
    //     });
    // },
    getTodayStatData() {
      this.$api.alarm[this.typeOption.type + 'Today']({
        page: this.pageInfo.page,
        size: this.pageInfo.size
      })
        .then((res) => {
          let { total, dealNum, noDealNum } = res.data
          this.info = { total, dealNum, noDealNum }

          let records = res.data.ipage
          this.lists = this.pageInfo.page === 1 ? records.records : this.lists.concat(records.records)
          this.pageInfo.total = records.total
        });
    },
    toAlarmInfo(data) {
      this.$router.push({ name: `Alarm ${this.typeOption.infoRouteName} Info`, params: { data } });
    },
    scrollLoad() {
      if (this.pageInfo.total === this.lists.length) return false
      this.pageInfo.page++
      this.getTodayStatData()
    }
  },
  created() {
    this.getTodayStatData()
  }
}
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.statistics {
  // border: 1px solid #999;
  flex: 1 1 auto;
  height: 260px;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
  background: url('~@/assets/image/pic_large_chart.png') no-repeat;
  background-size: 100% 100%;

  &:last-child {
    margin-bottom: 0;
  }


  .statistics-header {
    font-size: 16px;
    text-align: center;
    padding: 12px 0;
  }

  .statistics-static {
    display: flex;
    padding-bottom: 8px;
    align-items: center;
    border-bottom: 1px solid #7890d9;

    li {
      width: 33.33%;
      text-align: center;

      .number {
        margin-top: 4px;
      }
    }
  }

  .statistics-list {
    flex: 1 1 auto;
    overflow-y: auto;
    @include scrollBar;
    padding: 8px 0;

    &>li {
      display: flex;
      padding: 6px 0;
      cursor: pointer;
      align-items: center;

      .info {
        flex: 1;
        align-items: center;
      }

      &.last {
        justify-content: center;
        color: #999;
        font-size: 12px;
      }
    }

    .avatar {
      width: 24px;
      height: 24px;
      margin: 0 8px;
      // background: url('~@/assets/icon/avatar1.png') no-repeat;
      // background-size: 100% 100%;

      .img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    .info {
      .info-d {
        display: flex;
        flex-wrap: wrap;
        line-height: 1.8;
        align-items: center;
      }

      .name {
        width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .age {
        width: 45px;
        text-align: right;
        padding-right: 10px;
      }

      .time {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      ::v-deep .el-tag {
        height: 18px;
        line-height: 18px;
        border-radius: 15px;
        margin-right: 8px;
        padding: 0 8px;
      }
    }
  }
}
</style>
