<template>
  <div class="main-left">
    <alarm-list :typeOption="{ type: 'health', infoRouteName: 'Health', slot: 'health' }">
      <template slot="header">
        健康异常报告
      </template>
      <template v-slot:health="{ list }">
        <el-tag>{{ alarmTypeFormatter(list.warnType) }}</el-tag>
      </template>
    </alarm-list>

    <alarm-list class="statistics-sos" :typeOption="{ type: 'sos', infoRouteName: 'SOS' }">
      <template slot="header">
        SOS报警
      </template>
    </alarm-list>

    <alarm-list class="statistics-fence" :typeOption="{ type: 'fence', infoRouteName: 'Fence' }">
      <template slot="header">
        地图围栏报警
      </template>
    </alarm-list>

  </div>
</template>

<script>
import AlarmType from '@/enum/AlarmType'
import AlarmList from './AlarmList'

export default {
  name: 'StatisticsL',
  components: { AlarmList },
  data() {
    return {
    }
  },
  computed: {
    alarmTypeFormatter() {
      return function (type) {
        return AlarmType.valueOf(type)
      }
    }
  },
}
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";

.main-left {
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
  height: 100%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ::v-deep .statistics {

    &.statistics-fence,
    &.statistics-sos {
      .statistics-list .info .info-d {
        flex-wrap: nowrap;
        line-height: 2;

        .name {
          width: 25%;
        }

        .age {
          width: 15%;
        }
      }
    }
  }
}
</style>
