<template>
  <div class="main-right">
    <div class="chart">
      <div class="title">佩戴者年龄分布</div>
      <c-chart ref="chartAge" c-id="chart-age" class="chart-container" />
    </div>
    <div class="chart">
      <div class="title">佩戴者性别分布</div>
      <c-chart ref="chartGender" c-id="chart-gender" class="chart-container" />
    </div>
    <div class="chart">
      <div class="title">健康档案统计</div>
      <c-chart ref="chartHealth" c-id="chart-health" class="chart-container" />
    </div>
  </div>
</template>

<script>
import CChart from '@/components/Chart'

export default {
  name: 'StatisticsR',
  components: { CChart },
  data() {
    return {
    }
  },
  created() {
    this.getStatData()
  },
  methods: {
    getStatData() {
      this.$api.alarm.wearerTot()
        .then((res) => {
          this.$nextTick(() => {
            this.drawAgeChart(res.data.ageData)
            this.drawGenderChart(res.data.sexData)
            this.drawHealthChart(res.data.healthData)
          })
        })
    },
    drawAgeChart(data) {
      const xMap = {
        thirty_below_num: '30以下',
        thirty_forty_num: '30-40',
        forty_sixty_num: '40-60',
        sixty_seventy_num: '60-70',
        seventy_eighty_num: '70-80',
        eighty_over_num: '80以上',
      }

      let dataX = [], dataY = []
      for (let key in xMap) {
        dataX.push(xMap[key])
        dataY.push(data[key])
      }
      let yAxis = {
        type: 'value',
        splitLine: {
          show: false
        },
        min: 0
      }

      let maxValue = Math.max.apply(null, dataY)
      if (maxValue <= 10) {
        yAxis.max = 10
        yAxis.interval = 5
      }

      const option = {
        xAxis: {
          type: 'category',
          data: dataX,
          axisLabel: {
            fontSize: 11,
            interval: 0,
          }
        },
        yAxis,
        grid: {
          show: false,
          bottom: 20,
          left: 60,
          borderColor: '#999',
          borderWidth: 0.5
        },
        series: [
          {
            data: dataY,
            type: 'bar',
            itemStyle: {
              normal: {
                label: {
                  show: true, // 开启显示数值
                  position: 'top' // 数值在上方显示
                },
                // 这里设置每个柱子颜色不一样
                color: function (params) {
                  // 定义一个颜色数组colorList
                  var colorList = ['#cca272', '#74608f', '#d7a02b', '#c8ba23', '#91cc75', '#5470c6']
                  return colorList[params.dataIndex] || '#91cc75'
                }
              }
            },
            // 柱状图宽度
            barWidth: '20'
          }
        ]
      }
      this.$refs.chartAge.setOption(option)
    },
    drawGenderChart(data) {
      const xMap = {
        man_num: '男',
        woman_num: '女'
      }
      let dataPie = []
      for (let key in data) {
        dataPie.push({ value: data[key], name: xMap[key] })
      }
      const option = {
        tooltip: {
          trigger: 'item'
        },
        legend: {
          bottom: 10,
          left: 'center',
          textStyle: {
            color: '#999'
          }
        },
        series: [
          {
            name: '性别',
            type: 'pie',
            radius: '40%',
            data: dataPie,
            label: {
              formatter: '{d}%'
            }
          }
        ]
      }
      this.$refs.chartGender.setOption(option)
    },
    drawHealthChart(data) {
      let dataX = [], dataY = []
      for (let key in data) {
        dataX.push(key)
        dataY.push(data[key])
      }
      let yAxis = {
        type: 'value',
        splitLine: {
          show: false
        }
      }
      let maxValue = Math.max.apply(null, dataY)
      if (maxValue <= 10) {
        yAxis.max = 10
        yAxis.interval = 5
      }
      const option = {
        xAxis: {
          type: 'category',
          data: dataX
        },
        yAxis,
        grid: {
          bottom: 20,
          left: 60
        },
        series: [
          {
            data: dataY,
            type: 'bar',
            itemStyle: {
              normal: {
                label: {
                  show: true, // 开启显示数值
                  position: 'top' // 数值在上方显示
                },
                // 这里设置每个柱子颜色不一样
                color: function (params) {
                  // 定义一个颜色数组colorList
                  var colorList = ['#cca272', '#74608f', '#d7a02b']
                  return colorList[params.dataIndex] || '#74608f'
                }
              }
            },
            // 柱状图宽度
            barWidth: '20'
          }
        ]
      }
      this.$refs.chartHealth.setOption(option)
    }
  }
}
</script>

<style lang="scss" scoped>
.main-right {
  flex-basis: 360px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;

  .chart {
    flex: 1 1 auto;
    height: 260px;
    margin-bottom: 20px;
    background: url('~@/assets/image/pic_large_chart.png') no-repeat;
    background-size: 100% 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
  }

  .chart-container {
    height: 200px;
  }
}
</style>
