<template>
  <div class="main-center">
    <ul class="main-data">
      <li>
        <div>用户数</div>
        <div>{{statData.appUserNum}}</div>
      </li>
      <li>
        <div>佩戴用户数</div>
        <div>{{statData.deviceNum}}</div>
      </li>
      <li>
        <div>累计报警次数</div>
        <div>{{statData.totalWarnNum}}</div>
      </li>
      <li>
        <div>累计SOS呼叫次数</div>
        <div>{{statData.sosWarnNum}}</div>
      </li>
      <li>
        <div>累计处理次数</div>
        <div>{{statData.totalDealNum}}</div>
      </li>
    </ul>
    <div class="statistics-center-map">
      <c-map ref="map" c-id="statistics-center-map" class="match-parent" @on-initialized="onInitialized" />
      <div class="user-select">
        <div class="user has-user"><span class="dot"></span> 佩戴者</div>
      </div>
    </div>


  </div>
</template>

<script>
import CMap from '@/components/Map'
var JSONbig = require('json-bigint')
export default {
  name: 'StatisticsC',
  components: { CMap },
  data() {
    return {
      statData: { appUserNum: '', deviceNum: '', sosWarnNum: '', totalDealNum: '', totalWarnNum: '' }
    }
  },
  created() {
    this.getStatData()
    this.getMapData()
  },
  methods: {
    getStatData() {
      this.$api.alarm.monitorTot()
        .then((res) => {
          this.statData = res.data
        })
    },
    getMapData() {
      this.$api.alarm.wearerLocationInfo()
        .then((res) => {
          let points = JSON.parse(JSONbig.stringify(res.data))
          this.handleMarker(points, { color: '#99d87b' }) // 佩戴者
        })
    },
    onInitialized() {
      this.getMapData()
    },
    handleMarker(points, option) {
      this.$refs.map.setMapStyle("amap://styles/80452ef2d74255b82e702ccc78a2f294")
      for (let i = 0; i < points.length; i++) {
        // 如果点标记的经纬度信息没有，则不进行渲染
        if (!points[i].longitude) {
          continue
        }
        let width = 10
        this.$refs.map.addMarker({
          name: '佩戴者位置',   // 点标记名称
          position: [points[i].longitude, points[i].latitude],   // 点标记经纬度
          content: `<div style="background-color: ${option.color}; height: ${width}px;width: ${width}px;border:1px solid #fff; border-radius: ${width}px;"></div>`,
          title: points[i].address
        })

      }
      // this.$refs.map.setFitView()
      this.$refs.map.setZoom(5)
    }
  }
}
</script>

<style lang="scss" scoped>
.main-center {
  height: 100%;
  flex: 1 1 auto;
  margin: 0 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url('~@/assets/image/pic_large_chart.png') no-repeat;
  background-size: 100% 100%;

  .main-data {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;

    li>div:first-child {
      margin-bottom: 8px;
    }
  }

  .user-select {
    position: absolute;
    width: 86px;
    right: 12px;
    font-size: 14px;
    bottom: 20px;
    background: #ffffffa6;
    border-radius: 6px;
    line-height: 1.8;
    padding: 8px;
    border: 1px solid #fff;

    .user {
      color: #00cccc;

      .dot {
        width: 10px;
        height: 10px;
        display: inline-block;
        background-color: #00cccc;
        border: 1px solid #999;
        border-radius: 100%;
        margin-right: 8px;


      }

      &.has-user {
        color: #99d87b;

        .dot {
          background-color: #99d87b;
        }
      }
    }
  }

  .statistics-center-map {
    width: 100%;
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
  }
}
</style>
