<template>
  <el-dialog :title="isEditMode ? '修改角色' : '新增角色'" :visible.sync="iVisible" @opened="onOpened" @closed="onClosed">
    <el-form ref="form" :rules="rules" :model="form" label-width="80px">
      <el-form-item prop="role" label="角色名称">
        <el-input v-model="form.role" @keyup.enter.native="onSubmit" />
      </el-form-item>
      <el-form-item prop="permissions" label="权限">
        <el-tree ref="tree" :props="props" :data="nodes" node-key="id" show-checkbox :default-expand-all="true"
          :default-checked-keys="defaultCheckedKeys" />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'DialogRole',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: null
    },
    isEditMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        role: ''
      },
      rules: {
        role: [
          { required: true, message: '请输入角色名称', trigger: 'blur' }
        ]
      },
      props: {
        label: 'rightName',
        children: 'child'
      },
      nodes: [],
      defaultCheckedKeys: [],
      count: 1
    }
  },
  computed: {
    ...mapGetters([
      'userInfo'
    ]),
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      this.$refs.form.resetFields()
      this.defaultCheckedKeys = []
      if (this.isEditMode) {
        this.form.createdBy = this.item.createdBy.toString()
        this.form.id = this.item.id.toString()
        this.form.role = this.item.roleName
      }
      this.getPermissions()
    },
    onClosed() {
      this.$refs.form.resetFields()
      this.nodes = []
      this.count = 1
    },
    getPermissions() {
      if (!this.isEditMode) {
        this.$api.account.permissions({ id: this.$store.state.user.info.id.toString() }).then(res => {
          this.nodes = [res.data]
        })
      } else {
        this.$api.role.permissions({ accountId: this.form.createdBy, id: this.form.id }).then(res => {
          this.nodes = [res.data]
          this.defaultCheckedKeys = this.getCheckedKeys(this.nodes)
        })
      }
    },
    getCheckedKeys(data) {
      let checked = []
      if (!data || data.length === 0) {
        return checked
      }
      for (const item of data) {
        if (item.choosed === 1) {
          checked.push(item.id)
        }
        if (item.child && item.child.length > 0) {
          const checkedKeys = this.getCheckedKeys(item.child)
          if (checkedKeys.length > 0) {
            checked = checked.concat(checkedKeys)
          }
        }
      }
      return checked
    },
    onSubmit() {
      let checkedIds = this.$refs.tree.getCheckedKeys() // 选中 - 子集
      const halfCheckedIds = this.$refs.tree.getHalfCheckedKeys() // 半选 - 及父级
      checkedIds = checkedIds.concat(halfCheckedIds)

      if (checkedIds.length === 0) {
        this.$message.info('请至少分配一项权限')
        return
      }
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        if (!this.isEditMode) {
          this.create(checkedIds)
        } else {
          this.modify(checkedIds)
        }
      })
    },
    create(checkedIds) {
      this.loading = true
      this.$api.role.create({
        roleName: this.form.role,
        rightIds: checkedIds
      }).then(() => {
        this.loading = false
        this.$message.success('创建成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    },
    modify(checkedIds) {
      this.loading = true
      this.$api.role.modify({
        id: this.form.id,
        roleName: this.form.role,
        rightIds: checkedIds
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "src/styles/dialog";
@import "src/styles/form";

.el-dialog {
  //height: 100%;

  .el-tree {
    max-height: 500px;
    overflow-y: auto;
  }
}
</style>
