<template>
  <el-dialog
    :title="isEditMode ? '修改用户' : '新增用户'"
    :visible.sync="iVisible"
    @opened="onOpened"
    @closed="onClosed"
  >
    <el-form ref="form" :rules="rules" :model="form" label-width="80px">
      <el-form-item prop="phone" label="手机号码">
        <el-input
          v-model="form.phone"
          type="number"
          placeholder="请输入手机号码"
          maxlength="11"
        />
      </el-form-item>
      <el-form-item prop="password" label="密码">
        <el-input
          v-model="form.password"
          type="password"
          placeholder="请输入8-16位密码，必须包含大小写字母和数字"
          maxlength="16"
        />
      </el-form-item>
      <el-form-item prop="name" label="姓名">
        <el-input v-model="form.name" placeholder="请输入姓名" />
      </el-form-item>
      <el-form-item prop="department" label="部门">
        <el-select v-model="form.department" placeholder="请选择部门">
          <el-option
            v-for="department in departments"
            :key="department.id.toString()"
            :label="department.unitName"
            :value="department.id.toString()"
          />
        </el-select>
      </el-form-item>
      <el-form-item prop="role" label="角色">
        <el-select v-model="form.role" placeholder="请选择角色">
          <el-option
            v-for="role in roles"
            :key="role.id.toString()"
            :label="role.roleName"
            :value="role.id.toString()"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import { validPassword, validPhone } from '@/utils/validate'

export default {
  name: 'DialogUser',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: null
    },
    isEditMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validatePhone = (rule, value, callback) => {
      if (!validPhone(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('密码至少6位'))
      } else if (value.length > 16) {
        callback(new Error('密码至多16位'))
      } else if (!validPassword(value)) {
        callback(new Error('密码需包含大小写字母和数字，不能包含特殊字符'))
      } else {
        callback()
      }
    }
    return {
      form: {
        phone: '',
        password: '',
        name: '',
        department: '',
        role: ''
      },
      rules: {
        phone: [
          { required: true, message: '请输入手机号码', trigger: 'blur' },
          { trigger: 'blur', validator: validatePhone }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          { min: 6, max: 16, message: '请输入6 - 16位密码', trigger: 'blur' },
          { trigger: 'blur', validator: validatePassword }
        ],
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 2, max: 5, message: '请输入2 - 5位姓名', trigger: 'blur' }
        ],
        department: [
          { required: true, message: '请选择部门', trigger: 'change' }
        ],
        role: [
          { required: true, message: '请选择角色', trigger: 'change' }
        ]
      },
      departments: [],
      roles: [],
      loading: false
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      if (this.isEditMode) {
        this.rules = {}
        this.form.id = this.item.id.toString()
        this.form.phone = this.item.phone
        this.form.password = this.item.password
        this.form.name = this.item.alias
        this.form.department = this.item.unitId.toString()
        this.form.role = this.item.sysRoles[0].id.toString()
      }
      this.getDepartments()
      this.getRoles()
    },
    getDepartments() {
      this.$api.department.list({ size: 999 }).then(res => {
        this.departments = res.data.records
      })
    },
    getRoles() {
      if (this.roles.length !== 0) {
        return
      }
      this.$api.role.list({ size: 999 }).then(res => {
        this.roles = res.data.records
      })
    },
    onClosed() {
      this.$refs.form.resetFields()
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        if (!this.isEditMode) {
          this.create()
        } else {
          this.modify()
        }
      })
    },
    create() {
      this.loading = true
      this.$api.account.create({
        account: this.form.phone,
        phone: this.form.phone,
        password: this.form.password,
        alias: this.form.name,
        unitId: this.form.department,
        roleId: [this.form.role]
      }).then(() => {
        this.loading = false
        this.$message.success('创建成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    },
    modify() {
      this.loading = true
      this.$api.account.modify({
        id: this.form.id,
        account: this.form.phone,
        phone: this.form.phone,
        password: this.form.password,
        alias: this.form.name,
        unitId: this.form.department,
        roleId: [this.form.role]
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>

@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

</style>
