<template>
  <el-dialog
    :title="isEditMode ? '修改部门' : '新增部门'"
    :visible.sync="iVisible"
    @opened="onOpened"
    @closed="onClosed"
  >
    <el-form ref="form" :rules="rules" :model="form" label-width="80px">
      <el-form-item prop="department" label="部门名称">
        <el-input v-model="form.department" placeholder="请输入部门名称" @keyup.enter.native="onSubmit" />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
export default {
  name: 'DialogDepartment',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: null
    },
    isEditMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        department: ''
      },
      rules: {
        department: [
          { required: true, message: '请输入部门名称', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      this.$refs.form.resetFields()
      if (this.isEditMode) {
        this.form.id = this.item.id
        this.form.department = this.item.unitName
      }
    },
    onClosed() {
      this.$refs.form.resetFields()
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        if (!this.isEditMode) {
          this.create()
        } else {
          this.modify()
        }
      })
    },
    create() {
      this.loading = true
      this.$api.department.create({
        unitName: this.form.department
      }).then(() => {
        this.loading = false
        this.$message.success('创建成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    },
    modify() {
      this.loading = true
      this.$api.department.modify({
        id: this.form.id,
        unitName: this.form.department
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>

@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

</style>
