<template>
  <div class="sos-alarm-info match-parent">
    <c-map ref="map" c-id="sos-alarm-map" class="sos-alarm-map match-parent0" @on-initialized="onInitialized"
      @marker-click="onMarkerClick" />
    <ul class="info-detail">
      <li>
        <div class="label">报警时间：</div>
        <div>{{ column.createdAt | formatDate }}</div>
      </li>
      <li>
        <div class="label">报警位置：</div>
        <div>{{ column.place }} </div>
      </li>
      <li>
        <div class="label">SOS号码：</div>
        <ul class="user-list" v-if="users.length">
          <li v-for="user in users" :key="user.name">
            <div class="phone">{{ user.phone }}</div>
            <div class="user">{{ user.name }}</div>
          </li>
        </ul>
        <div v-else>无</div>
      </li>
    </ul>
    <alarm-handle-info :column="column" :warn-type="3" />
    <previous-page router-name="Alarm SOS" />

  </div>
</template>

<script>

import CMap from '@/components/Map'
import AlarmHandleInfo from '@/views/alarm/components/AlarmHandleInfo'
import PreviousPage from '@/components/PreviousPage'
import { formatter } from "@/utils/date"

export default {
  name: 'SOSInfo',
  components: { CMap, AlarmHandleInfo, PreviousPage },
  data() {
    return {
      column: {},
      users: []
    }
  },
  created() {
    this.column = this.$route.params.data || this.$store.state.routerParams.routerParams.data
    this.users = this.handleSosNumber(this.column.setting)
  },
  methods: {
    handleSosNumber(numberList) {
      try {
        let numberArr = JSON.parse(numberList)
        let numberArrT = numberArr.filter(item => {
          return item.sos == 1
        })
        return numberArrT
      } catch (error) {
        return []
      }
    },
    onInitialized() {
      this.$refs.map.addMarker({
        position: [this.column.longitude, this.column.latitude]
      })
      this.$refs.map.moveTo([this.column.longitude, this.column.latitude])
      this.$refs.map.setFitView()
    },
    onMarkerClick(e) {
      this.$refs.map.infoWindow({
        anchor: 'middle-left',
        position: e.target._position,
        content: `<div class="info-window">
                  <div class="avatar"><div class="avatar-img"></div>${this.column.call}</div>
                  <div class="time">报警时间：${formatter(this.column.createdAt)}</div>
                  <div>报警位置：${this.column.place}</div>
                </div>`
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.sos-alarm-info {
  overflow: auto;

  .sos-alarm-map {
    width: 100%;
    height: 500px;
    margin-top: -10px;
  }

  .info-detail {
    list-style: none;
    font-size: 14px;
    padding-left: 50px;

    .label {
      padding: 20px 0;
      font-weight: bold;
    }

    &>li {
      padding: 10px 0;
    }

    .user-list {
      padding-left: 0;

      li {
        display: flex;
        list-style: none;
        margin-bottom: 20px;

        div {
          width: 120px;
        }
      }
    }
  }
}

::v-deep .info-window {
  width: 300px;
  padding: 18px;
  background: #fff;
  color: #444;
  font-size: 14px;

  .avatar {
    display: flex;
    align-items: center;

    .avatar-img {
      width: 44px;
      height: 44px;
      background: url('~@/assets/icon/avatar1.png') no-repeat;
      background-size: 100% 100%;
      margin-right: 10px;
    }
  }

  .time {
    line-height: 38px;
  }

}
</style>
