<template>
  <el-dialog :title="isEditMode ? '修改型号' : '新增型号'" :visible.sync="iVisible" @opened="onOpened" @closed="onClosed">
    <el-form ref="form" :rules="rules" :model="form" label-width="80px">
      <el-form-item prop="manufacturerId" label="设备品牌">
        <el-select v-model="form.manufacturerId" placeholder="请选择设备品牌" :disabled="isEditMode">
          <el-option v-for="manufacturer in manufacturers" :key="manufacturer.id.toString()" :label="manufacturer.name"
            :value="manufacturer.id.toString()" />
        </el-select>
      </el-form-item>
      <!--      <el-form-item prop="code" label="设备型号">-->
      <!--        <el-input-->
      <!--          v-model="form.code"-->
      <!--          placeholder="请输入最大16位型号名称"-->
      <!--          maxlength="16"-->
      <!--          :disabled="isEditMode"-->
      <!--        />-->
      <!--      </el-form-item>-->
      <el-form-item prop="name" label="设备型号">
        <el-input v-model="form.name" placeholder="请输入最大16位型号名称" maxlength="16" :disabled="isEditMode" />
      </el-form-item>
      <el-form-item prop="deviceSeries" label="设备系列">
        <el-radio-group v-model="form.deviceSeries" :disabled="isEditMode">
          <el-radio :label="0">to C</el-radio>
          <el-radio :label="1">to B</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item prop="cover" label="封面图片">
        <image-uploader ref="uploader" upload-id="model-cover-uploader" :url="form.cover" />
        <p class="uploader-tip">尺寸：200px * 200px 比例为最佳，像素越高越清晰</p>
      </el-form-item>
      <el-form-item prop="userGuide" label="使用指南">
        <el-input v-model="form.userGuide" placeholder="请输入用户指南地址"/>
      </el-form-item>
      <el-form-item prop="pairingWizard" v-if="form.deviceSeries==1" label="配对向导">
        <el-input type="textarea" v-model="form.pairingWizard" placeholder="请输入配对向导" maxlength="800" />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import ImageUploader from '@/components/Upload/image'

export default {
  name: 'DialogDeviceModel',
  components: { ImageUploader },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: null
    },
    isEditMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        manufacturerId: '',
        code: '',
        name: '',
        cover: '',
        deviceSeries: 0,
        userGuide: '',
        pairingWizard: ''
      },
      rules: {
        manufacturerId: [
          { required: true, message: '请选择设备品牌', trigger: 'blur' }
        ],
        // code: [
        //   { required: true, message: '请输入型号编码', trigger: 'blur' },
        //   { max: 16, message: '请输入最大16位型号编码', trigger: 'blur' }
        // ],
        name: [
          { required: true, message: '请输入型号名称', trigger: 'blur' },
          { max: 16, message: '请输入最大16位型号名称', trigger: 'blur' }
        ]
      },
      manufacturers: [],
      loading: false
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      if (this.isEditMode) {
        this.rules = {}
        this.form.id = this.item.id.toString()
        this.form.manufacturerId = this.item.manufacturerId.toString()
        this.form.code = this.item.code
        this.form.name = this.item.name
        this.form.cover = this.item.imgUrl
        this.form.deviceSeries = this.item.deviceSeries || 0
        this.form.userGuide = this.item.userGuide || ''
        this.form.pairingWizard = this.item.pairingWizard || ''

        this.$refs.uploader.init(this.form.cover)
      }
      this.getManufacturers()
    },
    getManufacturers() {
      this.$api.manufacturer.list({ size: 999 }).then(res => {
        this.manufacturers = res.data.records
      })
    },
    onClosed() {
      this.$refs.uploader.reset()
      this.$refs.form.resetFields()
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        if (!this.isEditMode) {
          this.preCreate()
        } else {
          this.preModify()
        }
      })
    },
    preCreate() {
      this.loading = true
      if (this.$refs.uploader.isChanged) {
        this.$refs.uploader.upload().then(url => {
          this.create(url)
        })
      } else {
        this.create(null)
      }
    },
    create(url = null) {
      this.form.code = this.form.name
      this.$api.deviceModel.create({
        manufacturerId: this.form.manufacturerId,
        code: this.form.code,
        name: this.form.name,
        imgUrl: url,
        deviceSeries: this.form.deviceSeries,
        userGuide: this.form.userGuide.trim(),
        pairingWizard: this.form.deviceSeries === 1 ? this.form.pairingWizard : ''
      }).then(() => {
        this.loading = false
        this.$message.success('创建成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    },
    preModify() {
      this.loading = true
      if (this.$refs.uploader.isChanged) {
        this.$refs.uploader.upload().then(url => {
          this.modify(url)
        })
      } else {
        this.modify()
      }
    },
    modify(url = null) {
      this.loading = true
      this.$api.deviceModel.modify({
        id: this.form.id,
        // name: this.form.name, // 已更新为不可更改
        userGuide: this.form.userGuide.trim(),
        pairingWizard: this.form.pairingWizard,
        imgUrl: url
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

.uploader-tip {
  color: #999;
  font-size: 12px;
}
::v-deep .el-textarea{
  textarea{
    min-height: 120px !important;
  }
}
</style>
