<template>
  <el-dialog title="修改品牌" :visible.sync="iVisible" @opened="onOpened" @closed="onClosed">
    <el-form ref="form" :rules="rules" :model="form" label-width="80px">
      <el-form-item prop="name" label="品牌名称">
        <el-input v-model="form.name" placeholder="请输入品牌名称" maxlength="16" />
      </el-form-item>
      <el-form-item prop="cover" label="封面图片">
        <image-uploader ref="uploader" upload-id="manufacturer-cover-uploader" :url="form.cover" />
        <p class="uploader-tip">尺寸：200px * 200px 比例为最佳，像素越高越清晰</p>
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import ImageUploader from '@/components/Upload/image'

export default {
  name: 'DialogManufacturer',
  components: { ImageUploader },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      form: {
        name: '',
        cover: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入品牌名称', trigger: 'blur' },
          { max: 16, message: '请输入最大16位品牌名称', trigger: 'blur' }
        ]
      },
      departments: [],
      roles: [],
      loading: false
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      this.rules = {}
      this.form.id = this.item.id.toString()
      this.form.name = this.item.name
      this.form.cover = this.item.imgUrl

      this.$refs.uploader.init(this.form.cover)
    },
    onClosed() {
      this.$refs.uploader.reset()
      this.$refs.form.resetFields()
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        this.preModify()
      })
    },
    preModify() {
      this.loading = true
      if (this.$refs.uploader.isChanged) {
        this.$refs.uploader.upload().then(url => {
          this.modify(url)
        })
      } else {
        this.modify()
      }
    },
    modify(url = null) {
      this.$api.manufacturer.modify({
        id: this.form.id,
        name: this.form.name,
        imgUrl: url
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

.uploader-tip {
  color: #999;
  font-size: 12px;
}
</style>
