<template>
  <el-dialog
    :title="isEditMode ? '修改配置' : '新增配置'"
    :visible.sync="iVisible"
    @opened="onOpened"
    @closed="onClosed"
  >
    <el-form ref="form" :rules="rules" :model="form" label-width="80px">
      <el-form-item prop="manufacturerId" label="设备品牌">
        <el-select
          v-model="form.manufacturerId"
          placeholder="请选择设备品牌"
          :disabled="isEditMode"
          @change="onManufacturerChanged"
        >
          <el-option
            v-for="manufacturer in manufacturers"
            :key="manufacturer.id.toString()"
            :label="manufacturer.name"
            :value="manufacturer.id.toString()"
          />
        </el-select>
      </el-form-item>
      <el-form-item prop="deviceModelId" label="设备型号">
        <el-select
          v-model="form.deviceModelId"
          placeholder="请选择设备型号"
          :disabled="isEditMode"
          @change="onDeviceModelChanged"
        >
          <el-option
            v-for="model in deviceModels"
            :key="model.id.toString()"
            :label="model.name"
            :value="model.id.toString()"
          />
        </el-select>
      </el-form-item>
      <el-form-item prop="functions" label="设备功能">
        <el-tree
          ref="tree"
          :props="props"
          :data="nodes"
          node-key="id"
          show-checkbox
          :default-expand-all="true"
          :default-checked-keys="defaultCheckedKeys"
        />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

export default {
  name: 'DialogDeviceConfig',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: null
    },
    isEditMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        manufacturerId: '',
        deviceModelId: '',
        functions: ''
      },
      rules: {
        manufacturerId: [
          { required: true, message: '请选择设备品牌', trigger: 'blur' }
        ],
        deviceModelId: [
          { required: true, message: '请选择设备型号', trigger: 'blur' }
        ],
        functions: [
          { required: true, message: '请至少分配一项权限', trigger: 'blur' }
        ]
      },
      manufacturers: [],
      deviceModels: [],
      loading: false,
      props: {
        label: 'name',
        children: 'appMenuVos'
      },
      nodes: [],
      defaultCheckedKeys: []
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      if (this.isEditMode) {
        this.rules = {}
        this.form.deviceModelId = this.item.id.toString()
        this.form.manufacturerId = this.item.manufacturerId.toString()
        this.form.name = this.item.name
        this.onManufacturerChanged(this.form.manufacturerId)
        this.onDeviceModelChanged(this.form.deviceModelId)
      }
      this.getManufacturers()
    },
    getManufacturers() {
      this.$api.manufacturer.list({ size: 999 }).then(res => {
        this.manufacturers = res.data.records
      })
    },
    onManufacturerChanged(manufacturerId) {
      if (!this.isEditMode) {
        // 清空上次选择型号
        this.form.deviceModelId = ''
      }

      this.$api.deviceModel.list({ manufacturerId: manufacturerId, size: 999 }).then(res => {
        this.deviceModels = res.data.records
      })
    },
    onDeviceModelChanged(deviceModelId) {
      if (!this.isEditMode) {
        // 清空上次选择型号
        this.form.functions = []
      }
      this.$api.deviceModel.menusById({ id: deviceModelId }).then(res => {
        this.nodes = [res.data]
        this.defaultCheckedKeys = this.getCheckedKeys(this.nodes)
      })
    },
    getCheckedKeys(data) {
      let checked = []
      if (!data || data.length === 0) {
        return checked
      }
      for (const item of data) {
        if (item.choosed === 1) {
          checked.push(item.id)
        }
        if (item.appMenuVos && item.appMenuVos.length > 0) {
          const checkedKeys = this.getCheckedKeys(item.appMenuVos)
          if (checkedKeys.length > 0) {
            checked = checked.concat(checkedKeys)
          }
        }
      }
      return checked
    },
    onClosed() {
      this.$refs.form.resetFields()
      this.nodes = []
    },
    onSubmit() {
      let checkedIds = this.$refs.tree.getCheckedKeys() // 选中 - 子集
      const halfCheckedIds = this.$refs.tree.getHalfCheckedKeys() // 半选 - 及父级
      checkedIds = checkedIds.concat(halfCheckedIds)

      if (checkedIds.length === 0) {
        this.$message.info('请至少分配一项权限')
        return
      }
      this.form.functions = checkedIds
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        if (!this.isEditMode) {
          this.create(checkedIds)
        } else {
          this.modify(checkedIds)
        }
      })
    },
    create(checkedIds) {
      this.loading = true
      this.$api.deviceModel.create({
        manufacturerId: this.form.manufacturerId,
        id: this.form.deviceModelId,
        menuIds: checkedIds
      }).then(() => {
        this.loading = false
        this.$message.success('创建成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    },
    modify(checkedIds) {
      this.loading = true
      this.$api.deviceModel.modify({
        manufacturerId: this.form.manufacturerId,
        id: this.form.deviceModelId,
        menuIds: checkedIds
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>

@import "src/styles/dialog";
@import "src/styles/form";

.el-dialog {

  .el-tree {
    max-height: 500px;
    overflow-y: auto;
  }
}

</style>
