<template>
  <div class="fall-alarm-info match-parent">
    <c-map ref="map" c-id="fall-alarm-map" class="fall-alarm-map match-parent0" @on-initialized="onInitialized"
      @marker-click="onMarkerClick" />
    <ul class="info-detail">
      <li>
        <div class="label">报警时间：</div>
        <div>{{ column.createdAt | formatDate }}</div>
      </li>
      <li>
        <div class="label">报警位置：</div>
        <div>{{ column.place }} </div>
      </li>
    </ul>
    <alarm-handle-info :column="column" :warn-type="2" />
    <previous-page router-name="Alarm Fall" />
  </div>
</template>

<script>

import CMap from '@/components/Map'
import PreviousPage from '@/components/PreviousPage'
import AlarmHandleInfo from '@/views/alarm/components/AlarmHandleInfo'
import { formatter } from "@/utils/date"

export default {
  name: 'FallInfo',
  components: { CMap, AlarmHandleInfo, PreviousPage },
  data() {
    return {
      column: {}
    }
  },
  created() {
    this.column = this.$route.params.data
  },
  methods: {
    onInitialized() {
      this.$refs.map.addMarker({
        position: [this.column.longitude, this.column.latitude]
      })
      this.$refs.map.moveTo([this.column.longitude, this.column.latitude])
      this.$refs.map.setFitView()
    },
    onMarkerClick(e) {
      this.$refs.map.infoWindow({
        anchor: 'middle-left',
        position: e.target._position,
        content: `<div class="info-window">
                  <div class="avatar"><div class="avatar-img"></div>${this.column.call}</div>
                  <div class="time">报警时间：${formatter(this.column.createdAt)}</div>
                  <div>报警位置：${this.column.place}</div>
                  <div style="margin-top:26px;">家人电话：${this.column.amobile}</div>
                </div>`
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.fall-alarm-info {

  .fall-alarm-map {
    width: 100%;
    height: 500px;
    margin-top: -10px;
  }

  .info-detail {
    list-style: none;
    font-size: 14px;
    padding-left: 50px;

    .label {
      padding: 20px 0;
      font-weight: bold;
    }

    &>li {
      padding: 10px 0;
    }

    .fence-list {
      padding-left: 0;

      li {
        list-style: none;
        margin-bottom: 20px;
      }
    }
  }
}

::v-deep .info-window {
  width: 300px;
  padding: 18px;
  background: #fff;
  color: #444;
  font-size: 14px;

  .avatar {
    display: flex;
    align-items: center;

    .avatar-img {
      width: 44px;
      height: 44px;
      background: url('~@/assets/icon/avatar1.png') no-repeat;
      background-size: 100% 100%;
      margin-right: 10px;
    }
  }

  .time {
    line-height: 38px;
  }

}
</style>
