<template>
  <el-container class="record-wrapper match-parent">
    <el-header>
      <el-form ref="form" :model="form" label-width="100px">
        <el-form-item prop="date" label="选择日期">
          <el-date-picker v-model="form.date" type="daterange" range-separator="至" start-placeholder="开始日期"
            end-placeholder="结束日期" value-format="yyyy-MM-dd"/>
        </el-form-item>
        <el-form-item prop="keyword" label="搜索关键字">
          <el-input v-model="form.keyword" placeholder="用户ID、IMEI、佩戴者手机号码" @keyup.enter.native="submit" />
        </el-form-item>
        <el-form-item>
          <el-button class="btn-search" type="primary" @click="submit">搜索</el-button>
          <!--          <el-button @click="onResetClick">清空</el-button>-->
        </el-form-item>
      </el-form>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:familyNumberList="{ row }">
          {{familyNumberFormatter(row.familyNumberList)}}
        </template>
        <template v-slot:alarmDate="{ row }">
          {{ dateFormatter(row.createdAt) }}
        </template>
        <template v-slot:operate="{ row }">
          <el-button type="text" size="small" @click="onItemInfoClick(row)">
            查看详情
          </el-button>
          <el-button type="text" size="small" @click="onItemLargeClick(row)">
            预警大屏
          </el-button>
          <el-button v-if="row.dealSign === 1" type="text" class="color-success" size="small"
            @click="onHandleBtnClick(row)">
            已受理
          </el-button>
          <el-button v-else type="text" class="color-warning" size="small" @click="onHandleBtnClick(row)">
            未受理
          </el-button>
        </template>
      </c-table>
    </el-main>
    <large-screen :visible.sync="largeScreenVisible" :column="selectedItem" />
    <handle-dialog :visible.sync="handleVisible" :warn-type="4" :column="selectedItem"
      :is-view-mode="selectedItem.dealSign === 1" @on-success="onSuccess" />
  </el-container>
</template>

<script>

import CTable from '@/components/Table'
import LargeScreen from '@/views/alarm/large'
import HandleDialog from "@/views/alarm/components/HandleDialog";
import { formatter } from '@/utils/date'

export default {
  name: 'FenceAlarm',
  components: { LargeScreen, CTable, HandleDialog },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 9, label: '操作', width: 240, slot: 'operate', align: 'center'},
        { id: 2, label: '用户ID', prop: 'accountId', width: 140, align: 'center' },
        { id: 3, label: '用户手机号码', prop: 'amobile', width: 120, align: 'center' },
        { id: 4, label: '佩戴者手机号码', prop: 'mmobile', width: 120, align: 'center' },
        {
          id: 5, label: "紧急联系人电话", slot: 'familyNumberList', width: 210, align: 'center'
        },
        { id: 6, label: '报警时间', slot: 'alarmDate', width: 180, align: 'center' },
        { id: 7, label: '报警地点', prop: 'place', width: 240, align: 'center' },
        { id: 8, label: '佩戴者', prop: 'call', align: 'center' }
      ],
      form: {
        date: null,
        startTime: null,
        endTime: null,
        keyword: null
      },
      largeScreenVisible: false,
      selectedItem: {},
      handleVisible: false
    }
  },
  watch: {
    form: {
      handler: function (params) {
        if (params.date) {
          this.form.startTime = params.date[0]
          this.form.endTime = params.date[1]
        } else {
          this.form.startTime = null
          this.form.endTime = null
        }
      },
      deep: true
    }
  },
  computed: {
    familyNumberFormatter() {
      return function (numberList) {
        let numberArr = numberList.map(item => {
          return item.phone
        })
        return numberArr.join(',');
      }
    }
  },
  methods: {
    dateFormatter(date) {
      return formatter(date)
    },
    // onResetClick() {
    //   this.$refs.form.resetFields()
    //   this.form.date = null // 解决日期选择器重置后 1970 问题
    //   this.$nextTick(() => {
    //     this.$refs.table.reload()
    //   })
    // },
    onItemInfoClick(data) {
      this.$router.push({ name: 'Alarm Fence Info', params: { data } })
    },
    onItemLargeClick(data) {
      this.selectedItem = data
      this.largeScreenVisible = true
    },
    submit() {
      this.$refs.table.reload()
    },
    onTableLoad(index, size, callback) {
      this.$api.alarm.fenceList({
        page: index,
        size,
        startDate: this.form.startTime,
        endDate: this.form.endTime,
        search: this.form.keyword
      })
        .then((res) => {
          callback(res.data)
        })
    },
    onHandleBtnClick(row) {
      this.selectedItem = row
      this.handleVisible = true
    },
    onSuccess() {
      this.$refs.table.load()
    }
  }
}
</script>

<style lang="scss" scoped>
.el-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .el-form {
    display: flex;

    .el-form-item {
      margin-bottom: 0;
    }
  }
}

.el-main {
  padding-top: 0;
}
</style>
