<template>
  <el-container class="news-wrapper match-parent">
    <el-header class="flex-start">
      <el-form ref="form" :model="form" label-width="100px">
        <el-form-item prop="date" label="选择日期">
          <el-date-picker
            v-model="form.date"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
        <el-form-item prop="keyword" label="搜索关键字">
          <el-input v-model="form.keyword" placeholder="请输入文章标题" @keyup.enter.native="submit" />
        </el-form-item>
        <el-form-item>
          <el-button class="btn-search" type="primary" @click="submit">搜索</el-button>
          <!--          <el-button @click="onResetClick">清空</el-button>-->
        </el-form-item>
      </el-form>
    </el-header>
    <el-header class="flex-end">
      <el-button type="primary" icon="el-icon-plus" @click="onAddClick">新增</el-button>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:state="{ row }">
          {{ stateFormatter(row.state) }}
        </template>
        <template v-slot:releaseType="{ row }">
          {{ typeFormatter(row.releaseType) }}
        </template>
        <template v-slot:publishTime="{ row }">
          {{ dateFormatter(row.createdAt) }}
        </template>
        <template v-slot:operate="{ row }">
          <el-button
            v-if="row.state !== 1"
            type="text"
            size="small"
            @click="onItemPublishClick(row)"
          >
            发布
          </el-button>
          <el-button
            v-if="row.state === 1"
            type="text"
            size="small"
            class="button-delete"
            @click="onItemTakeDownClick(row)"
          >
            下架
          </el-button>
          <el-button
            type="text"
            size="small"
            @click="onItemEditClick(row)"
          >
            编辑
          </el-button>
          <el-button
            type="text"
            size="small"
            class="button-delete"
            @click="onItemDeleteClick(row)"
          >
            删除
          </el-button>
        </template>
      </c-table>
    </el-main>
  </el-container>
</template>

<script>

import CTable from '@/components/Table'
import NewsState from '@/enum/NewsState'
import ReleaseType from '@/enum/ReleaseType'
import { formatter } from '@/utils/date'
import NewsType from '@/enum/NewsType'

export default {
  name: 'Index',
  components: { CTable },
  data() {
    return {
      form: {
        date: null,
        startTime: null,
        endTime: null,
        keyword: null
      },
      /**
       * content: "fadfasdfa"
       * cover: "http:127.0.0.1:2345/zz/a.jpg"
       * createdAt: "2021-12-16T08:09:52.569+0000"
       */
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: '标题', prop: 'title' },
        { id: 3, label: '状态', width: 80, align: 'center', slot: 'state' },
        { id: 4, label: '发布渠道', width: 80, align: 'center', slot: 'releaseType' },
        { id: 5, label: '发布时间', width: 240, slot: 'publishTime' },
        { id: 6, label: '阅读量', prop: 'readCount', width: 120 },
        { id: 7, label: '点赞量', prop: 'thumbsUpCount', width: 120 },
        { id: 8, label: '转发量', prop: 'forward', width: 120 },
        { id: 9, label: '操作', width: 240, slot: 'operate' }
      ]
    }
  },
  watch: {
    form: {
      handler: function(params) {
        if (params.date) {
          this.form.startTime = params.date[0]
          this.form.endTime = params.date[1]
        } else {
          this.form.startTime = null
          this.form.endTime = null
        }
      },
      deep: true
    }
  },
  methods: {
    stateFormatter(state) {
      return NewsState.valueOf(state)
    },
    typeFormatter(state) {
      return ReleaseType.valueOf(state)
    },
    dateFormatter(date) {
      return formatter(date)
    },
    // onResetClick() {
    //   this.$refs.form.resetFields()
    //   this.form.date = null // 解决日期选择器重置后 1970 问题
    //   this.$nextTick(() => {
    //     this.$refs.table.reload()
    //   })
    // },
    onAddClick() {
      this.$router.push({ name: 'News Save' })
    },
    onItemPublishClick(item) {
      this.$api.news.modify({
        id: item.id,
        state: NewsState.PUBLISHED
      }).then(() => {
        this.$message.success('发布成功')
        this.$refs.table.reload()
      })
    },
    onItemTakeDownClick(item) {
      this.$api.news.modify({
        id: item.id,
        state: NewsState.DRAFT
      }).then(() => {
        this.$message.success('下架成功')
        this.$refs.table.reload()
      })
    },
    onItemEditClick(item) {
      this.$router.push({ name: 'News Save', params: { news: item }})
    },
    onItemDeleteClick(item) {
      const title = NewsType.titleOf(item.type)
      this.$confirm(`此操作将永久删除该${title}, 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.news.delete({ id: item.id }).then(res => {
          this.$message.success('删除成功!')
          this.submit()
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    },
    onTableLoad(index, size, callback) {
      this.$api.news.list({
        page: index,
        size,
        startDate: this.form.startTime,
        endDate: this.form.endTime,
        title: this.form.keyword
      }).then(res => {
        callback(res.data)
      })
    },
    submit() {
      this.$refs.table.reload()
    }
  }
}
</script>

<style lang="scss" scoped>
.el-header {

  .el-form {
    display: flex;

    .el-form-item {
      margin-bottom: 0;
    }
  }
}

.el-main {
  padding-top: 0;
}
</style>
