<template>
  <el-container class="device-manage-wrapper match-parent">
    <el-header class="flex-start">
      <el-form ref="form" :model="form" label-width="100px">
        <el-form-item prop="warrantyState" label="日志类型">
          <el-select v-model="form.warrantyState" placeholder="请选择日志类型">
            <el-option
              v-for="item in warrantyStates"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item prop="date" label="操作时间">
          <el-date-picker
            v-model="form.date"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
        <el-form-item prop="keyword" label="搜索关键字">
          <el-input
            v-model="form.keyword"
            placeholder="请输入关键字"
            @keyup.enter.native="submit"
          />
        </el-form-item>
        <el-form-item>
          <el-button class="btn-search" type="primary" @click="submit"
            >搜索</el-button
          >
          <!--          <el-button @click="onResetClick">清空</el-button>-->
        </el-form-item>
      </el-form>
    </el-header>
    <!-- <el-header class="flex-end">
      <device-upload @on-success="onUploadSuccess" />
      <el-button type="text" @click="onModelDownloadClick">模板下载</el-button>
    </el-header> -->
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:date="{ row }">
          {{ dateFormatter(row.createdAt) }}
        </template>
        <template v-slot:type="{ row }">
          {{ logtype(row.logType) }}
        </template>
        <!-- <template v-slot:operate="{ row }">
          <el-button
            type="text"
            size="small"
            @click="onItemInfoClick(row)"
          >
            查看详情
          </el-button>
        </template> -->
      </c-table>
    </el-main>
    <dialog-user />
  </el-container>
</template>

<script>
import DialogUser from "@/views/account/permission/components/dialog-user";
import CTable from "@/components/Table";
import { formatter } from "@/utils/date";
export default {
  name: "Index",
  components: { CTable, DialogUser },
  data() {
    return {
      columns: [
        { id: 1, type: "index", label: "序号", width: 60, align: "center" },
        { id: 2, label: "ID", prop: "id", width: 180 },
        {
          id: 3,
          label: "操作时间",
          prop: "createdAt",
          width: 180,
          slot: "date",
        },
        { id: 4, label: "操作内容", prop: "logContent", align: "center" },
        {
          id: 5,
          label: "日志类型",
          prop: "logType",
          width: 180,
          align: "center",
          slot: "type",
        },
        { id: 6, label: "操作人", prop: "username", width: 180 },
        { id: 7, label: "ip地址", prop: "ip", width: 180, align: "center" },
      ],
      form: {
        warrantyState: null,
        date: null,
        startTime: null,
        endTime: null,
        keyword: null,
      },
      warrantyStates: [
        {
          value: null,
          label: "全部",
        },
        {
          value: 1,
          label: "登录",
        },
        {
          value: 2,
          label: "操作",
        },
      ],
    };
  },
  watch: {
    form: {
      handler: function (params) {
        if (params.date) {
          this.form.startTime = params.date[0];
          this.form.endTime = params.date[1];
        } else {
          this.form.startTime = null;
          this.form.endTime = null;
        }
      },
      deep: true,
    },
  },
  methods: {
    dateFormatter(date) {
      return formatter(date);
    },
    logtype(type) {
      if (type === 1) {
        return "登录日志";
      }
      return "操作日志";
    },
    onTableLoad(index, size, callback) {
      this.$api.log
        .list({
          page: index,
          size,
          createTimeBegin: this.form.startTime,
          createTimeEnd: this.form.endTime,
          keyWord: this.form.keyword,
          logType: this.form.warrantyState,
        })
        .then((res) => {
          callback(res.data);
        });
    },
    // onItemInfoClick(data) {
    //   this.$router.push({ name: 'Device Info', params: { data: data }})
    // },
    // onModelDownloadClick() {
    //   window.location.href = 'https://files.greatech.com.cn/file/template/device_import.xlsx'
    // },
    submit() {
      this.$refs.table.reload();
    },
    onUploadSuccess() {
      this.submit();
    },
  },
};
</script>

<style lang="scss" scoped>
.device-manage-wrapper {
}

.el-header {
  .el-form {
    display: flex;

    .el-form-item {
      margin-bottom: 0;
    }
  }
}

.el-main {
  padding-top: 0;
}

.device-upload {
  margin-right: 20px;
}
</style>
