<template>
  <div class="temperature-alarm">
    <c-chart ref="chart" c-id="temperature-alarm-chart" class="temperature-chart" />
    <div class="alarm-info">
      <div>{{ dateFormatter(column.createdAt) }}</div>
      <div class="alarm-data">
        <div>
          <span>体温异常：</span>
          <span>{{ column.abnormalData }}</span>
        </div>
        <div>
          <span>预设正常值：</span>
          <span>{{ column.normalData }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import CChart from '@/components/Chart'
import { formatter, getMinutesOfDay } from '@/utils/date'
import DailyOption from '@/utils/echarts/temperature/day'

export default {
  name: 'TemperatureAlarm',
  components: { CChart },
  props: {
    column: {
      type: Object,
      required: true
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    dateFormatter(date) {
      return formatter(date)
    },
    load() {
      const result = []
      if (this.column && this.column.abnormalData) {
        const xValue = getMinutesOfDay(this.column.createdAt)
        result.push([xValue, this.column.abnormalData])
      }
      const option = new DailyOption()
      option.series[0].data = result
      option.series[0].symbol = 'circle'
      option.series[0].symbolSize = 10
      this.$refs.chart.setOption(option)
    }
  }
}
</script>

<style lang="scss" scoped>
.temperature-alarm {
  padding: 20px;

  .temperature-chart {
    width: 100%;
    height: 500px;
    margin-top: 20px;
  }

  .alarm-info {
    padding: 20px 30px;
    font-size: 14px;
    line-height: 32px;

    .alarm-data {
      &>div {
        display: inline-block;
        padding-right: 40px;
      }
    }
  }
}
</style>
