<template>
  <el-container class="account-wrapper match-parent">
    <el-header class="flex-end"> </el-header>
    <el-tree
      class="filter-tree"
      :data="data"
      :props="defaultProps"
      default-expand-all
      :filter-node-method="filterNode"
      ref="tree"
      :expand-on-click-node="false"
    >
      <span class="custom-tree-node" slot-scope="{ node, data }">
        <span>{{ node.label }}</span>
        <span>
          <el-button type="text" size="mini" @click="() => append(node, data)"
            >添加</el-button
          >
          <el-button type="text" size="mini" @click="() => edit(node, data)"
            >编辑</el-button
          >
          <el-button type="text" size="mini" @click="() => remove(node, data)"
            >删除</el-button
          >
        </span>
      </span>
    </el-tree>
    <dialog-service
      :type="0"
      :visible.sync="dialogVisible"
      :is-edit-mode="isEditMode"
      :item.sync="toEditItem"
      @on-success="onSuccess"
    />
  </el-container>
</template>

<script>
import DialogService from "@/views/service/list/components/dialog-service";

export default {
  name: "Index",
  components: { DialogService },
  data() {
    return {
      defaultProps:'',
      data: [],
      dialogVisible: false,
      isEditMode: false,
      toEditItem: null,
      data2: [
        {
          id: 1750417344905048000,
          name: "增值服务",
          code: "",
          describe: "增值服务菜单",
          imgUrl: "",
          sortNo: 1,
          status: 0,
          serviceType: 0,
          children: [
            {
              id: 1760571077391437800,
              parentId: 1750417344905048000,
              name: "疾病预警",
              code: "system:service:disease:warning",
              describe: "心梗/脑卒中/房颤/慢阻肺风险疾病预警",
              price: 0.01,
              imgUrl: "",
              sortNo: 3,
              status: 0,
              serviceType: 1,
              children: [],
            },
            {
              id: 1752897479864434700,
              parentId: 1750417344905048000,
              name: "健康报告",
              code: "system:service:report",
              describe: "（日报/周报/月报/年报）",
              price: 0.02,
              imgUrl: "",
              sortNo: 2,
              status: 0,
              serviceType: 1,
              children: [],
            },
            {
              id: 1750417539625611300,
              parentId: 1750417344905048000,
              name: "短信提醒",
              code: "system:service:message",
              describe: "健康异常短信提醒",
              price: 0.01,
              imgUrl: "",
              sortNo: 1,
              status: 0,
              serviceType: 1,
              children: [],
            },
          ],
        },
      ],
    };
  },

  created() {
    this.getListData();
  },
  methods: {
    filterNode(){},
    onSuccess(){},
    append(node, data) {
      this.toEditItem = data;
      this.isEditMode = false;
      this.dialogVisible = true;
      // const newChild = {
      //   id: node.id++,
      //   label: "testtest",
      //   children: [],
      // };
      // if (!data.children) {
      //   this.$set(data, "children", []);
      // }
      // data.children.push(newChild);
    },
    edit(node, data) {
      console.log(128,data)
      this.toEditItem = data;
      this.isEditMode = true;
      this.dialogVisible = true;
    },

    remove(node, data) {
      console.log("66666" + node.serviceType + data.serviceType);
      if (data.serviceType === -1) {
        alert("父节点禁止删除");
        return;
      }
      this.$api.service.delete({ id: data.id }).then((res) => {
        if (res.code === 0) {
          const parent = node.parent;
          const children = parent.data.children || parent.data;
          const index = children.findIndex((d) => d.id === data.id);
          children.splice(index, 1);
        }
      });
    },
    // async getListData(){
    //   const{data:res}= await this.$api.service.list()

    getListData() {
      // this.$api.service.list().then((res) => {
        // if (res.code !== 0) {
        //   return;
        // }
        // console.log(res);
        // this.data = res.data;
        this.data = this.data2;
        let d = [
          {
            id: 1,
            label: "父节点",
            describe: "父节点",
            serviceType: -1,
            children: [],
          },
        ];
        for (let item of this.data) {
          let t = {
            id: item.id,
            label: item.name,
            describe: item.describe,
            serviceType: item.serviceType,
            children: [],
          };
          for (let c of item.children) {
            let t_c = {
              id: c.id,
              label: c.name,
              describe: c.describe,
              serviceType: c.serviceType,
            };
            t.children.push(t_c);
          }
          d[0].children.push(t);
        }
        this.data = d;
        console.log(this.data);
      // });
    },
  },
};
</script>

<style lang="scss" scoped>
.account-wrapper {
}

.el-main {
  padding-top: 0;
}
</style>
