<template>
  <el-container class="user-wrapper match-parent">
    <el-header>
      <el-form ref="form" :model="form" label-width="100px">
        <el-form-item prop="date" label="选择日期">
          <el-date-picker v-model="form.date" type="daterange" range-separator="至" start-placeholder="开始日期"
            end-placeholder="结束日期" value-format="yyyy-MM-dd"/>
        </el-form-item>
        <el-form-item prop="keyword" label="搜索关键字">
          <el-input v-model="form.keyword" placeholder="手机号码、昵称" @keyup.enter.native="submit" />
        </el-form-item>
        <el-form-item>
          <el-button class="btn-search" type="primary" @click="submit">搜索
          </el-button>
          <!--          <el-button @click="onResetClick">清空</el-button>-->
        </el-form-item>
      </el-form>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:registerTime="{ row }">
          {{ dateFormatter(row.registDate) }}
        </template>
        <template v-slot:bindNum="{ row }">
          {{ row.bindNum }}
        </template>
        <template v-slot:circle="{ row }">
          {{ row.familyCircleList.length }}
        </template>
        <template v-slot:operate="{ row }">
          <el-button type="text" size="small" @click="onItemInfoClick(row)">
            查看详情
          </el-button>
        </template>
      </c-table>
    </el-main>
    <dialog-user />
    <router-view />
  </el-container>
</template>

<script>

import DialogUser from '@/views/account/permission/components/dialog-user'
import CTable from '@/components/Table'
import { formatter } from '@/utils/date'

export default {
  name: 'UserList',
  components: { CTable, DialogUser },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: 'ID', prop: 'id', width: 120 },
        { id: 3, label: '手机号码', prop: 'phone', width: 180 },
        { id: 4, label: '注册时间', width: 240, slot: 'registerTime' },
        { id: 5, label: '昵称', prop: 'alias', width: 240 },
        { id: 6, label: '绑定设备', align: 'center', slot: 'bindNum' },
        { id: 7, label: '家庭圈', align: 'center', slot: 'circle' },
        { id: 8, label: '操作', width: 240, slot: 'operate' }
      ],
      form: {
        date: null,
        startTime: null,
        endTime: null,
        keyword: null
      }
    }
  },
  watch: {
    form: {
      handler: function (params) {
        if (params.date) {
          this.form.startTime = params.date[0]
          this.form.endTime = params.date[1]
        } else {
          this.form.startTime = null
          this.form.endTime = null
        }
      },
      deep: true
    }
  },
  methods: {
    dateFormatter(date) {
      return formatter(date)
    },
    onTableLoad(index, size, callback) {
      this.$api.user
        .list({
          page: index,
          size,
          startDate: this.form.startTime,
          endDate: this.form.endTime,
          phone: this.form.keyword
        })
        .then((res) => {
          callback(res.data)
        })
    },
    // onResetClick() {
    //   this.$refs.form.resetFields()
    //   this.form.date = null // 解决日期选择器重置后 1970 问题
    //   this.$nextTick(() => {
    //     this.$refs.table.reload()
    //   })
    // },
    onItemInfoClick(data) {
      this.$router.push({ name: 'Account Info', params: { data: data } })
    },
    submit() {
      this.$refs.table.reload()
    }
  }
}
</script>

<style lang="scss" scoped>
.user-wrapper {}

.el-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  .el-form {
    display: flex;

    .el-form-item {
      margin-bottom: 0;
    }
  }
}

.el-main {
  padding-top: 0;
}
</style>
