// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
  // color:#444 !important;
}
.el-table{
  border-radius: 3px;
  // .el-table__body-wrapper{
  //   /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  //   &::-webkit-scrollbar
  //   {
  //     // width: 10px;
  //     // height: 10px;
  //     background-color: #f4f5f9;
  //   }
    
  //   /*定义滚动条轨道 内阴影+圆角*/
  //   &::-webkit-scrollbar-track
  //   {
  //     // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //     border-radius: 6px;
  //     background-color: #f4f5f9;
  //   }
    
  //   /*定义滑块 内阴影+圆角*/
  //   &::-webkit-scrollbar-thumb
  //   {
  //     border-radius: 6px;
  //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  //     background-color: #dfe0e7;
  //   }
  // }
  th.el-table__cell{
    background-color: #f5f7fa;
  }
}
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

// 覆盖 Element - UI
.no-header-bottom-margin-tabs {
  ::v-deep.el-tabs__header {
    margin-bottom: 0;
  }
}
