@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.match-parent {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top:10px;
  border-radius: 6px;
  box-shadow: 0 1px 6px #eef1fb;
}

.match-parent0 {
  width: 100%;
  height: 100%;
}

.button-delete {
  color: red;
}

.color-warning {
  color: #efa73c;
}

.color-success {
  color: #67c23a;
}

.info-container {
  background: #f5f7fa;
  border-radius: 10px;
  padding: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-start-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-space-evenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ml-10 {
  margin-left: 10px;
}

.com-back-btn {
  width: 110px;
  border-radius: 30px;
}