<template>
  <el-dialog :visible.sync="iVisible" @opened="onOpened" @closed="onClosed">
    <el-form ref="form" :rules="rules" :model="form" label-width="100px">
      <el-form-item prop="name" label="月数">
        <el-input
          v-model="form.name"
          placeholder="请输入月数"
          @keyup.enter.native="onSubmit"
        />
      </el-form-item>
      <el-form-item prop="functions" label="服务项">
        <div style="margin-top: 20px">
          <el-checkbox-group v-model="cityone" @change="handleCheckedCitiesChange">
            <el-checkbox v-for="item in cities" :label="item.id + '$' + item.name" :key="item.id">{{item.name}}</el-checkbox>
          </el-checkbox-group>
        </div>
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
export default {
  name: "DialogService",
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    item: {
      type: Object,
      default: null,
    },
    type: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      cityone: [],
      cities: [],
      form: {
        name: "",
        price: "",
      },
      rules: {
        name: [{ required: true, message: "请输入月数", trigger: "blur" }],
        price: [
          { required: true, trigger: "blur", message: "请输入月数" },
          { pattern: /^(?:[1-9]|[1-2]\d|3[0-2])$/ , message: "请输入正整数" },
        ],
      },
    };
  },
  computed: {
    iVisible: {
      get() {
        return this.visible;
      },
      set(val) {
        this.$emit("update:visible", val);
      },
    },
  },
  methods: {
    handleCheckedCitiesChange(value) {
      console.log(72, JSON.stringify(value))
      console.log(73, JSON.stringify(this.cityone))
      var a=[];
      for(let m of this.cityone){
        a.push(m.split('$')[0])
      }
      console.log(a)
    },
    onOpened() {
      this.form.name = this.item.id;
      this.$api.service.userListService().then((res) => {
        if (res.code !== 0) {
          return;
        }

        let d = [];
        for (let item of res.data[0].children) {
          let s = {id:item.id,name:item.name}
          d.push(s);
        }
        this.cities = d;
      });
    },
    onClosed() {
      this.$refs.form.resetFields();
    },
    onSubmit() {
      this.$refs.form.validate((valid) => {
        if (!valid) {
          return;
        }

          // this.create();

      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";
</style>
