<template>
  <el-dialog
    :visible.sync="iVisible"
    title="健康档案"
    @opened="onOpened"
    @close="onClose"
  >
    <div class="item avatar-item">
      <div class="label">头像</div>
      <avatar :url="item.avatar" />
    </div>
    <div class="flex-start-wrap">
      <div class="item">
        <div class="label">称呼</div>
        <div class="value">{{ item.appellation }}</div>
      </div>
      <div class="item">
        <div class="label">关系</div>
        <div class="value">{{ item.relationship }}</div>
      </div>
    </div>
    <div class="flex-start-wrap">
      <div class="item">
        <div class="label">姓名</div>
        <div class="value">{{ item.name }}</div>
      </div>
      <div class="item">
        <div class="label">性别</div>
        <div class="value">{{ genderFormatter(item.gender) }}</div>
      </div>
      <div class="item">
        <div class="label">生日</div>
        <div class="value">{{ dateFormatter(item.birthday) }}</div>
      </div>
    </div>
    <div class="flex-start-wrap">
      <div class="item">
        <div class="label">身高</div>
        <div class="value">{{ item.height }}</div>
      </div>
      <div class="item">
        <div class="label">体重</div>
        <div class="value">{{ item.weight }}</div>
      </div>
      <div class="item">
        <div class="label">血型</div>
        <div class="value">{{ item.bloodType }}</div>
      </div>
    </div>
    <div class="item">
      <div class="label">生活满意度</div>
      <div class="value">{{ item.lifeSatis }}</div>
    </div>
    <div class="item">
      <div class="label">饮酒</div>
      <div class="value">{{ item.smoking }}</div>
    </div>
    <div class="item">
      <div class="label">吸烟</div>
      <div class="value">{{ item.smoking }}</div>
    </div>
    <div class="item">
      <div class="label">疾病史</div>
      <div class="value">{{ diseaseHistory }}</div>
    </div>
    <div class="item">
      <div class="label">家族史</div>
      <div class="value">{{ familyHistory }}</div>
    </div>
    <div class="item">
      <div class="label">手术史</div>
      <div class="value">{{ surgeryHistory }}</div>
    </div>
  </el-dialog>
</template>

<script>
import Avatar from "@/components/Image/Avatar";
import GenderType from "@/enum/GenderType";
import { formatter } from "@/utils/date";

export default {
  name: "HealthArchivesDialog",
  components: { Avatar },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    item: {
      type: Object,
      default: null,
    },
  },
  computed: {
    iVisible: {
      get() {
        return this.visible;
      },
      set(val) {
        this.$emit("update:visible", val);
      },
    },
    diseaseHistory: {
      get() {
        if (this.item.diseaseHis) {
          return this.item.diseaseHis.map((i) => i.diseaseName).join("、");
        }
        return "";
      },
    },
    familyHistory: {
      get() {
        if (this.item.familyHis) {
          return this.item.familyHis
            .map((i) => {
              let name = i.diseaseName;
              if (i.familyMembers) {
                name += "（" + i.familyMembers + "）";
              }
              return name;
            })
            .join("、");
        }
        return "";
      },
    },
    surgeryHistory: {
      get() {
        if (this.item.surgeryHis) {
          return this.item.surgeryHis.map((i) => i.diseaseName).join("、");
        }
        return "";
      },
    },
  },
  methods: {
    genderFormatter(data) {
      return GenderType.valueOf(data);
    },
    dateFormatter(date) {
      return formatter(date, "YYYY-MM-DD");
    },
    onOpened() {},
    onClose() {},
  },
};
</script>

<style lang="scss" scoped>
.item {
  display: flex;
  align-items: center;
  line-height: 40px;

  .label {
    min-width: 80px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    color: #606266;
    font-size: 14px;
    font-weight: 700;
  }

  .value {
    min-width: 80px;
  }
}

.avatar-item {
  .avatar {
    width: 100px;
    height: 100px;
  }
}
</style>
