<template>
  <el-container class="account-wrapper match-parent">
    <el-header class="flex-end">
      <el-button type="primary" icon="el-icon-plus" @click="onAddClick">新增</el-button>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:role="{ row }">
          {{ displayRole(row.sysRoles) }}
        </template>
        <template v-slot:date="{ row }">
          {{ dateFormatter(row.lastLoginTime) }}
        </template>
        <template v-slot:operate="{ row }">
          <el-button
            type="text"
            size="small"
            @click="onItemEditClick(row)"
          >
            编辑
          </el-button>
          <el-button
            type="text"
            size="small"
            class="button-delete"
            @click="onItemDeleteClick(row)"
          >
            删除
          </el-button>
        </template>
      </c-table>
    </el-main>
    <dialog-user
      :visible.sync="dialogVisible"
      :is-edit-mode="isEditMode"
      :item.sync="toEditItem"
      @on-success="onSuccess"
    />
  </el-container>
</template>

<script>

import DialogUser from '@/views/account/permission/components/dialog-user'
import CTable from '@/components/Table/index'
import { formatter } from '@/utils/date'

export default {
  name: 'Index',
  components: { CTable, DialogUser },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: 'ID', prop: 'id', width: 180 },
        { id: 3, label: '账号', prop: 'account', width: 120 },
        { id: 4, label: '姓名', prop: 'alias', width: 100 },
        { id: 5, label: '部门', prop: 'unitName', width: 100 },
        { id: 6, label: '角色', prop: 'sysRoles', width: 100, slot: 'role' },
        { id: 7, label: '手机号码', prop: 'phone', width: 120 },
        { id: 8, label: '最近一次登录时间', prop: 'lastLoginTime', slot: 'date' },
        { id: 9, label: '操作', width: 180, slot: 'operate' }
      ],
      dialogVisible: false,
      isEditMode: false,
      toEditItem: null
    }
  },
  methods: {
    displayRole(roles) {
      if (!roles || roles.length === 0) {
        return ''
      }
      return roles.slice(0, 3).map(item => item.roleName).join('、') + (roles.length > 3 ? '...' : '')
    },
    dateFormatter(date) {
      return formatter(date)
    },
    onAddClick() {
      this.toEditItem = null
      this.isEditMode = false
      this.dialogVisible = true
    },
    onItemEditClick(item) {
      this.toEditItem = item
      this.isEditMode = true
      this.dialogVisible = true
    },
    onItemDeleteClick(item) {
      this.$confirm('此操作将永久删除该账号, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.account.delete({ id: item.id }).then(() => {
          this.$message.success('删除成功!')
          this.onSuccess()
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    },
    onTableLoad(index, size, callback) {
      this.$api.account.list({ page: index, size }).then(res => {
        callback(res.data)
      })
    },
    onSuccess() {
      this.$nextTick(() => {
        this.$refs.table.load()
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.account-wrapper {
}

.el-main {
  padding-top: 0;
}
</style>
