<template>
  <div class="history-health-info">
    <div class="item-container">
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">计步</div>
            <type-date-picker
              @on-type-change="onStepTypeChanged"
              @on-date-change="onStepDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onStepFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <step-chart :device-id="deviceId" :type="stepType" :date="stepDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">心率</div>
            <type-date-picker
              @on-type-change="onHeartRateTypeChanged"
              @on-date-change="onHeartRateDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onHeartRateFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <heart-rate-chart :device-id="deviceId" :type="heartRateType" :date="heartRateDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">血压</div>
            <type-date-picker
              @on-type-change="onBloodPressureTypeChanged"
              @on-date-change="onBloodPressureDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onBloodPressureFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <blood-pressure-chart c-id="blood-pressure-large" :device-id="deviceId" :type="bloodPressureType" :date="bloodPressureDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">血氧饱和度</div>
            <type-date-picker
              @on-type-change="onBloodOxygenTypeChanged"
              @on-date-change="onBloodOxygenDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onBloodOxygenFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <blood-oxygen-chart :device-id="deviceId" :type="bloodOxygenType" :date="bloodOxygenDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">体温</div>
            <type-date-picker
              @on-type-change="onTemperatureTypeChanged"
              @on-date-change="onTemperatureDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onTemperatureFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <temperature-chart :device-id="deviceId" c-id="temperature-large" :type="temperatureType" :date="temperatureDate" />
        </div>
      </div>
      <div class="item">
        <div class="title-bar">
          <div class="left">
            <div class="title-prefix" />
            <div class="title">睡眠</div>
            <type-date-picker
              @on-type-change="onSleepTypeChanged"
              @on-date-change="onSleepDateChanged"
            />
          </div>
          <div class="right">
            <i class="iconfont icon-fullscreen" @click="onSleepFullscreenClick" />
          </div>
        </div>
        <div class="card info-container">
          <sleep-chart :device-id="deviceId" :type="sleepType" :date="sleepDate" />
        </div>
      </div>
    </div>
    <detail-dialog
      :visible.sync="dialogVisible"
      :type="dialogType"
      :device-id="deviceId"
      :date="dialogDate"
      :date-type="dialogDateType"
      :exist-fullscreen-on-closed="false"
    />
  </div>
</template>

<script>

import DetailDialog from '@/views/health/record/components/DetailDialog'
import StepChart from '@/views/health/record/components/StepChart'
import HeartRateChart from '@/views/health/record/components/HeartRateChart'
import BloodPressureChart from '@/views/health/record/components/BloodPressureChart'
import BloodOxygenChart from '@/views/health/record/components/BloodOxygenChart'
import TemperatureChart from '@/views/health/record/components/TemperatureChart'
import SleepChart from '@/views/health/record/components/SleepChart'
import TypeDatePicker from '@/components/Date/TypeDatePicker'

export default {
  name: 'HistoryHealthInfo',
  components: {
    TypeDatePicker,
    SleepChart,
    BloodOxygenChart,
    TemperatureChart,
    BloodPressureChart,
    HeartRateChart,
    StepChart,
    DetailDialog
  },
  props: {
    deviceId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      stepType: 'date',
      stepDate: new Date(),
      heartRateType: 'date',
      heartRateDate: new Date(),
      bloodPressureType: 'date',
      bloodPressureDate: new Date(),
      bloodOxygenType: 'date',
      bloodOxygenDate: new Date(),
      temperatureType: 'date',
      temperatureDate: new Date(),
      sleepType: 'date',
      sleepDate: new Date(),
      dialogVisible: false,
      dialogType: '',
      dialogDateType: '',
      dialogDate: null
    }
  },
  methods: {
    onStepFullscreenClick() {
      this.dialogType = 'step'
      this.dialogDate = this.stepDate
      this.dialogDateType = this.stepType
      this.dialogVisible = true
    },
    onHeartRateFullscreenClick() {
      this.dialogType = 'heartRate'
      this.dialogDate = this.heartRateDate
      this.dialogDateType = this.heartRateType
      this.dialogVisible = true
    },
    onBloodPressureFullscreenClick() {
      this.dialogType = 'bloodPressure'
      this.dialogDate = this.bloodPressureDate
      this.dialogDateType = this.bloodPressureType
      this.dialogVisible = true
    },
    onBloodOxygenFullscreenClick() {
      this.dialogType = 'bloodOxygen'
      this.dialogDate = this.bloodOxygenDate
      this.dialogDateType = this.bloodOxygenType
      this.dialogVisible = true
    },
    onTemperatureFullscreenClick() {
      this.dialogType = 'temperature'
      this.dialogDate = this.temperatureDate
      this.dialogDateType = this.temperatureType
      this.dialogVisible = true
    },
    onSleepFullscreenClick() {
      this.dialogType = 'sleep'
      this.dialogDate = this.sleepDate
      this.dialogDateType = this.sleepType
      this.dialogVisible = true
    },
    onStepTypeChanged(params) {
      this.stepType = params
    },
    onStepDateChanged(params) {
      this.stepDate = params
    },
    onHeartRateTypeChanged(params) {
      this.heartRateType = params
    },
    onHeartRateDateChanged(params) {
      this.heartRateDate = params
    },
    onBloodPressureTypeChanged(params) {
      this.bloodPressureType = params
    },
    onBloodPressureDateChanged(params) {
      this.bloodPressureDate = params
    },
    onBloodOxygenTypeChanged(params) {
      this.bloodOxygenType = params
    },
    onBloodOxygenDateChanged(params) {
      this.bloodOxygenDate = params
    },
    onTemperatureTypeChanged(params) {
      this.temperatureType = params
    },
    onTemperatureDateChanged(params) {
      this.temperatureDate = params
    },
    onSleepTypeChanged(params) {
      this.sleepType = params
    },
    onSleepDateChanged(params) {
      this.sleepDate = params
    }
  }
}
</script>

<style lang="scss" scoped>

@import "~@/styles/variables.scss";

::v-deep .el-dialog {
  background: white !important;
}

::v-deep .el-dialog__header {
  padding: 20px 20px 10px !important;
  display: block !important;
}

::v-deep .el-dialog__body {
  height: calc(100% - 54px) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container {
  background: unset !important;
}

.history-health-info {
  width: 100%;
  height: 100%;

  .item-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      width: calc((100% - 20px) / 3);
      background: url('../../../../assets/image/pic_large_chart.png') no-repeat;
      background-size: 100% 100%;
      padding: 10px;
      margin-top: 10px;
      color: #ffffff;

      .title-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        //padding: 0 20px;

        div:not(:first-child) {
          margin-left: 20px;
        }

        .left {
          display: flex;
          align-items: center;

          .title-prefix {
            width: 6px;
            height: 20px;
            background: $primaryColor;
          }

          .title {
            width: 80px;
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;
            line-height: 14px;
          }

          .el-date-editor {
            width: 214px;
            height: 34px;
            border: 1px solid #e3eeff;
            border-radius: 18px;
            padding: 0 4px;

            ::v-deep .el-input__icon {
              display: flex;
              align-items: center;
              line-height: unset;
              margin-left: 0;
              justify-content: center;
            }

            ::v-deep input {
              height: 34px;
              border: unset;
              background: unset;
              line-height: unset;
            }

            ::v-deep .el-input__prefix {
              left: 10px;
            }

            ::v-deep .el-range-separator {
              display: flex;
              align-items: center;
              line-height: unset;
            }
          }
        }

        .right {
          .icon-fullscreen {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }

      .card {
        width: 100%;
        height: 130px;
        margin-top: 20px;

        .activity-track-map {
          border-radius: 10px;
        }
      }

      .info-container {
        padding: 0;
      }
    }
  }
}

</style>
