<template>
  <c-map ref="map" c-id="sos-alarm" class="sos-alarm-map match-parent0" @on-initialized="onInitialized" />
</template>

<script>

import CMap from '@/components/Map'
import { formatter } from '@/utils/date'

export default {
  name: 'SosAlarmMap',
  components: { CMap },
  props: {
    sos: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      mapIsInitialized: false,
      infoWindow: null
    }
  },
  watch: {
    sos: {
      handler: function(params) {
        if (params && params.longitude && params.latitude) {
          this.load()
        }
      },
      deep: true
    }
  },
  methods: {
    dateFormatter(date) {
      return formatter(date)
    },
    load() {
      if (!this.mapIsInitialized || !this.sos || !this.sos.longitude || !this.sos.latitude) {
        return
      }
      this.$refs.map.clear()
      const location = [this.sos.longitude, this.sos.latitude]
      // this.$refs.map.addMarker({
      //   position: location
      // })
      this.openInfo(location)
      // this.$refs.map.setFitView()
    },
    onInitialized() {
      this.mapIsInitialized = true
      this.load()
    },
    // 在指定位置打开信息窗体
    openInfo(location) {
      // 构建信息窗体中显示的内容
      const info = []

      //       const WindowBody = Vue.extend({
      //         name: 'SosAlarmInfo',
      //         components: {
      //           Avatar
      //         },
      //         template: `
      //             <div class="header flex-start">
      //             <div />
      //                 <avatar />
      // <!--                <img class="avatar" alt="头像" />-->
      //                 <div>男</div>
      //                 <div>45岁</div>
      //                 <div>高血压</div>
      //             </div>
      //             <div class="line">
      //                 报警位置：${this.sos.address}
      //             </div>
      //             <div class="line">
      //                 报警时间：${this.dateFormatter(this.sos.createdAt)}
      //             </div>
      //         `
      //       })
      //       const windowBodyComponent = new WindowBody().$mount()
      //       info.push(windowBodyComponent.$el)

      const windowBody = `
        <div class='content-window-card'>
        <!--            <div class="header flex-start">-->
        <!--&lt;!&ndash;                <img class="avatar" alt="头像" />&ndash;&gt;-->
        <!--                <div>男</div>-->
        <!--                <div>45岁</div>-->
        <!--                <div>高血压</div>-->
        <!--            </div>-->
            <div class="line">
                报警位置：${this.sos.address}
            </div>
            <div class="line">
                报警时间：${this.dateFormatter(this.sos.createdAt)}
            </div>
        </div>
      `
      info.push(windowBody)

      this.infoWindow = new AMap.InfoWindow({
        content: info.join('') // 使用默认信息窗体框样式，显示信息内容
      })

      this.infoWindow.open(this.$refs.map.map, location)
    }
  }
}
</script>

<style lang="scss" scoped>

::v-deep .amap-info-contentContainer:hover {
  background: unset;
}

::v-deep .amap-info-contentContainer:hover .amap-info-outer, .amap-menu-outer:hover {
  box-shadow: unset;
}

::v-deep .amap-info-contentContainer .amap-info-outer, .amap-menu-outer {
  box-shadow: unset;
}

::v-deep .amap-info-sharp { // 指示箭头
  display: none;
}

::v-deep .amap-info-content {
  background: url('../../../../assets/image/pic_large_sos_alarm.png') no-repeat;
  background-size: 100% 100%;
}

::v-deep .content-window-card {
  width: 254px;
  min-height: 210px;
  color: white;
  padding: 20px 10px;

  .header {
    font-size: 20px;
    font-weight: 500;

    & div:not(:first-child) {
      margin-left: 10px;
    }

    .avatar {
      width: 40px;
      height: 40px;
    }
  }

  .line {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
  }
}

</style>
