<template>
  <div class="alarm-info">
    <div>
      <span class="label">报警状态：</span>
      <span v-if="dealSign===1" class="status color-success">已受理</span>
      <span v-else class="status color-warning" @click="onHandleBtnClick">未受理</span>
    </div>
    <template v-if="dealSign===1">
      <div>
        <span class="label">处理时间：</span> <span v-if="recordInfo.updatedAt">{{ recordInfo.updatedAt | formatDate
        }}</span><span v-else>-</span>
      </div>
      <div>
        <span class="label">处理人：</span> {{ recordInfo.updatedUserName || recordInfo.updatedBy || '-' }}
      </div>
      <div>
        <span class="label">处理记录：</span> {{ recordInfo.content || '-' }}
      </div>
    </template>

    <handle-dialog :visible.sync="handleVisible" v-if="column.id" :warn-type="warnType" :column="column"
      :is-view-mode="false" @on-success="onSuccess" />
  </div>
</template>

<script>
import HandleDialog from "@/views/alarm/components/HandleDialog";

export default {
  name: 'AlarmHandleInfo',
  components: { HandleDialog },
  props: {
    column: {
      type: Object,
      default: () => {
        return {}
      }
    },
    warnType: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      recordInfo: {},
      handleVisible: false,
      dealSign: 0,
    }
  },
  created() {
    console.log('this.dealSign',this.dealSign,this.column)
    this.dealSign = this.column.dealSign
    if (this.dealSign === 1) {
      this.recordDetail()
    }
  },
  methods: {
    onHandleBtnClick() {
      this.handleVisible = true
    },
    recordDetail() {
      this.$api.alarm.recordDetail({
        warnId: this.column.id
      }).then((res) => {
        this.recordInfo = res.data || {}
      })
    },
    onSuccess() {
      this.dealSign = 1
      this.recordDetail()
    }
  }
}
</script>

<style lang="scss" scoped>
.alarm-info {
  line-height: 32px;
  font-size: 14px;
  padding: 0 50px;

  .label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
  }

  .color-warning {
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #efa73c;
    }
  }
}
</style>
