<template>
  <el-dialog title="处理记录" :center="true" :visible.sync="iVisible" @opened="onOpened" @closed="onClosed">
    <el-form ref="form" :rules="rules" :model="form" label-width="100px" label-position="right">
      <el-form-item prop="createdAt" label="处理时间：">
        <span v-if="isViewMode">{{ form.createdAt | formatDate }}</span>
        <span v-else>{{ Date.now() | formatDate }}</span>
      </el-form-item>
      <el-form-item v-if="isViewMode" prop="user" label="处理人：">
        <span>{{ form.user || '-' }}</span>
      </el-form-item>
      <el-form-item prop="content" label="处理记录：">
        <span v-if="isViewMode">{{ form.content || '-' }}</span>
        <el-input v-else type="textarea" v-model="form.content" placeholder="" />
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="iVisible = false">{{ isViewMode ? '关闭' : '取消'}}</el-button>
      <el-button v-if="!isViewMode" type="primary" @click="onSubmit">完成</el-button>
    </span>
  </el-dialog>
</template>

<script>
export default {
  name: 'handleDialog',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    column: {
      type: Object,
      default: null
    },
    warnType: {
      type: Number,
      default: 1
    },
    isViewMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        createdAt: '',
        user: '',
        content: ''
      },
      rules: {
        content: [
          { required: true, message: '请填写处理记录', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      if (this.isViewMode) {
        this.rules = {}
        this.recordDetail()
      } else {
        this.form.createdAt = Date.now()
      }
    },
    onClosed() {
      this.$refs.form.resetFields()
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        this.create()
      })
    },
    recordDetail() {
      this.$api.alarm.recordDetail({
        warnId: this.column.id
      }).then((res) => {
        this.form.createdAt = res.data.updatedAt
        this.form.content = res.data.content
        this.form.user = res.data.updatedUserName || res.data.updatedBy
      })
    },
    create() {
      this.$api.alarm.recordSave({
        content: this.form.content,
        warnId: this.column.id,
        warnType: this.warnType
      }).then(() => {
        this.$message.success('处理成功')
        this.iVisible = false
        this.$emit('on-success')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

::v-deep .el-textarea__inner {
  height: 90px;
}
</style>
