<template>
  <el-container class="manufacturer-list-wrapper match-parent">
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:cover="{ row }">
          <el-image :src="row.imgUrl" />
        </template>
        <template v-slot:operate="{ row }">
          <el-button
            type="text"
            size="small"
            @click="onItemEditClick(row)"
          >
            编辑
          </el-button>
        </template>
      </c-table>
    </el-main>
    <dialog-manufacturer
      :visible.sync="dialogVisible"
      :item.sync="toEditItem"
      @on-success="onSuccess"
    />
  </el-container>
</template>

<script>

import CTable from '@/components/Table'
import DialogManufacturer from '@/views/device/config/components/dialog-manufacturer'

export default {
  name: 'ManufacturerList',
  components: { DialogManufacturer, CTable },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: '设备品牌', prop: 'name' },
        { id: 3, label: '图片', slot: 'cover', width: 180 },
        { id: 4, label: '操作', slot: 'operate' }
      ],
      dialogVisible: false,
      toEditItem: null
    }
  },
  methods: {
    onItemEditClick(item) {
      this.toEditItem = item
      this.dialogVisible = true
    },
    onTableLoad(index, size, callback) {
      this.$api.manufacturer.list({ page: index, size }).then(res => {
        callback(res.data)
      })
    },
    onSuccess() {
      this.$nextTick(() => {
        this.$refs.table.load()
      })
    }
  }
}
</script>

<style scoped>

</style>
