<template>
  <div>
    <el-upload
      :id="uploadId"
      action="#"
      accept="image/*"
      list-type="picture-card"
      :auto-upload="false"
      :file-list="fileList"
      :limit="1"
      :on-change="onFileChange"
    >
      <i slot="default" class="el-icon-plus" />
      <template v-slot:file="{ file }">
        <img
          class="el-upload-list__item-thumbnail"
          :src="file.url"
          style="object-fit: cover"
          alt=""
        >
        <span class="el-upload-list__item-actions">
          <span
            class="el-upload-list__item-preview"
            @click="handlePictureCardPreview(file)"
          >
            <i class="el-icon-zoom-in" />
          </span>
          <span
            class="el-upload-list__item-delete"
            @click="handleRemove(file)"
          >
            <i class="el-icon-delete" />
          </span>
        </span>
      </template>
    </el-upload>
    <el-dialog
      class="fullscreen-dialog"
      title="图片预览"
      :visible.sync="dialogVisible"
      append-to-body
    >
      <img style="max-width: 100%; max-height: 100%" :src="dialogImageUrl" alt="">
    </el-dialog>
  </div>
</template>

<script>

import { upload } from '@/utils/qiniu'

export default {
  name: 'ImageUploader',
  props: {
    uploadId: {
      type: String,
      default: 'uploader'
    },
    url: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      fileList: [],
      dialogImageUrl: '',
      dialogVisible: false,
      isChanged: false
    }
  },
  watch: {
    fileList: function() {
      this.onFileListChanged()
    }
  },
  methods: {
    init(url) {
      if (url) {
        this.fileList = [{ url: url }]
      } else {
        this.fileList = []
      }
      this.onFileListChanged()
    },
    reset() {
      this.dialogImageUrl = ''
      this.dialogVisible = false
      this.isChanged = false
      this.fileList = []
      this.onFileListChanged()
    },
    onFileChange(file, fileList) {
      this.fileList = fileList
      this.isChanged = true

      this.onFileListChanged()
    },
    onFileListChanged() {
      const parent = document.getElementById(this.uploadId)
      const add = parent.getElementsByClassName('el-upload--picture-card')[0]
      if (!add) return
      if (this.fileList.length >= 1) {
        add.style.display = 'none'
      } else {
        add.style.display = 'block'
      }
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    handleRemove(file) {
      for (let i = 0; i < this.fileList.length; i++) {
        const item = this.fileList[i]
        if (item.uid === file.uid) {
          this.fileList.splice(i, 1)
          break
        }
      }
    },
    upload() {
      return new Promise((resolve, reject) => {
        if (!this.fileList || this.fileList.length === 0) {
          reject()
          return
        }
        upload(this.fileList[0].raw)
          .then(url => resolve(url))
          .catch(e => reject(e))
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.fullscreen-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ::v-deep .el-dialog {
    width: 50%;
    height: calc(100% - 40px);
    margin-top: 0 !important;

    .el-dialog__body {
      width: 100%;
      height: calc(100% - 60px) !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

</style>
