<template>
  <el-container class="disease-wrapper match-parent">
    <el-header class="flex-end">
      <el-button type="primary" icon="el-icon-plus" @click="onAddClick">新增</el-button>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:name="{ row }">
          <template v-if="row.isEditMode">
            <el-input v-model="row.newVal" />
          </template>
          <template v-else>
            {{ row.diseaseName }}
          </template>
        </template>
        <template v-slot:operate="{ row }">
          <template>
            <el-button
              type="text"
              size="small"
              @click="onItemEditClick(row)"
            >
              编辑
            </el-button>
            <el-button
              type="text"
              size="small"
              class="button-delete"
              @click="onItemDeleteClick(row)"
            >
              删除
            </el-button>
          </template>
        </template>
      </c-table>
    </el-main>
    <dialog-disease
      :type="0"
      :visible.sync="dialogVisible"
      :is-edit-mode="isEditMode"
      :item.sync="toEditItem"
      @on-success="onSuccess"
    />
  </el-container>
</template>

<script>

import CTable from '@/components/Table'
import DialogDisease from '@/views/health/disease/components/dialog-disease'
import DiseaseType from '@/enum/DiseaseType'

export default {
  name: 'Disease',
  components: { DialogDisease, CTable },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: '疾病名称', slot: 'name' },
        { id: 3, label: '操作', width: 240, slot: 'operate' }
      ],
      dialogVisible: false,
      isEditMode: false,
      toEditItem: null
    }
  },
  methods: {
    onAddClick() {
      this.toEditItem = null
      this.isEditMode = false
      this.dialogVisible = true
    },
    onItemEditClick(item) {
      this.toEditItem = item
      this.isEditMode = true
      this.dialogVisible = true
    },
    onItemDeleteClick(item) {
      this.$confirm('此操作将永久删除该疾病史, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.disease.delete({ id: item.id }).then(() => {
          this.onSuccess()
          this.$message.success('删除成功!')
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    },
    onTableLoad(index, size, callback) {
      this.$api.disease.list({ type: DiseaseType.DISEASE, page: index, size }).then(res => {
        callback(res.data)
      })
    },
    onSuccess() {
      this.$nextTick(() => {
        this.$refs.table.load()
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.el-main {
  padding-top: 0;
}
</style>
