<template>
  <el-container class="device-info-wrapper match-parent">
    <div class="block-box">
      <div class="title">设备信息</div>
      <div class="info info-container">
        <div class="line">
          <div class="item">
            <span>品牌名称：</span>
            <span>{{ detailInfo.manufacturerName ? detailInfo.manufacturerName : '' }}</span>
          </div>
          <div class="item">
            <span>设备型号：</span>
            <span>{{ detailInfo.model ? detailInfo.model : '' }}</span>
          </div>
          <div class="item">
            <span>IMEI：</span>
            <span>{{ detailInfo.imei ? detailInfo.imei : '' }}</span>
          </div>
          <div class="item">
            <span>绑定状态：</span>
            <span>{{ detailInfo.bind === '1' ? '已绑定' : '未绑定' }}</span>
          </div>
        </div>
        <div class="line">
          <div class="item">
            <span>生产日期：</span>
            <span>{{ detailInfo.productAt ? dateFormatter(detailInfo.productAt) : '' }}</span>
          </div>
          <div class="item">
            <span>激活日期：</span>
            <span>{{ detailInfo.activeAt ? dateFormatter(detailInfo.activeAt) : '' }}</span>
          </div>
          <div class="item">
            <span>保修状态：</span>
            <span>{{ detailInfo.guarantee ? detailInfo.guarantee : '' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="device-hardware-info block-box">
      <div class="title">设备硬件信息：</div>
      <div class="info info-container">
        <div class="line">
          <div class="item">
            <span>电池容量：</span>
            <span>{{ detailInfo.batteryCapacity ? detailInfo.batteryCapacity : '' }}</span>
          </div>
          <div class="item">
            <span>电池类型：</span>
            <span>{{ detailInfo.batteryType ? detailInfo.batteryType : '' }}</span>
          </div>
          <div class="item">
            <span>防水等级：</span>
            <span>{{ detailInfo.waterproofLevel ? detailInfo.waterproofLevel : '' }}</span>
          </div>
        </div>
        <div class="line">
          <div class="item">
            <span>输入电压：</span>
            <span>{{ detailInfo.voltage ? detailInfo.voltage : '' }}</span>
          </div>
          <div class="item">
            <span>输入电流：</span>
            <span>{{ detailInfo.electric ? detailInfo.electric : '' }}</span>
          </div>
          <div class="item">
            <span>网络连接：</span>
            <span>{{ detailInfo.network ? detailInfo.network : '' }}</span>
          </div>
        </div>
        <div class="line">
          <div class="item">
            <span>固件版本：</span>
            <span>{{ detailInfo.ver ? detailInfo.ver : '' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="service-records block-box">
      <div class="title">
        <div>设备维修记录：</div>

      </div>
      <div>
        <div class="top-operation">
          <el-button type="primary" icon="el-icon-plus" @click="onAddClick">新增</el-button>
        </div>

        <el-table
          :data="repairList"
          stripe
          border
        >
          <el-table-column type="index" label="序号" width="60" />
          <el-table-column prop="repairDate" label="报修日期">
            <template v-slot="{ row }">
              {{ dateFormatter(row.repairDate ) }}
            </template>
          </el-table-column>
          <el-table-column prop="fault" label="原因" />
          <el-table-column prop="state" label="状态">
            <template v-slot="{ row }">
              {{ stateFormatter(row.state ) }}
            </template>
          </el-table-column>
          <el-table-column prop="description" label="备注" />
          <el-table-column label="操作" width="240">
            <template v-slot="{ row }">
              <el-button
                type="text"
                size="small"
                @click="onItemEditClick(row)"
              >
                编辑
              </el-button>
              <el-button
                type="text"
                size="small"
                class="button-delete"
                @click="onItemDeleteClick(row)"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <p class="flex-center" style="margin-top:30px;">
      <el-button class="com-back-btn" type="primary" plain size="small" @click="$router.go(-1)">返回</el-button>
    </p>
    <dialog-repair
      :imei="detailInfo.imei"
      :visible.sync="dialogVisible"
      :is-edit-mode="isEditMode"
      :item.sync="toEditItem"
      @on-success="onSuccess"
    />
  </el-container>
</template>

<script>

import DialogRepair from '@/views/device/list/components/dialog-repair'
import { formatter } from '@/utils/date'
import DeviceRepairState from '@/enum/DeviceRepairState'

export default {
  name: 'Index',
  components: { DialogRepair },
  data() {
    return {
      detailInfo: {
        imei: ''
      },
      repairList: [],
      dialogVisible: false,
      isEditMode: false,
      toEditItem: null
    }
  },
  mounted() {
    this.detailInfo = this.$route.params.data
    this.getDeviceInfo()
    this.getRepairList()
  },
  methods: {
    stateFormatter(state) {
      return DeviceRepairState.valueOf(state)
    },
    dateFormatter(date) {
      return formatter(date)
    },
    getDeviceInfo() {
      this.$api.device.detail({ id: this.detailInfo.id.toString() }).then(res => {
        this.detailInfo = res.data
      })
    },
    getRepairList() {
      this.$api.repair.list({ imei: this.detailInfo.imei }).then(res => {
        this.repairList = res.data.records
      })
    },
    onAddClick() {
      this.toEditItem = null
      this.isEditMode = false
      this.dialogVisible = true
    },
    onItemEditClick(item) {
      this.toEditItem = item
      this.isEditMode = true
      this.dialogVisible = true
    },
    onSuccess() {
      this.$nextTick(() => {
        this.getRepairList()
      })
    },
    onItemDeleteClick(item) {
      this.$confirm('此操作将永久删除该维修记录, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.repair.delete({ id: item.id }).then(res => {
          this.$message.success('删除成功!')
          this.onSuccess()
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.device-info-wrapper {
  overflow-y: scroll;
  // display: flex;
  display: block;
  // flex-direction: column;
  padding: 20px;
  .block-box{
    margin-bottom: 40px;
  }
  .title {
    margin-bottom: 20px;
    border-bottom:1px solid #e3eeff;
    padding:10px 0 10px 16px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    &::before{
      content: "";
      width: 4px;
      height: 16px;
      background: #337df6;
      border-radius: 1px;
      position: absolute;
      left: 0;
      top: 11px;
    }
  }
  .top-operation{
    text-align: right;
    margin-bottom:10px;
  }
  .info {

    .line {
      display: flex;

      &:not(:first-child) {
        margin-top: 20px;
      }

      .item {
        min-width: 400px;
      }
    }
  }
}

</style>
