<template>
  <el-container class="department-wrapper match-parent">
    <el-header>
      <el-button type="primary" icon="el-icon-plus" @click="onAddClick">新增</el-button>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:operate="{ row }">
          <el-button
            type="text"
            size="small"
            @click="onItemEditClick(row)"
          >
            编辑
          </el-button>
          <el-button
            type="text"
            size="small"
            class="button-delete"
            @click="onItemDeleteClick(row)"
          >
            删除
          </el-button>
        </template>
      </c-table>
    </el-main>
    <dialog-department
      :visible.sync="dialogVisible"
      :is-edit-mode="isEditMode"
      :item.sync="toEditItem"
      @on-success="onSuccess"
    />
  </el-container>
</template>

<script>

import DialogDepartment from '@/views/account/permission/components/dialog-department'
import CTable from '@/components/Table'

export default {
  name: 'Index',
  components: { CTable, DialogDepartment },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 3, label: '部门', prop: 'unitName' },
        { id: 4, label: '操作', width: 240, slot: 'operate' }
      ],
      dialogVisible: false,
      isEditMode: false,
      toEditItem: null
    }
  },
  methods: {
    onAddClick() {
      this.toEditItem = null
      this.isEditMode = false
      this.dialogVisible = true
    },
    onItemEditClick(item) {
      this.toEditItem = item
      this.isEditMode = true
      this.dialogVisible = true
    },
    onItemDeleteClick(item) {
      this.$confirm('此操作将永久删除该部门, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.department.delete({ ids: [item.id] }).then(() => {
          this.onSuccess()
          this.$message.success('删除成功!')
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    },
    onTableLoad(index, size, callback) {
      this.$api.department.list({ page: index, size }).then(res => {
        callback(res.data)
      })
    },
    onSuccess() {
      this.$nextTick(() => {
        this.$refs.table.load()
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.department-wrapper {
}

.el-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.el-main {
  padding-top: 0;
}
</style>
