<template>
  <el-container class="match-parent0">
    <el-header>
      <div class="header-box">智安康健康监测报警系统</div>
      <el-button class="back-btn" type="text" @click="$router.go(-1)">
        返回
      </el-button>
    </el-header>
    <el-main>
      <statistics-l />
      <statistics-c />
      <statistics-r />
    </el-main>
  </el-container>
</template>

<script>
import CChart from '@/components/Chart'
import StatisticsL from './components/StatisticsLeft'
import StatisticsC from './components/StatisticsCenter'
import StatisticsR from './components/StatisticsRight'

export default {
  name: 'AlarmStatistics',
  components: { CChart, StatisticsL, StatisticsR, StatisticsC },
  data() {
    return {

    }
  },
  created() {
    this.$store.commit('app/HIDE_HEADER', true)
    this.$store.dispatch('app/closeSideBar', { withoutAnimation: true })
  },
  destroyed() {
    this.$store.dispatch('app/toggleSideBar')
    this.$store.commit('app/HIDE_HEADER', false)
  }
}
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";

.el-container {
  background: url('~@/assets/image/pic_large_bg.png') no-repeat;
  background-size: 100% 100%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.el-header {
  padding: 0 90px;
  position: relative;

  .header-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.7px;
    background: url('~@/assets/image/pic_large_header.png') no-repeat;
    background-size: 100% 100%;
  }

  .back-btn {
    position: absolute;
    top: 7px;
    right: 38px;
  }

}

.el-main {
  padding: 20px;
  display: flex;
  @include scrollBar;
  box-sizing: content-box;
}
</style>
