<template>
  <el-container class="match-parent">
    <el-tabs v-model="activeName" class="no-header-bottom-margin-tabs">
      <el-tab-pane label="账号" name="account">
        <account />
      </el-tab-pane>
      <el-tab-pane label="部门" name="department">
        <department />
      </el-tab-pane>
      <el-tab-pane label="角色" name="role">
        <role />
      </el-tab-pane>
    </el-tabs>
  </el-container>
</template>

<script>

import Account from './account/index'
import Department from './department/index'
import Role from './role/index'

export default {
  name: 'Index',
  components: { Account, Department, Role },
  data() {
    return {
      activeName: 'account'
    }
  }
}
</script>

<style lang="scss" scoped>

.el-tabs {
  width: 100%;
  height: 100%;

  ::v-deep .el-tabs__header {
    margin: 0 20px;
  }

  ::v-deep .el-tabs__content {
    height: calc(100% - 40px);
  }

  ::v-deep .el-tab-pane {
    width: 100%;
    height: 100%;
  }
}
</style>
