<template>
  <div class="activity-track-wrapper">
    <div>
      <span>选择日期</span>
      <el-date-picker
        v-model="iDate"
        type="date"
        format="yyyy-MM-dd"
        placeholder="选择日期"
      />
    </div>
    <activity-track-map
      ref="map"
      c-id="activity-track-map-in-dialog"
      :date="iDate"
      :device-id="deviceId"
      @on-response="onResponse"
    />
    <div class="title">移动轨迹</div>
    <div class="list">
      <template v-for="item in list">
        <div :key="item.id.toString()" class="item">
          <div class="date">
            {{ dateFormatter(item.createdAt) }}
          </div>
          <div class="address">
            <el-link @click="onItemAddressClick(item)">{{ item.address }}</el-link>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>

import ActivityTrackMap from '@/views/health/record/components/ActivityTrackMap'
import { formatter } from '@/utils/date'

export default {
  name: 'ActivityTrackRecord',
  components: { ActivityTrackMap },
  props: {
    deviceId: {
      type: String,
      required: true
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      map: null,
      iDate: new Date(),
      list: []
    }
  },
  watch: {
    date: {
      handler: function(params) {
        this.iDate = params
      },
      immediate: true
    }
  },
  methods: {
    dateFormatter(date) {
      return formatter(date)
    },
    onResponse(params) {
      this.list = params
    },
    onItemAddressClick(item) {
      document.getElementsByClassName('el-dialog is-fullscreen')[0].scrollTo({
        top: 0,
        behavior: 'smooth'
      })
      this.$nextTick(() => {
        this.$refs.map.$refs.map.moveTo([item.longitude, item.latitude])
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.activity-track-wrapper {

  .el-date-editor {
    margin-left: 20px;
    width: 214px;
    height: 34px;
    border: 1px solid #e3eeff;
    border-radius: 18px;
    padding: 0 4px;

    ::v-deep .el-input__icon {
      display: flex;
      align-items: center;
      line-height: unset;
      margin-left: 0;
      justify-content: center;
    }

    ::v-deep input {
      height: 34px;
      border: unset;
      background: unset;
      line-height: unset;
    }

    ::v-deep .el-input__prefix {
      left: 10px;
    }

    ::v-deep .el-range-separator {
      display: flex;
      align-items: center;
      line-height: unset;
    }
  }

  .activity-track-map {
    width: 100%;
    height: 500px;
    margin-top: 20px;
  }

  .title {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
  }

  .list{
    width: 100%;

    .item {
      display: flex;
      padding: 10px;
      border: 1px solid #dfe6ec;
      border-radius: 4px;
      margin-bottom: 10px;

      &:hover {
        background: #F5F7FA;
        transition: background-color .25s ease;
      }

      .address {
        margin-left: 60px;
      }
    }
  }
}
</style>
