<template>
  <c-map ref="map" :c-id="cId" class="activity-track-map match-parent0" @on-initialized="onInitialized" />
</template>

<script>

import CMap from '@/components/Map'
import moment from 'moment'

export default {
  name: 'ActivityTrackMap',
  components: { CMap },
  props: {
    cId: {
      type: String,
      default: 'activity-track'
    },
    deviceId: {
      type: String,
      required: true
    },
    date: {
      type: Date,
      required: true
    }
  },
  data() {
    return {
      list: [],
      mapIsInitialized: false,
      requireLoad: true
    }
  },
  watch: {
    date: function(params) {
      if (params) {
        this.load()
      }
    }
  },
  methods: {
    load() {
      if (!this.mapIsInitialized) {
        this.requireLoad = true
        return
      }
      this.requireLoad = false
      this.$api.health.activityTrackList({
        deviceId: this.deviceId,
        startDate: moment(this.date).format('YYYY-MM-DD'),
        size: 999
      }).then(res => {
        this.$emit('on-response', res.data.records)
        this.$refs.map.clear()
        if (!res.data.records || res.data.records.length === 0) {
          return
        }
        this.list = res.data.records
        // 绘制地图轨迹
        const path = res.data.records.map(item => new AMap.LngLat(item.longitude, item.latitude))
        this.$refs.map.addPolyline({
          path: path,
          strokeWeight: 4, // 线条宽度，默认为 1
          strokeColor: '#ff0000', // 线条颜色
          lineJoin: 'round' // 折线拐点连接处样式
        })
        this.$refs.map.moveTo([res.data.records[0].longitude, res.data.records[0].latitude])
      })
    },
    onInitialized() {
      this.mapIsInitialized = true
      this.initialMap()
    },
    initialMap() {
      // this.$refs.map.addMarker({
      //   position: new AMap.LngLat(104.065752, 30.657450), // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
      //   title: '天府广场'
      // })
      if (this.requireLoad) {
        this.load()
      }
    },
    moveToCurrent() {
      if (!this.list || this.list.length === 0) {
        return
      }
      this.$refs.map.moveTo([this.list[0].longitude, this.list[0].latitude])
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
