<template>
  <div class="blood-pressure-wrapper match-parent0">
    <div class="flex-start">
      <span>选择日期</span>
      <type-date-picker
        :date.sync="bloodPressureDate"
        :type.sync="bloodPressureType"
        @on-type-change="onBloodPressureTypeChanged"
        @on-date-change="onBloodPressureDateChanged"
      />
    </div>
    <blood-pressure-chart
      :device-id="deviceId"
      c-id="blood-pressure-in-dialog"
      :type="bloodPressureType"
      :date="bloodPressureDate"
      @on-records-response="onRecordsResponse"
    />
    <div v-if="bloodPressureType === 'date'">
      <div class="title">当日监测记录</div>
      <div class="list">
        <template v-for="item in list">
          <div :key="item.id.toString()" class="item" :class="[ item.warning === 1 ? 'warning' : '' ]">
            <div class="date">
              {{ dateFormatter(item.createdAt) }}
            </div>
            <div class="value">
              <span>{{ item.systolicPressure + ' / ' + item.diastolicPressure }} mmHg</span>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>

import BloodPressureChart from '@/views/health/record/components/BloodPressureChart'
import TypeDatePicker from '@/components/Date/TypeDatePicker'
import StatType from '@/enum/StatType'
import { formatter } from '@/utils/date'

export default {
  name: 'BloodPressureRecord',
  components: { TypeDatePicker, BloodPressureChart },
  props: {
    deviceId: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: null
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      bloodPressureType: '',
      bloodPressureDate: null,
      list: []
    }
  },
  watch: {
    type: {
      handler: function(params) {
        if (params) {
          this.onBloodPressureTypeChanged(params)
        }
      },
      immediate: true
    },
    date: {
      handler: function(params) {
        if (params) {
          this.onBloodPressureDateChanged(params)
        }
      },
      immediate: true
    }
  },
  methods: {
    dateFormatter(date) {
      return formatter(date)
    },
    onBloodPressureTypeChanged(params) {
      this.bloodPressureType = params
      const statType = StatType.dateTypeOf(params)
      if (statType !== StatType.DAY) {
        this.onRecordsResponse([])
      }
    },
    onBloodPressureDateChanged(params) {
      this.bloodPressureDate = params
    },
    onRecordsResponse(data) {
      this.list = data
    }
  }
}
</script>

<style lang="scss" scoped>
.type-date-picker {
  width: 214px;
  margin-left: 20px;
}

.blood-pressure-chart {
  width: 100%;
  height: 500px;
  border: 1px solid #e3eeff;
  margin-top: 15px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.title{
  margin:12px 0;
  font-weight: bold;
}


.list{
  width: 100%;

  .item {
    display: flex;
    padding: 10px;
    border: 1px solid #dfe6ec;
    border-radius: 4px;
    margin-bottom: 10px;

    &:hover {
      background: #F5F7FA;
      transition: background-color .25s ease;
    }

    .value {
      margin-left: 60px;
    }
  }

  .warning {
    color: red !important;
  }
}
</style>
