<template>
  <div class="blood-oxygen-wrapper match-parent0">
    <div class="flex-start">
      <span>选择日期</span>
      <type-date-picker
        :date.sync="bloodOxygenDate"
        :type.sync="bloodOxygenType"
        @on-type-change="onBloodOxygenTypeChanged"
        @on-date-change="onBloodOxygenDateChanged"
      />
    </div>
    <blood-oxygen-chart
      :device-id="deviceId"
      c-id="blood-oxygen-in-dialog"
      :type="bloodOxygenType"
      :date="bloodOxygenDate"
      @on-records-response="onRecordsResponse"
    />
    <div class="info-tip">
      <div>
        <span>最高血氧饱和度</span>
        <span>{{ summary.highest > 0 ? summary.highest : '-' }} %</span>
      </div>
      <div>
        <span>最低血氧饱和度</span>
        <span>{{ summary.lowest > 0 ? summary.lowest : '-' }} %</span>
      </div>
      <div>
        <span>平均血氧饱和度</span>
        <span>{{ summary.average > 0 ? summary.average : '-' }} %</span>
      </div>
    </div>
    <div v-if="bloodOxygenType === 'date'">
      <div class="title">当日监测记录</div>
      <div class="list">
        <template v-for="item in list">
          <div :key="item.id.toString()" class="item" :class="[ item.warning === 1 ? 'warning' : '' ]">
            <div class="date">
              {{ dateFormatter(item.createdAt) }}
            </div>
            <div class="value">
              <span>{{ item.value }} 次/分</span>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>

import BloodOxygenChart from '@/views/health/record/components/BloodOxygenChart'
import TypeDatePicker from '@/components/Date/TypeDatePicker'
import StatType from '@/enum/StatType'
import { formatter } from '@/utils/date'

export default {
  name: 'BloodOxygenRecord',
  components: { TypeDatePicker, BloodOxygenChart },
  props: {
    deviceId: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: null
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      bloodOxygenType: '',
      bloodOxygenDate: null,
      summary: {
        highest: 0,
        lowest: 0,
        average: 0
      },
      list: []
    }
  },
  watch: {
    type: {
      handler: function(params) {
        if (params) {
          this.onBloodOxygenTypeChanged(params)
        }
      },
      immediate: true
    },
    date: {
      handler: function(params) {
        if (params) {
          this.onBloodOxygenDateChanged(params)
        }
      },
      immediate: true
    }
  },
  methods: {
    dateFormatter(date) {
      return formatter(date)
    },
    onBloodOxygenTypeChanged(params) {
      this.bloodOxygenType = params
      const statType = StatType.dateTypeOf(params)
      if (statType !== StatType.DAY) {
        this.onRecordsResponse([])
      }
    },
    onBloodOxygenDateChanged(params) {
      this.bloodOxygenDate = params
      this.load()
    },
    load() {
      this.$api.health.bloodOxygenSummary({
        deviceId: this.deviceId,
        startDate: formatter(this.bloodOxygenDate ? this.bloodOxygenDate : new Date(), 'YYYY-MM-DD'),
        searchType: StatType.dateTypeOf(this.bloodOxygenType)
      }).then(res => {
        const { maxBloodOxygen: highest = 0, minBloodOxygen: lowest = 0, agvBloodOxygen: average = 0 } = res.data || {}
        this.summary.highest = highest
        this.summary.lowest = lowest
        this.summary.average = average
      })
    },
    onRecordsResponse(data) {
      this.list = data
    }
  }
}
</script>

<style lang="scss" scoped>
.type-date-picker {
  width: 214px;
  margin-left: 20px;
}

.blood-oxygen-chart {
  width: 100%;
  height: 500px;
  border: 1px solid #e3eeff;
  margin-top: 15px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}
.info-tip{
  line-height: 1.8;
  margin-top: 20px;
}
.title{
  margin:12px 0;
  font-weight: bold;
}

.list{
  width: 100%;

  .item {
    display: flex;
    padding: 10px;
    border: 1px solid #dfe6ec;
    border-radius: 4px;
    margin-bottom: 10px;

    &:hover {
      background: #F5F7FA;
      transition: background-color .25s ease;
    }

    .value {
      margin-left: 60px;
    }
  }

  .warning {
    color: red !important;
  }
}
</style>
