<template>
  <c-chart ref="chart" :c-id="cId" class="blood-pressure-chart match-parent0" />
</template>

<script>

import CChart from '@/components/Chart'
import StatType from '@/enum/StatType'
import moment from 'moment'
import { getDayOfMonth, getDays, getMinutesOfDay, getMonthOfYear } from '@/utils/date'
import DailyOption from '@/utils/echarts/bloodPressure/day'
import MonthlyOption from '@/utils/echarts/bloodPressure/month'
import YearlyOption from '@/utils/echarts/bloodPressure/year'
import { arrayOf } from '@/utils/array'
import * as echarts from 'echarts'

export default {
  name: 'BloodPressureChart',
  components: { CChart },
  props: {
    cId: {
      type: String,
      default: 'blood-pressure'
    },
    deviceId: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: 'date'
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  watch: {
    deviceId: function(params) {
      if (params && params !== '0') {
        this.load()
      }
    },
    date: function(params) {
      if (params && this.deviceId && this.deviceId !== '0') {
        this.load()
      }
    }
  },
  methods: {
    load() {
      const statType = StatType.dateTypeOf(this.type)
      if (statType === StatType.DAY) {
        this.$api.health.bloodPressureList({
          deviceId: this.deviceId,
          startDate: moment(this.date ? this.date : new Date()).format('YYYY-MM-DD'),
          searchType: statType
        }).then(res => {
          this.setDayData(res.data.records)
          this.$emit('on-records-response', res.data.records)
        })
      } else {
        this.$api.health.bloodPressureStat({
          deviceId: this.deviceId,
          startDate: moment(this.date ? this.date : new Date()).format('YYYY-MM-DD'),
          searchType: statType
        }).then(res => {
          if (statType === StatType.MONTH) {
            this.setMonthData(res.data)
          } else if (statType === StatType.YEAR) {
            this.setYearData(res.data)
          }
        })
      }
    },
    handleBarStyle(option){
      if(this.cId == 'blood-pressure-large'){
        option.series[1].label.color = '#fff'
        option.series[3].label.color = '#fff'
      }
      option.series[1].itemStyle = {
          borderRadius: [4, 4, 0, 0],
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            { offset: 0, color: '#8ce1f7' },
            { offset: 1, color: '#09b6e1' }
          ])
        }
        option.series[3].itemStyle = {
          borderRadius: [4, 4, 0, 0],
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            { offset: 0, color: '#83a5ff' },
            { offset: 1, color: '#666fff' }
          ])
        }
    },
    setDayData(data) {
      const result = []; const result2 = []
      if (data) {
        for (const item of data) {
          const xValue = getMinutesOfDay(item.createdAt)
          result.push([xValue, item.systolicPressure])
          result2.push([xValue, item.diastolicPressure])
        }
      }
      const option = new DailyOption()
      option.series[0].data = result
      option.series[1].data = result2
      this.$refs.chart.setOption(option)
    },
    setMonthData(data) {
      const systMinList = []
      const systMaxList = []
      const diastMinList = []
      const diastMaxList = []
      const option = new MonthlyOption()
      if (data && data.length > 0) {
        for (const item of data) {
          const minSyst = item.minSystolic
          const maxSyst = item.maxSystolic
          const minDiast = item.minDiastolic
          const maxDiast = item.maxDiastolic
          const xValue = getDayOfMonth(item.createdAt + ' 00:00:00')
          systMinList.push([xValue, minSyst])
          systMaxList.push([xValue, maxSyst - minSyst])
          diastMinList.push([xValue, minDiast])
          diastMaxList.push([xValue, maxDiast - minDiast])
        }
        option.xAxis.data = arrayOf(getDays(data[0].createdAt + ' 00:00:00'))
      }
      option.series[0].data = systMinList
      option.series[1].data = systMaxList
      option.series[2].data = diastMinList
      option.series[3].data = diastMaxList
      this.handleBarStyle(option)
      this.$refs.chart.setOption(option)
    },
    setYearData(data) {
      const systMinList = []
      const systMaxList = []
      const diastMinList = []
      const diastMaxList = []
      if (data && data.length > 0) {
        for (const item of data) {
          const minSyst = item.minSystolic
          const maxSyst = item.maxSystolic
          const minDiast = item.minDiastolic
          const maxDiast = item.maxDiastolic
          const xValue = getMonthOfYear(item.createdAt + '-01 00:00:00')
          systMinList.push([xValue, minSyst])
          systMaxList.push([xValue, maxSyst - minSyst])
          diastMinList.push([xValue, minDiast])
          diastMaxList.push([xValue, maxDiast - minDiast])
        }
      }
      const option = new YearlyOption()
      option.series[0].data = systMinList
      option.series[1].data = systMaxList
      option.series[2].data = diastMinList
      option.series[3].data = diastMaxList
      this.handleBarStyle(option)
      this.$refs.chart.setOption(option)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
