<template>
  <fullscreen-dialog
    :visible.sync="iVisible"
    :title="getTitle()"
    :exist-fullscreen-on-closed="existFullscreenOnClosed"
    @opened="onOpened"
    @close="onClose"
  >
    <template v-if="type === 'activityTrack'">
      <activity-track-record :device-id="deviceId" :date="date" />
    </template>
    <template v-else-if="type === 'step'">
      <step-record :device-id="deviceId" :type="iDateType" :date="iDate" />
    </template>
    <template v-else-if="type === 'heartRate'">
      <heart-rate-record :device-id="deviceId" :type="iDateType" :date="iDate" />
    </template>
    <template v-else-if="type === 'bloodPressure'">
      <blood-pressure-record :device-id="deviceId" :type="iDateType" :date="iDate" />
    </template>
    <template v-else-if="type === 'bloodOxygen'">
      <blood-oxygen-record :device-id="deviceId" :type="iDateType" :date="iDate" />
    </template>
    <template v-else-if="type === 'sleep'">
      <sleep-record :device-id="deviceId" :type="iDateType" :date="iDate" />
    </template>
    <template v-else>
      暂不支持该类型
    </template>
  </fullscreen-dialog>
</template>

<script>

import ActivityTrackRecord from '@/views/health/record/components/ActivityTrack'
import StepRecord from '@/views/health/record/components/Step'
import HeartRateRecord from '@/views/health/record/components/HeartRate'
import BloodPressureRecord from '@/views/health/record/components/BloodPressure'
import BloodOxygenRecord from '@/views/health/record/components/BloodOxygen'
import SleepRecord from '@/views/health/record/components/Sleep'
import FullscreenDialog from '@/components/FullscreenDialog'

export default {
  name: 'DetailDialog',
  components: { FullscreenDialog, SleepRecord, BloodOxygenRecord, BloodPressureRecord, HeartRateRecord, StepRecord, ActivityTrackRecord },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    deviceId: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: null
    },
    dateType: {
      type: String,
      default: 'date'
    },
    date: {
      type: Date,
      default: new Date()
    },
    existFullscreenOnClosed: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      iDate: null,
      iDateType: null
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      this.iDate = new Date(this.date.valueOf())
      this.iDateType = this.dateType
    },
    onClose() {
    },
    getTitle() {
      switch (this.type) {
        case 'activityTrack':
          return '定位轨迹'
        case 'step':
          return '计步'
        case 'heartRate':
          return '心率'
        case 'bloodPressure':
          return '血压'
        case 'bloodOxygen':
          return '血氧饱和度'
        case 'sleep':
          return '睡眠'
        default:
          return ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>

//::v-deep .el-dialog__header {
//  padding: unset;
//}

::v-deep .el-dialog__body {
  width: 100%;
  min-height: calc(100% - 54px);
  padding-top: 0;
  //padding-top: 55px;
}

.el-dialog {
  width: 100%;
  height: 100%;
}

</style>
