<template>
  <div class="heart-rate-wrapper match-parent0">
    <div class="flex-start">
      <span>选择日期</span>
      <type-date-picker
        :date.sync="heartRateDate"
        :type.sync="heartRateType"
        @on-type-change="onHeartRateTypeChanged"
        @on-date-change="onHeartRateDateChanged"
      />
    </div>
    <heart-rate-chart
      c-id="heart-rate-in-dialog"
      :device-id="deviceId"
      :type="heartRateType"
      :date="heartRateDate"
      @on-records-response="onRecordsResponse"
    />
    <div class="info-tip">
      <div>
        <span>最高心率</span>
        <span>{{ summary.highest > 0 ? summary.highest : '-' }} 次/分</span>
      </div>
      <div>
        <span>最低心率</span>
        <span>{{ summary.lowest > 0 ? summary.lowest : '-' }} 次/分</span>
      </div>
      <div>
        <span>平均心率</span>
        <span>{{ summary.average > 0 ? summary.average : '-' }} 次/分</span>
      </div>
    </div>
    <div v-if="heartRateType === 'date'">
      <div class="title">当日监测记录</div>
      <div class="list">
        <template v-for="item in list">
          <div :key="item.id.toString()" class="item" :class="[ item.warning === 1 ? 'warning' : '' ]">
            <div class="date">
              {{ dateFormatter(item.createdAt) }}
            </div>
            <div class="value">
              <span>{{ item.value }} 次/分</span>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>

import HeartRateChart from '@/views/health/record/components/HeartRateChart'
import TypeDatePicker from '@/components/Date/TypeDatePicker'
import StatType from '@/enum/StatType'
import { formatter } from '@/utils/date'

export default {
  name: 'HeartRateRecord',
  components: { TypeDatePicker, HeartRateChart },
  props: {
    deviceId: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: null
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      heartRateType: '',
      heartRateDate: null,
      summary: {
        highest: 0,
        lowest: 0,
        average: 0
      },
      list: []
    }
  },
  watch: {
    date: {
      handler: function(params) {
        if (params) {
          this.onHeartRateDateChanged(params)
        }
      },
      immediate: true
    },
    type: {
      handler: function(params) {
        if (params) {
          this.onHeartRateTypeChanged(params)
        }
      },
      immediate: true
    }
  },
  methods: {
    dateFormatter(date) {
      return formatter(date)
    },
    onHeartRateTypeChanged(params) {
      this.heartRateType = params
      const statType = StatType.dateTypeOf(params)
      if (statType !== StatType.DAY) {
        this.onRecordsResponse([])
      }
    },
    onHeartRateDateChanged(params) {
      this.heartRateDate = params
      this.load()
    },
    load() {
      this.$api.health.heartRateSummary({
        deviceId: this.deviceId,
        startDate: formatter(this.heartRateDate ? this.heartRateDate : new Date(), 'YYYY-MM-DD'),
        searchType: StatType.dateTypeOf(this.heartRateType)
      }).then(res => {
        const { maxHeart: highest = 0, minHeart: lowest = 0, avgHear: average = 0 } = res.data || {}
        this.summary.highest = highest
        this.summary.lowest = lowest
        this.summary.average = average
      })
    },
    onRecordsResponse(data) {
      this.list = data
    }
  }
}
</script>

<style lang="scss" scoped>
.type-date-picker {
  width: 214px;
  margin-left: 20px;
}

.heart-rate-chart {
  width: 100%;
  height: 500px;
  border: 1px solid #e3eeff;
  margin-top: 15px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;

}
.info-tip{
  line-height: 1.8;
  margin-top: 20px;
}
.title{
  margin:12px 0;
  font-weight: bold;
}

.list{
  width: 100%;

  .item {
    display: flex;
    padding: 10px;
    border: 1px solid #dfe6ec;
    border-radius: 4px;
    margin-bottom: 10px;

    &:hover {
      background: #F5F7FA;
      transition: background-color .25s ease;
    }

    .value {
      margin-left: 60px;
    }
  }

  .warning {
    color: red !important;
  }
  
}
</style>
