<template>
  <c-chart ref="chart" :c-id="cId" class="sleep-chart match-parent0" />
</template>

<script>

import CChart from '@/components/Chart'
import StatType from '@/enum/StatType'
import moment from 'moment'
import DailyOption from '@/utils/echarts/sleep/day'
import MonthlyOption from '@/utils/echarts/sleep/month'
import YearlyOption from '@/utils/echarts/sleep/year'
import { getDayOfMonth, getDays, getMinutesOfDay, getMonthOfYear } from '@/utils/date'
import { arrayOf } from '@/utils/array'

export default {
  name: 'SleepChart',
  components: { CChart },
  props: {
    cId: {
      type: String,
      default: 'sleep'
    },
    deviceId: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: 'date'
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  watch: {
    deviceId: function(params) {
      if (params && params !== '0') {
        this.load()
      }
    },
    date: function(params) {
      if (params && this.deviceId && this.deviceId !== '0') {
        this.load()
      }
    }
  },
  methods: {
    load() {
      const statType = StatType.dateTypeOf(this.type)
      if (statType === StatType.DAY) {
        this.$api.health.sleepList({
          deviceId: this.deviceId,
          startDate: moment(this.date ? this.date : new Date()).format('YYYY-MM-DD'),
          searchType: statType
        }).then(res => {
          this.setDayData(res.data.records)
          this.$emit('on-records-response', res.data.records)
        })
      } else {
        this.$api.health.sleepStat({
          deviceId: this.deviceId,
          startDate: moment(this.date ? this.date : new Date()).format('YYYY-MM-DD'),
          searchType: statType
        }).then(res => {
          if (statType === StatType.MONTH) {
            this.setMonthData(res.data)
          } else if (statType === StatType.YEAR) {
            this.setYearData(res.data)
          }
        })
      }
    },
    setDayData(data) {
      const result = []
      if (data) {
        for (const item of data) {
          /**
           * awakeTime: 0
           * createdAt: "2021-12-24T05:19:00.000+0000"
           * deepSleepTime: 14
           * deviceId: 1473982433069150200
           * dreamTime: 0
           * duration: 24
           * endTime: "2021-12-24T05:19:00.000+0000"
           * id: 1475270979223126000
           * imei: "qlb0221b23000079"
           * lightSleepTime: 10
           * startTime: "2021-12-24T04:55:00.000+0000"
           * value: "24"
           * wakeupCount: 0
           */
          const startMinutes = getMinutesOfDay(item.startTime)
          const endMinutes = getMinutesOfDay(item.endTime)
          const lightMinutes = endMinutes - (item.lightSleepTime || 0)

          for (let i = startMinutes; i < lightMinutes; i++) {
            result.push([i, 2])
          }

          for (let i = lightMinutes; i < endMinutes; i++) {
            result.push([i, 1])
          }
        }
      }
      const option = new DailyOption()
      option.series[0].data = result
      this.$refs.chart.setOption(option)
    },
    setMonthData(data) {
      const result = []; const result2 = []
      const option = new MonthlyOption()
      if (data && data.length > 0) {
        for (const item of data) {
          const deep = item.sumDeepSleep
          const light = item.sumLightSleep
          const xValue = getDayOfMonth(item.createdAt + ' 00:00:00')
          result.push([xValue, deep])
          result2.push([xValue, light])
        }
        option.xAxis.data = arrayOf(getDays(data[0].createdAt + ' 00:00:00'))
      }
      option.series[0].data = result
      option.series[1].data = result2
      this.$refs.chart.setOption(option)
    },
    setYearData(data) {
      const result = []; const result2 = []
      if (data && data.length > 0) {
        for (const item of data) {
          const deep = item.sumDeepSleep
          const light = item.sumLightSleep
          const xValue = getMonthOfYear(item.createdAt + ' 00:00:00')
          result.push([xValue, deep])
          result2.push([xValue, light])
        }
      }
      const option = new YearlyOption()
      option.series[0].data = result
      option.series[1].data = result2
      this.$refs.chart.setOption(option)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
