<template>
  <div class="sleep-wrapper match-parent0">
    <div class="flex-start">
      <span>选择日期</span>
      <type-date-picker
        :date.sync="sleepDate"
        :type.sync="sleepType"
        @on-type-change="onSleepTypeChanged"
        @on-date-change="onSleepDateChanged"
      />
    </div>
    <sleep-chart c-id="sleep-in-dialog" :device-id="deviceId" :type="sleepType" :date="sleepDate" />
    <div class="info-tip">
      <div>
        <span>浅睡眠</span>
        <span>{{ summary.light }} 分</span>
      </div>
      <div>
        <span>深睡眠</span>
        <span>{{ summary.deep }} 分</span>
      </div>
      <div>
        <span>当日睡眠总时长</span>
        <span>{{ summary.duration }} 分</span>
      </div>
    </div>
  </div>
</template>

<script>

import SleepChart from '@/views/health/record/components/SleepChart'
import TypeDatePicker from '@/components/Date/TypeDatePicker'
import moment from 'moment'
import StatType from '@/enum/StatType'

export default {
  name: 'SleepRecord',
  components: { TypeDatePicker, SleepChart },
  props: {
    deviceId: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: null
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      sleepType: '',
      sleepDate: null,
      summary: {
        duration: 0,
        deep: 0,
        light: 0
      }
    }
  },
  watch: {
    date: {
      handler: function(params) {
        if (params) {
          this.onSleepDateChanged(params)
        }
      },
      immediate: true
    },
    type: {
      handler: function(params) {
        if (params) {
          this.onSleepTypeChanged(params)
        }
      },
      immediate: true
    }
  },
  methods: {
    onSleepTypeChanged(params) {
      this.sleepType = params
    },
    onSleepDateChanged(params) {
      this.sleepDate = params
      this.load()
    },
    load() {
      this.$api.health.sleepSummary({
        deviceId: this.deviceId,
        startDate: moment(this.sleepDate ? this.sleepDate : new Date()).format('YYYY-MM-DD'),
        searchType: StatType.dateTypeOf(this.sleepType)
      }).then(res => {
        const { sumDuration: duration = 0, sumDeepSleep: deep = 0, sumLightSleep: light = 0 } = res.data || {}
        this.summary.duration = duration
        this.summary.deep = deep
        this.summary.light = light
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.type-date-picker {
  width: 214px;
  margin-left: 20px;
}
.info-tip{
  line-height: 1.8;
  margin-top: 20px;
}
.sleep-chart {
  width: 100%;
  height: 500px;
  border: 1px solid #e3eeff;
  margin-top: 15px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}
</style>
