<template>
  <c-chart ref="chart" :c-id="cId" class="step-chart match-parent0" />
</template>

<script>

import CChart from '@/components/Chart'
import moment from 'moment'
import StatType from '@/enum/StatType'
import DailyOption from '@/utils/echarts/step/day'
import MonthlyOption from '@/utils/echarts/step/month'
import YearlyOption from '@/utils/echarts/step/year'
import { getHoursOfDay, getDays, getDayOfMonth, getMonthOfYear } from '@/utils/date'
import * as echarts from 'echarts'
export default {
  name: 'StepChart',
  components: { CChart },
  props: {
    cId: {
      type: String,
      default: 'step'
    },
    deviceId: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: 'date'
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  watch: {
    deviceId: function(params) {
      if (params && params !== '0') {
        this.load()
      }
    },
    date: function(params) {
      if (params && this.deviceId && this.deviceId !== '0') {
        this.load()
      }
    }
  },
  methods: {
    load() {
      const statType = StatType.dateTypeOf(this.type)
      this.$api.health.stepStat({
        deviceId: this.deviceId,
        startDate: moment(this.date ? this.date : new Date()).format('YYYY-MM-DD'),
        searchType: statType
      }).then(res => {
        if (statType === StatType.DAY) {
          this.setDayData(res.data)
        } else if (statType === StatType.MONTH) {
          this.setMonthData(this.date, res.data)
        } else if (statType === StatType.YEAR) {
          this.setYearData(res.data)
        }
      })
    },
    handleBarStyle(option){
      option.series[0].itemStyle = {
          borderRadius: [4, 4, 0, 0],
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            { offset: 0, color: '#84a7ff' },
            { offset: 1, color: '#666fff' }
          ])
        }
        if(option.series[0].data.length==1){
          option.series[0].barWidth = 20
        }
    },
    setDayData(data) {
      const result = []
      if (data) {
        for (const item of data) {
          result.push([getHoursOfDay(item.startDate), item.value])
        }
      }
      const dayOption = new DailyOption()
      dayOption.series[0].data = result
      this.handleBarStyle(dayOption)
      this.$refs.chart.setOption(dayOption)
    },
    setMonthData(date, data) {
      const result = []
      const monthOption = new MonthlyOption()
      if (data && data.length > 0) {
        for (const item of data) {
          result.push([getDayOfMonth(item.startDate), item.value])
        }
        monthOption.xAxis.max = getDays(data[0].startDate)
      }
      monthOption.series[0].data = result
      this.handleBarStyle(monthOption)
      this.$refs.chart.setOption(monthOption)
    },
    setYearData(data) {
      const result = []
      if (data) {
        for (const item of data) {
          result.push([getMonthOfYear(item.createdAt + '-01 00:00:00'), item.value])
        }
      }
      const yearOption = new YearlyOption()
      yearOption.series[0].data = result
      this.handleBarStyle(yearOption)
      this.$refs.chart.setOption(yearOption)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
