<template>
  <div class="step-wrapper match-parent0">
    <div class="flex-start">
      <span>选择日期</span>
      <type-date-picker
        :date.sync="stepDate"
        :type.sync="stepType"
        @on-type-change="onStepTypeChanged"
        @on-date-change="onStepDateChanged"
      />
    </div>
    <step-chart c-id="step-in-dialog" :device-id="deviceId" :type="stepType" :date="stepDate" />
    <div class="info-tip">
      <div>
        <span>累计步数</span>
        <span>{{ summary.total }} 步</span>
      </div>
      <div>
        <span>累计时长</span>
        <span>{{ summary.duration }} 分</span>
      </div>
      <div>
        <span>公里数</span>
        <span>{{ summary.kilometer }} 公里</span>
      </div>
    </div>
  </div>
</template>

<script>

import StepChart from '@/views/health/record/components/StepChart'
import TypeDatePicker from '@/components/Date/TypeDatePicker'
import moment from 'moment'
import StatType from '@/enum/StatType'

export default {
  name: 'StepRecord',
  components: { TypeDatePicker, StepChart },
  props: {
    deviceId: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: null
    },
    date: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      stepType: '',
      stepDate: null,
      summary: {
        total: 0,
        duration: 0,
        kilometer: 0
      }
    }
  },
  watch: {
    date: {
      handler: function(params) {
        if (params) {
          this.onStepDateChanged(params)
        }
      },
      immediate: true
    },
    type: {
      handler: function(params) {
        if (params) {
          this.onStepTypeChanged(params)
        }
      },
      immediate: true
    }
  },
  methods: {
    onStepTypeChanged(params) {
      this.stepType = params
    },
    onStepDateChanged(params) {
      this.stepDate = params
      this.load()
    },
    load() {
      this.$api.health.stepSummary({
        deviceId: this.deviceId,
        startDate: moment(this.stepDate ? this.stepDate : new Date()).format('YYYY-MM-DD'),
        searchType: StatType.dateTypeOf(this.stepType)
      }).then(res => {
        const { value = 0, hours = 0, minutes = 0, kilometre: kilometer = 0 } = res.data || {}
        this.summary.total = value
        this.summary.duration = (hours ? (hours + '小时') : '') + (minutes || 0)
        this.summary.kilometer = kilometer
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.type-date-picker {
  width: 214px;
  margin-left: 20px;
}
.info-tip{
  line-height: 1.8;
  margin-top: 20px;
}
.step-chart {
  width: 100%;
  height: 500px;
  border: 1px solid #e3eeff;
  margin-top: 15px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}
</style>
