<template>
  <c-chart ref="chart" :c-id="cId" class="temperature-chart match-parent0" />
</template>

<script>
import CChart from "@/components/Chart";
import moment from "moment";
import StatType from "@/enum/StatType";
import DailyOption from "@/utils/echarts/temperature/day";
import MonthlyOption from "@/utils/echarts/temperature/month";
import YearlyOption from "@/utils/echarts/temperature/year";
import {
  getDayOfMonth,
  getDays,
  getMinutesOfDay,
  getMonthOfYear,
} from "@/utils/date";
import { arrayOf } from "@/utils/array";
import * as echarts from 'echarts'

export default {
  name: "TemperatureChart",
  components: { CChart },
  props: {
    cId: {
      type: String,
      default: "temperature",
    },
    deviceId: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: "date",
    },
    date: {
      type: Date,
      default: new Date(),
    },
  },
  watch: {
    deviceId: function (params) {
      if (params && params !== "0") {
        this.load();
      }
    },
    date: function (params) {
      if (params && this.deviceId && this.deviceId !== "0") {
        this.load();
      }
    },
  },
  methods: {
    load() {
      const statType = StatType.dateTypeOf(this.type);
      if (statType === StatType.DAY) {
        this.$api.health
          .temperatureList({
            deviceId: this.deviceId,
            startDate: moment(this.date ? this.date : new Date()).format(
              "YYYY-MM-DD"
            ),
            searchType: statType,
          })
          .then((res) => {
            this.setDayData(res.data.records);
            this.$emit("on-records-response", res.data.records);
          });
      } else {
        this.$api.health
          .temperatureStat({
            deviceId: this.deviceId,
            startDate: moment(this.date ? this.date : new Date()).format(
              "YYYY-MM-DD"
            ),
            searchType: statType,
          })
          .then((res) => {
            if (statType === StatType.MONTH) {
              this.setMonthData(res.data);
            } else if (statType === StatType.YEAR) {
              this.setYearData(res.data);
            }
          });
      }
    },
    handleBarStyle(option){
      if(this.cId == 'temperature-large'){
        option.series[1].label.color = '#fff'
      }
      option.series[1].itemStyle = {
          borderRadius: [4, 4, 0, 0],
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            { offset: 0, color: '#69e2f1' },
            { offset: 1, color: '#09bfd5' }
          ])
        }
    },
    setDayData(data) {
      const result = [];
      if (data) {
        for (const item of data) {
          result.push([getMinutesOfDay(item.createdAt), item.value]);
        }
      }
      const option = new DailyOption();
      option.series[0].data = result;
      this.$refs.chart.setOption(option);
    },
    setMonthData(data) {
      const result = [];
      const result2 = [];
      const option = new MonthlyOption();
      if (data && data.length > 0) {
        for (const item of data) {
          const min = item.minTemperature;
          const max = item.maxTemperature;
          const xValue = getDayOfMonth(item.createdAt + " 00:00:00");
          result.push([xValue, min]);
          result2.push([xValue, max - min]);
        }
        option.xAxis.data = arrayOf(getDays(data[0].createdAt + " 00:00:00"));
      }
      option.series[0].data = result;
      option.series[1].data = result2;
      this.handleBarStyle(option)
      this.$refs.chart.setOption(option);
    },
    setYearData(data) {
      const result = [];
      const result2 = [];
      if (data && data.length > 0) {
        for (const item of data) {
          const min = item.minTemperature;
          const max = item.maxTemperature;
          const xValue = getMonthOfYear(item.createdAt + "-01 00:00:00");
          result.push([xValue, min]);
          result2.push([xValue, max - min]);
        }
      }
      const option = new YearlyOption();
      option.series[0].data = result;
      option.series[1].data = result2;
      this.handleBarStyle(option)
      this.$refs.chart.setOption(option);
    },
  },
};
</script>

<style lang="scss" scoped></style>
