<template>
  <el-dialog title="忘记密码" :visible.sync="iVisible" width="600px" @closed="onClosed">
    <el-form
      ref="form"
      label-position="right"
      label-width="160px"
      :model="form"
      :rules="rules"
    >
      <el-form
        ref="codeForm"
        label-position="right"
        label-width="160px"
        :model="form"
        :rules="codeRules"
      >
        <el-form-item prop="phone" label="手机号码">
          <el-input
            v-model="form.phone"
            type="number"
            maxlength="11"
            placeholder="请填写账号申请的手机号码"
          />
        </el-form-item>
      </el-form>
      <el-form-item class="verify-code-bar" prop="code" label="请填写验证码">
        <el-input
          v-model="form.code"
          type="number"
          maxlength="6"
          placeholder="请填写验证码"
        />
        <el-button
          class="btn-verify-code"
          type="primary"
          :loading="getVerifyCodeLoading"
          :disabled="getVerifyCodeDisabled"
          @click="getVerifyCode"
        >获取验证码{{ getVerifyCodeTextUntilFinished }}
        </el-button>
      </el-form-item>
      <el-form-item label="新密码" prop="password">
        <el-input
          v-model="form.password"
          type="password"
          minlength="6"
          maxlength="16"
          placeholder="请输入8-16位密码，必须包含大小写字母和数字"
          @keyup.enter.native="submit"
        />
      </el-form-item>
      <el-form-item class="btn-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click.native.prevent="submit">确定</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import { validPhone, validPassword } from '@/utils/validate'

/**
 * 验证码倒计时 - 总数
 */
const COUNT_DOWN_MILLIS = 10000

export default {
  name: 'ForgotPasswdDialog',
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validatePhone = (rule, value, callback) => {
      if (!validPhone(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('密码至少6位'))
      } else if (value.length > 16) {
        callback(new Error('密码至多16位'))
      } else if (!validPassword(value)) {
        callback(new Error('密码需包含大小写字母和数字，不能包含特殊字符'))
      } else {
        callback()
      }
    }
    return {
      form: {
        phone: '',
        code: '',
        password: ''
      },
      rules: {
        code: [
          { required: true, message: '请输入验证码', trigger: 'blur' },
          { min: 6, max: 6, message: '请输入6位验证码', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          { min: 6, max: 16, message: '请输入6 - 16位密码', trigger: 'blur' },
          { trigger: 'blur', validator: validatePassword }
        ]
      },
      codeRules: {
        phone: [
          { required: true, message: '请输入手机号码', trigger: 'blur' },
          { trigger: 'blur', validator: validatePhone }
        ]
      },
      loading: false,

      getVerifyCodeDisabled: false,
      getVerifyCodeLoading: false,
      getVerifyCodeMillisUntilFinished: COUNT_DOWN_MILLIS,
      getVerifyCodeTextUntilFinished: ''
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onClosed() {
      this.$refs.form.resetFields()
      this.$refs.codeForm.resetFields()
    },
    getVerifyCode() {
      this.$refs.codeForm.validate(valid => {
        if (!valid) {
          return
        }
        this.getVerifyCodeDisabled = true
        this.getVerifyCodeLoading = true
        this.getVerifyCodeMillisUntilFinished -= 1000
        this.getVerifyCodeTextUntilFinished = '（' + (this.getVerifyCodeMillisUntilFinished / 1000).toFixed(0) + '）'
        const countDownTimer = setInterval(() => {
          this.getVerifyCodeMillisUntilFinished -= 1000
          if (this.getVerifyCodeMillisUntilFinished <= 0) {
            this.getVerifyCodeMillisUntilFinished = COUNT_DOWN_MILLIS
            this.getVerifyCodeTextUntilFinished = ''
            this.getVerifyCodeDisabled = false
            clearInterval(countDownTimer)
            return
          }
          this.getVerifyCodeTextUntilFinished = '（' + (this.getVerifyCodeMillisUntilFinished / 1000).toFixed(0) + '）'
        }, 1000)
        this.$api.account.getVerifyCode({ phone: this.form.phone }).then(() => {
          this.getVerifyCodeLoading = false
          this.$message.success('获取验证码成功，请注意查收')
        }).catch(() => {
          this.getVerifyCodeLoading = false
        })
      })
    },
    submit() {
      const codeValidate = new Promise((resolve, reject) => {
        this.$refs.codeForm.validate(valid => {
          if (valid) {
            resolve()
          } else {
            reject()
          }
        }).catch(() => {
          reject()
        })
      })

      const validate = new Promise((resolve, reject) => {
        this.$refs.form.validate(valid => {
          if (valid) {
            resolve()
          } else {
            reject()
          }
        }).catch(() => {
          reject()
        })
      })

      Promise.all([codeValidate, validate]).then(valid => {
        if (valid) {
          this.loading = true
          this.$api.account.modifyPassword({
            phone: this.form.phone, code: this.form.code, password: this.form.password
          }).then(() => {
            this.loading = false
            this.$message.success('修改密码成功，请尝试重新登陆')
            this.iVisible = false
          }).catch(() => {
            this.loading = false
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.el-input {
  ::v-deep input::-webkit-outer-spin-button,
  ::v-deep input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  ::v-deep input[type='number'] {
    -moz-appearance: textfield;
  }
}

.verify-code-bar {

  ::v-deep .el-form-item__content {
    display: flex !important;
    align-items: center !important;
  }

  .el-input {
    width: calc(100% - 180px);
  }

  .btn-verify-code {
    width: 160px;
    margin-left: 20px;
  }
}

.btn-group {
  display: flex;
  justify-content: flex-end;
}
</style>
