<template>
  <section class="app-main-container">
    <section class="breadcrumb-container">
      <span>当前位置：</span>
      <breadcrumb  />
    </section>
    <section class="app-main">
      <transition name="fade-transform" mode="out-in">
        <router-view :key="key" />
      </transition>
    </section>
  </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb'
export default {
  name: 'AppMain',
  components:{Breadcrumb},
  computed: {
    key() {
      return this.$route.path
    }
  }
}
</script>

<style scoped lang="scss">
.app-main-container{
  height: 100%;
  width: 100%;
}
.app-main {
  /*50 = navbar  */
  /*min-height: calc(100vh - 50px);*/
  height: calc(100% - 40px);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 12px;
  background: #eceef9;
}

.fixed-header+.app-main-container {
  padding-top: 50px;
}

.fixed-header.hide-header+.app-main-container{
  padding-top:0;
  .breadcrumb-container {
    display: none;
  }
  .app-main{
    padding: 0;
    height: 100%;
  }
} 

.breadcrumb-container {
  display: flex;
  align-content: center;
  color:#337df6;
  margin-left: 14px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}

</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
</style>
