<template>
  <div class="navbar">
    <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />

    <!-- <breadcrumb class="breadcrumb-container" /> -->

    <div class="right-menu">
      <el-dropdown class="avatar-container" trigger="click">
        <div class="avatar-wrapper">
          <!-- <avatar :url="avatar" class="user-avatar" /> -->
          <i class="iconfont icon-touxiang user-avatar-icon"></i>
          <div class="name">{{ name }}</div>
          <i class="el-icon-caret-bottom" />
        </div>
        <el-dropdown-menu slot="dropdown" class="user-dropdown">
          <el-dropdown-item @click.native.prevent="personalInfoVisible = true">个人信息</el-dropdown-item>
          <el-dropdown-item @click.native.prevent="modifyPasswordVisible = true">修改密码</el-dropdown-item>
          <el-dropdown-item divided @click.native="logout">
            <span style="display:block;">退出登录</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <personal-info-dialog :visible.sync="personalInfoVisible" />
    <modify-password-dialog :visible.sync="modifyPasswordVisible" />
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
// import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'
import PersonalInfoDialog from '@/layout/components/PersonalInfo'
import ModifyPasswordDialog from '@/layout/components/ModifyPassword'
import Avatar from '@/components/Image/Avatar'

export default {
  components: {
    Avatar,
    ModifyPasswordDialog,
    PersonalInfoDialog,
    // Breadcrumb,
    Hamburger
  },
  data() {
    return {
      personalInfoVisible: false,
      modifyPasswordVisible: false
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar',
      'name'
    ])
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    async logout() {
      await this.$store.dispatch('user/logout')
      // await this.$router.push(`/login?redirect=${this.$route.fullPath}`)
      await this.$router.push('/login')
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #337df6;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #8260ef, #be56eb, #7966b5) 10 20 10;

  .hamburger-container {
    line-height: 50px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 20px;

      .avatar-wrapper {
        display: flex;
        cursor: pointer;
        // margin-top: 5px;
        align-items: center;
        color: #31284e;
        .user-avatar {
          width: 40px;
          height: 40px;
          //border-radius: 10px;
        }
        .user-avatar-icon{
          font-size: 22px;
          color:#31284e;
        }

        .name {
          margin-left: 10px;
        }

        .el-icon-caret-bottom {
          // position: absolute;
          // right: -20px;
          // top: 25px;
          // font-size: 12px;
          margin-left: 6px;
        }
      }
    }
  }
}
</style>
