<template>
  <el-container class="model-list-wrapper match-parent">
    <el-header class="flex-end">
      <el-button type="primary" icon="el-icon-plus" @click="onAddClick">新增</el-button>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:cover="{ row }">
          <el-image :src="row.imgUrl" />
        </template>
        <template v-slot:operate="{ row }">
          <el-button
            type="text"
            size="small"
            @click="onItemEditClick(row)"
          >
            编辑
          </el-button>
          <el-button
            type="text"
            size="small"
            class="button-delete"
            @click="onItemDeleteClick(row)"
          >
            删除
          </el-button>
        </template>
      </c-table>
    </el-main>
    <dialog-device-model
      :visible.sync="dialogVisible"
      :is-edit-mode="isEditMode"
      :item.sync="toEditItem"
      @on-success="onSuccess"
    />
  </el-container>
</template>

<script>

import CTable from '@/components/Table'
import DialogDeviceModel from '@/views/device/config/components/dialog-model'

export default {
  name: 'ModelList',
  components: { DialogDeviceModel, CTable },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: '设备品牌', prop: 'manufacturerName' },
        { id: 3, label: '设备型号', prop: 'name' },
        { id: 4, label: '图片', slot: 'cover', width: 180 },
        { id: 5, label: '操作', slot: 'operate' }
      ],
      dialogVisible: false,
      isEditMode: false,
      toEditItem: null
    }
  },
  methods: {
    onAddClick() {
      this.toEditItem = null
      this.isEditMode = false
      this.dialogVisible = true
    },
    onItemEditClick(item) {
      this.toEditItem = item
      this.isEditMode = true
      this.dialogVisible = true
    },
    onItemDeleteClick(item) {
      this.$confirm('此操作将永久删除该型号, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.deviceModel.delete({ id: item.id }).then(() => {
          this.$message.success('删除成功!')
          this.onSuccess()
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    },
    onTableLoad(index, size, callback) {
      this.$api.deviceModel.list({ page: index, size }).then(res => {
        callback(res.data)
      })
    },
    onSuccess() {
      this.$nextTick(() => {
        this.$refs.table.load()
        this.$emit('on-success')
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.el-main {
  padding-top: 0;
}
</style>
