<template>
  <el-container class="news-video-wrapper">
    <el-form ref="form" label-position="left" label-width="80px">
      <el-form-item label="发布渠道" required>
        <el-select v-model="releaseType" placeholder="请选择">
          <el-option
            v-for="item in releaseTypeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="视频标题" required>
        <el-input v-model="form.title" placeholder="请输入标题" />
      </el-form-item>
      <el-form-item label="视频封面" required>
        <el-upload
          id="file-upload"
          action="#"
          list-type="picture-card"
          accept="image/*"
          :auto-upload="false"
          :file-list="fileList"
          :limit="1"
          :on-change="onFileChange"
        >
          <i slot="default" class="el-icon-plus" />
          <template v-slot:file="{ file }">
            <img
              class="el-upload-list__item-thumbnail"
              :src="file.url"
              style="object-fit: cover"
              alt=""
            >
            <span class="el-upload-list__item-actions">
              <span
                class="el-upload-list__item-preview"
                @click="handlePictureCardPreview(file)"
              >
                <i class="el-icon-zoom-in" />
              </span>
              <span
                class="el-upload-list__item-delete"
                @click="handleRemove(file)"
              >
                <i class="el-icon-delete" />
              </span>
            </span>
          </template>
        </el-upload>
      </el-form-item>
      <el-form-item label="展示类型" required>
        <el-radio-group v-model="form.orientation">
          <el-radio :label="0">横板</el-radio>
          <el-radio :label="1">竖版</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="上传视频" required>
        <el-upload
          id="video-upload"
          action="#"
          accept="video/*"
          list-type="picture-card"
          :auto-upload="false"
          :file-list="videoList"
          :limit="1"
          :on-change="onVideoChange"
        >
          <i slot="default" class="el-icon-plus" />
          <template v-slot:file="{ file }">
            <video
              id="display-video"
              class="el-upload-list__item-thumbnail"
              :src="file.url"
            />
            <span class="el-upload-list__item-actions">
              <span
                class="el-upload-list__item-preview"
                @click="handleVideoPreview(file)"
              >
                <i class="el-icon-video-play" />
              </span>
              <span
                class="el-upload-list__item-delete"
                @click="handleVideoRemove(file)"
              >
                <i class="el-icon-delete" />
              </span>
            </span>
            <!--            <span-->
            <!--              class="el-upload-list__item-video-play"-->
            <!--              @click="handleVideoPreview(file)"-->
            <!--            >-->
            <!--              <i class="el-icon-video-play" />-->
            <!--            </span>-->
            <!--            <span-->
            <!--              class="el-upload-list__item-video-delete"-->
            <!--              @click="handleVideoRemove(file)"-->
            <!--            >-->
            <!--              <i class="el-icon-delete" />-->
            <!--            </span>-->
          </template>
        </el-upload>
      </el-form-item>
      <el-form-item label="视频正文" required>
        <el-input
          v-model="form.content"
          type="textarea"
          :rows="4"
          placeholder="请输入正文"
        />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button v-if="isEditMode && state === 1" type="danger" @click="submit(2)">下架</el-button>
        <el-button v-if="isEditMode" type="danger" @click="remove">删除</el-button>
        <el-button type="primary" @click="submit(0)">保存</el-button>
        <el-button v-if="isEditMode && state !== 1" type="primary" @click="submit(1)">发布</el-button>
        <el-button @click="$router.back()">返回</el-button>
      </el-form-item>
    </el-form>
    <el-dialog
      class="fullscreen-dialog"
      title="图片预览"
      :visible.sync="dialogVisible"
    >
      <img style="max-width: 100%; max-height: 100%" :src="dialogImageUrl" alt="">
    </el-dialog>
    <el-dialog
      class="fullscreen-dialog"
      title="视频预览"
      :visible.sync="dialogVideoVisible"
      @closed="onVideoPlayerClosed"
    >
      <video id="video-player" width="100%" height="100%" :src="dialogVideoUrl" type="video/*" controls autoplay />
    </el-dialog>
  </el-container>
</template>

<script>

import { upload } from '@/utils/qiniu'
import NewsState from '@/enum/NewsState'

export default {
  name: 'NewsVideo',
  data() {
    return {
      dialogImageUrl: '',
      dialogVideoUrl: '',
      dialogVisible: false,
      dialogVideoVisible: false,
      fileList: [],
      videoList: [],
      form: {
        title: '',
        cover: null,
        video: null,
        content: null,
        orientation: 0,
        releaseType: 1
      },
      state: NewsState.DRAFT,
      isCoverChanged: false,
      isVideoChanged: false,
      releaseTypeOptions: [
        {
          label: '全部',
          value: 0
        },
        {
          label: 'APP',
          value: 1
        },
        {
          label: '小程序',
          value: 2
        }
      ]
    }
  },
  computed: {
    isEditMode: {
      get() {
        return this.$route.params.news != null
      }
    }
  },
  watch: {
    fileList: function() {
      this.onFileListChanged()
    },
    videoList: function() {
      this.onVideoListChanged()
    }
  },
  mounted() {
    this.$nextTick(() => {
      if (this.isEditMode) {
        this.form.id = this.$route.params.news.id.toString()
        this.form.title = this.$route.params.news.title
        this.form.content = this.$route.params.news.content
        this.state = this.$route.params.news.state
        this.form.releaseType = this.$route.params.news.releaseType
        this.fileList = [
          {
            url: this.$route.params.news.cover
          }
        ]
        this.videoList = [
          {
            url: this.$route.params.news.videoUrl
          }
        ]
      }
    })
  },
  methods: {
    onFileChange(file, fileList) {
      this.fileList = fileList
      this.isCoverChanged = true
    },
    onVideoChange(file, fileList) {
      this.videoList = fileList
      this.isVideoChanged = true
    },
    onFileListChanged() {
      const parent = document.getElementById('file-upload')
      const add = parent.getElementsByClassName('el-upload--picture-card')[0]
      if (!add) return
      if (this.fileList.length >= 1) {
        add.style.display = 'none'
      } else {
        add.style.display = 'block'
      }
    },
    onVideoListChanged() {
      const parent = document.getElementById('video-upload')
      if (!parent) return
      const add = parent.getElementsByClassName('el-upload--picture-card')[0]
      if (!add) return
      if (this.videoList.length >= 1) {
        add.style.display = 'none'
      } else {
        add.style.display = 'block'
      }
    },
    onVideoPlayerClosed() {
      const videoPlayer = document.getElementById('video-player')
      videoPlayer.load()
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    handleVideoPreview(file) {
      this.dialogVideoUrl = file.url
      this.dialogVideoVisible = true
    },
    handleRemove(file) {
      for (let i = 0; i < this.fileList.length; i++) {
        const item = this.fileList[i]
        if (item.uid === file.uid) {
          this.fileList.splice(i, 1)
          break
        }
      }
    },
    handleVideoRemove(file) {
      for (let i = 0; i < this.videoList.length; i++) {
        const item = this.videoList[i]
        if (item.uid === file.uid) {
          this.videoList.splice(i, 1)
          break
        }
      }
    },
    submit(state = NewsState.PUBLISHED) {
      if (!this.isEditMode) {
        this.create(state)
      } else {
        this.preModify(state)
      }
    },
    create(state = NewsState.PUBLISHED) {
      if (!this.form.title) {
        this.$message.warning('请输入视频标题')
        return
      }

      if (this.fileList && this.fileList.length > 0) {
        this.form.cover = this.fileList[0]
      } else {
        this.form.cover = null
      }
      if (!this.form.cover) {
        this.$message.warning('请选择视频封面')
        return
      }

      if (this.videoList && this.videoList.length > 0) {
        this.form.video = this.videoList[0]
      } else {
        this.form.video = null
      }
      if (!this.form.video) {
        this.$message.warning('请选择视频文件')
        return
      }

      if (!this.form.content) {
        this.$message.warning('请输入视频正文')
        return
      }

      upload(this.form.cover.raw).then(coverUrl => {
        const video = document.getElementById('display-video')
        upload(this.form.video.raw).then(videoUrl => {
          this.$api.news.create({
            type: 1,
            title: this.form.title,
            releaseType: this.form.releaseType,
            cover: coverUrl,
            videoUrl: videoUrl,
            content: this.form.content,
            state: state,
            screenType: this.form.orientation,
            duration: parseInt(video.duration * 1000)
          }).then(() => {
            this.$message.success('发布成功')
            this.$router.back()
          })
        })
      })
    },
    preModify(state = NewsState.PUBLISHED) {
      if (!this.form.title) {
        this.$message.warning('请输入视频标题')
        return
      }

      if (!this.fileList || this.fileList.length === 0) {
        this.$message.warning('请选择视频封面')
        return
      }

      if (!this.videoList || this.videoList.length === 0) {
        this.$message.warning('请选择视频文件')
        return
      }

      if (!this.form.content) {
        this.$message.warning('请输入视频正文')
        return
      }

      if (this.isCoverChanged) { // 修改封面
        upload(this.fileList[0].raw).then(url => { // 上传封面
          this.preModify2(url, state)
        })
      } else { // 未修改封面
        this.preModify2(null, state)
      }
    },
    preModify2(coverUrl = null, state = NewsState.PUBLISHED) {
      if (this.isVideoChanged) { // 修改视频
        const video = document.getElementById('display-video')
        const duration = parseInt(video.duration * 1000)
        upload(this.videoList[0].raw).then(url => { // 上传视频
          this.modify(coverUrl, url, duration, state)
        })
      } else { // 未修改封面
        this.modify(coverUrl, null, null, state)
      }
    },
    modify(coverUrl = null, videoUrl = null, duration = null, state = NewsState.PUBLISHED) {
      this.$api.news.modify({
        id: this.form.id,
        title: this.form.title,
        releaseType: this.form.releaseType,
        cover: coverUrl,
        videoUrl: videoUrl,
        content: this.form.content,
        state: state,
        screenType: this.form.orientation,
        duration: duration
      }).then(res => {
        this.$message.success('保存成功')
        this.$router.back()
      })
    },
    remove() {
      this.$confirm('此操作将永久删除该视频资讯, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.news.delete({ id: this.form.id }).then(res => {
          this.$message.success('删除成功!')
          this.$router.back()
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.news-video-wrapper {
  width: 100%;

  .el-form {
    width: 100%;

    .el-upload-list__item-video-play {
      position: absolute;
      width: 32px;
      height: 32px;
      left: calc(50% - 16px);
      top: calc(50% - 16px);

      .el-icon-video-play {
        width: 100%;
        height: 100%;
        font-size: 32px;
        color: white;
      }
    }

    .el-upload-list__item-video-delete {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 2px;
      right: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      .el-icon-delete {
        font-size: 18px;
        color: #606266;
      }
    }
  }

  .bottom-button-group {
    display: flex;
    align-items: center;
    justify-content: center;

    .el-button {
      width: 200px;
    }
  }

  .fullscreen-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ::v-deep .el-dialog {
      width: 50%;
      height: calc(100% - 40px);
      margin-top: 0 !important;

      .el-dialog__body {
        width: 100%;
        height: calc(100% - 60px) !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
</style>
