<template>
  <el-container class="match-parent">
    <el-tabs v-model="activeName" class="no-header-bottom-margin-tabs">
      <el-tab-pane label="疾病史" name="disease">
        <disease />
      </el-tab-pane>
      <el-tab-pane label="家族史" name="family">
        <family />
      </el-tab-pane>
      <el-tab-pane label="手术史" name="surgery">
        <surgery />
      </el-tab-pane>
    </el-tabs>
  </el-container>
</template>

<script>

import Disease from '@/views/health/disease/disease'
import Family from '@/views/health/disease/family'
import Surgery from '@/views/health/disease/surgery'

export default {
  name: 'Index',
  components: { Surgery, Family, Disease },
  data() {
    return {
      activeName: 'disease'
    }
  }
}
</script>

<style lang="scss" scoped>
.el-tabs {
  width: 100%;
  height: 100%;

  ::v-deep .el-tabs__header {
    margin: 0 20px;
  }

  ::v-deep .el-tabs__content {
    height: calc(100% - 40px);
  }

  ::v-deep .el-tab-pane {
    width: 100%;
    height: 100%;
  }
}
</style>
