<template>
  <el-container class="model-list-wrapper match-parent">
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:func="{ row }">
          <template v-if="row.deviceMenu">
            <template v-for="(item, index) in row.deviceMenu.split(',')">
              <el-tag :key="index">{{ item }}</el-tag>
            </template>
          </template>
        </template>
        <template v-slot:operate="{ row }">
          <el-button
            type="text"
            size="small"
            @click="onItemEditClick(row)"
          >
            编辑
          </el-button>
        </template>
      </c-table>
    </el-main>
    <dialog-device-config
      :visible.sync="dialogVisible"
      :is-edit-mode="isEditMode"
      :item.sync="toEditItem"
      @on-success="onSuccess"
    />
  </el-container>
</template>

<script>

import CTable from '@/components/Table'
import DialogDeviceConfig from '@/views/device/config/components/dialog-config'

export default {
  name: 'ConfigList',
  components: { DialogDeviceConfig, CTable },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: '设备品牌', prop: 'manufacturerName', width: 180 },
        { id: 3, label: '设备型号', prop: 'name', width: 180 },
        { id: 4, label: '功能', slot: 'func' },
        { id: 5, label: '操作',  slot: 'operate' }
      ],
      dialogVisible: false,
      isEditMode: false,
      toEditItem: null
    }
  },
  methods: {
    onAddClick() {
      this.toEditItem = null
      this.isEditMode = false
      this.dialogVisible = true
    },
    onItemEditClick(item) {
      this.toEditItem = item
      this.isEditMode = true
      this.dialogVisible = true
    },
    onTableLoad(index, size, callback) {
      this.$api.deviceModel.list({ page: index, size }).then(res => {
        callback(res.data)
      })
    },
    onSuccess() {
      this.$nextTick(() => {
        this.$refs.table.load()
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
