<template>
  <p class="flex-center back-btn-box">
    <el-button class="com-back-btn" type="primary" plain size="small" @click="$router.go(-1)">返回</el-button>
  </p>
</template>

<script>
export default {
  name: 'PreviousPage'
 
}
</script>

<style lang="scss" scoped>

.back-btn-box {
  margin-top: 40px;
}
</style>