<template>
  <el-container class="match-parent">
    <el-header class="flex-end">
      <el-button type="primary" icon="el-icon-plus" @click="onAddClick">新增</el-button>
    </el-header>
    <el-main>
      <div class="c-table">
        <el-table ref="table" :data="tableData" height="700" stripe border>
          <el-table-column type="index" label="序号" align="center" width="60"></el-table-column>
          <el-table-column label="推送手机号" align="center" prop="phone">
            <template slot-scope="scope">
              <el-input v-show="scope.row.editing" v-model="editShowItem.phone" type="number" placeholder="输入推送手机号"
                @keyup.enter.native="onSaveClick" />
              <span v-show="!scope.row.editing">{{ scope.row.phone }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <template v-if="scope.row.editing">
                <el-button type="success" size="small" plain @click="onSaveClick">保存</el-button>
                <el-button type="info" size="small" plain @click="onCancelClick">取消</el-button>
              </template>
              <template v-else>
                <el-button type="primary" size="small" plain @click="onEditClick(scope.row, scope.$index)">修改</el-button>
                <el-button type="danger" size="small" plain @click="onDeleteClick(scope.row, scope.$index)">删除</el-button>
              </template>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination background layout="total, sizes, prev, pager, next, jumper" :total="pageInfo.total"
          :page-size.sync="pageInfo.size" :current-page.sync="pageInfo.page" @size-change="handleSizeChange"
          @current-change="handleCurrentChange" />
        </div>
      </el-main>
  </el-container>
</template>

<script>
import { validPhone } from '@/utils/validate'
import CTable from '@/components/Table'

export default {
  name: 'AlarmPush',
  components: { CTable },
  data() {
    const validatePhone = (rule, value, callback) => {
      if (!validPhone(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    }
    return {
      tableData: [],
      pageInfo: { page: 1, size: 10, total: 0 },
      editShowItem: {}, // 用于显示的临时编辑数据
      operateData: {
        type: '', // 操作类型
        index: null, // 操作列index
        tempData: null // 操作的原始数据
      }
    }
  },
  mounted() {
    // TODO debug
    this.onTableLoad()
  },
  methods: {
    onAddClick() {
      if (this.checkEditing()) return false
      this.operateData = { type: 'add', index: 0, tempData: {} }
      this.tableData.unshift({ editing: true })
      this.editShowItem = { phone: '', editing: true }
    },
    onSaveClick() {
      if (!validPhone(this.editShowItem.phone)) return this.$message.warning('请输入正确手机号')
      let params = {
        phone: this.editShowItem.phone
      }
      if (this.operateData.type === 'edit') {
        params.id = this.editShowItem.id
      }
      let operateMap = {
        add: 'pushAdd',
        edit: 'pushUpdate'
      }
      this.$api.alarm[operateMap[this.operateData.type]](params)
        .then((res) => {
          this.onTableLoad()
          this.editShowItem = {}
        })
    },
    onCancelClick() {
      this.editShowItem = {}
      if (this.operateData.type === 'add') {
        this.tableData.shift()
      } else {
        this.tableData[this.operateData.index] = { ...this.operateData.tempData, editing: false }
      }
    },
    onEditClick(row, index) {
      if (this.checkEditing()) return false
      this.operateData = { type: 'edit', index, tempData: row }
      row.editing = true
      this.editShowItem = { ...row }
    },
    onDeleteClick(row) {
      if (this.checkEditing()) return false
      this.$confirm(`确认删除该推送手机号：${row.phone}吗?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.alarm.pushDelete({ id: row.id }).then(() => {
          this.$message.success('删除成功!')
          this.onTableLoad()
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    },
    checkEditing() {
      if (this.editShowItem.editing) {
        this.$message.warning('请先保存或取消')
      }
      return this.editShowItem.editing
    },
    onTableLoad() {
      this.$api.alarm.pushPage({
        page: this.pageInfo.page,
        size: this.pageInfo.size
      })
        .then((res) => {
          this.tableData = res.data.records
          this.pageInfo.total = res.data.total
        })
    },
    handleSizeChange(val) {
      this.pageInfo.size = val
      this.onTableLoad()
    },
    handleCurrentChange(val) {
      this.onTableLoad()
    },
  }
}
</script>

<style lang="scss" scoped>
.el-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .el-form {
    display: flex;

    .el-form-item {
      margin-bottom: 0;
    }
  }
}
.c-table {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.el-main {
  padding-top: 0;
  .el-pagination {
    margin-top: 20px;
  }

}
</style>
