<template>
  <div class="c-table">
    <el-table
      ref="table"
      :data="tableData"
      style="width:100%"
      height="900"
      stripe
      border
    >
      <template v-for="(column, index) in showColumns">
        <!--  默认第一列固定  -->
        <el-table-column
          :key="column.id"
          :type="column.type"
          :prop="column.prop"
          :label="column.label"
          :width="column.width ? column.width : ( editable ? 120 : '' )"
          :align="column.align"
          :fixed="index === 0 || column.fixed === true"
          :show-overflow-tooltip="column.showOverflowTooltip || true"
        >
          <!--  自定义模板  -->
          <template v-if="column.slot" v-slot="scope">
            <slot :name="column.slot" :row="scope.row" />
          </template>
          <template v-else-if="column.type !== 'index'" v-slot="scope">
            {{ scope.row[column.prop] ? scope.row[column.prop].toString() : '' }}
          </template>
        </el-table-column>
      </template>
    </el-table>
    <div v-if="editable" v-click-outside="onOutsideClick" class="column-setting-container">
      <el-popover
        v-model="visible"
        placement="bottom-end"
        title="表头设置"
        width="250"
        trigger="click"
        offset="100"
      >
        <div class="select-container">
          <div
            v-for="(column, index) in allColumns"
            :key="column.id"
            class="select-item"
            :class="{ disabled: column.editable === false }"
            @click="column.editable !== false ? onSelectItemClick(index, column) : null"
          >
            <div>{{ column.label }}</div>
            <transition name="fade">
              <i v-if="column.editable === false || column.visible !== false" class="el-icon-check" />
            </transition>
          </div>
        </div>
      </el-popover>
      <el-button
        class="btn-column-setting"
        icon="el-icon-s-tools"
        type="primary"
        plain
        @click="visible = !visible"
      />
    </div>
    <el-pagination
      v-if="pageable"
      background
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.total"
      :page-size.sync="page.size"
      :current-page.sync="page.index"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>

import ClickOutside from 'element-ui/src/utils/clickoutside'

export default {
  name: 'CTable',
  directives: { ClickOutside },
  props: {
    /**
     * id - 该列唯一标识
     * type - 该列类型
     * prop - 该列数据属性名
     * label - 标签名称
     * visible - 该列是否可见
     * editable - 该列是否可以隐藏
     * slot - 自定义模板名称
     * fixed - 固定列
     */
    columns: {
      type: Array,
      default: null
    },
    data: {
      type: Array,
      default: null
    },
    total: {
      type: Number,
      default: 0
    },
    editable: {
      type: Boolean,
      default: false
    },
    pageable: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      allColumns: [],
      showColumns: [],
      visible: false,
      tableData: [],
      page: {
        index: 1,
        size: 20,
        total: 0
      }
    }
  },
  mounted() {
    // TODO debug
    this.tableData = this.data
    this.initColumns()
    this.load()
  },
  methods: {
    onOutsideClick() {
      this.visible = false
    },
    initColumns() {
      const columns = JSON.parse(JSON.stringify(this.columns))
      for (let i = 0; i < columns.length; i++) {
        const column = columns[i]
        column.visible = !column.visible || column.visible !== false // 默认展示
        if (i === 0) { // 第一列不可编辑
          column.editable = false
        }
      }
      this.allColumns = columns
      this.toggleColumns(columns)
    },
    toggleColumns() {
      const showColumns = []
      for (const column of this.allColumns) {
        if (column.visible !== false) { // 默认展示
          showColumns.push(column)
        }
      }
      this.showColumns = showColumns
      const _this = this
      this.$nextTick(() => {
        _this.$refs.table.doLayout()
      })
    },
    onSelectItemClick(index, column) {
      column.visible = !column.visible
      this.toggleColumns()
    },
    handleSizeChange(val) {
      this.load()
    },
    handleCurrentChange(val) {
      this.load()
    },
    load() {
      this.$emit('load', this.page.index, this.page.size, (page) => {
        if (page == null) {
          return
        }
        this.tableData = page.records
        this.page.total = page.total
      })
    },
    reload() {
      this.page.index = 1
      this.load()
    }
  }
}
</script>

<style lang="scss" scoped>
.c-table {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .el-table {
    width: 100%;
    //height: calc(100% - 52px);
  }

  .el-pagination {
    margin-top: 20px;
    text-align: right;
  }

  .column-setting-container {
    position: absolute;
    right: 1px;
    top: 0;

    ::v-deep .el-popover {
      right: 10px;
      top: 58px;
    }

    .btn-column-setting {
      width: 45px;
      height: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .select-container {
      min-height: 100px;
      overflow-y: scroll;
      border-top: 1px solid #dfe6ec;
      padding-top: 10px;

      .select-item {
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        &.disabled {
          cursor: not-allowed;

          .el-icon-check {
            color: #DCDFE6
          }
        }

        &:hover {
          background: #F5F7FA;
          transition: background-color .25s ease;
          border-radius: 40px;
        }

        .el-icon-check {
          color: black;
        }
      }
    }
  }
}
</style>
