<template>
  <el-dialog
    :title="getTitle()"
    :visible.sync="iVisible"
    @opened="onOpened"
    @closed="onClosed"
  >
    <el-form ref="form" :rules="rules" :model="form" label-width="100px">
      <el-form-item prop="name" label="疾病名称">
        <el-input v-model="form.name" placeholder="请输入疾病名称" @keyup.enter.native="onSubmit" />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import DiseaseType from '@/enum/DiseaseType'

export default {
  name: 'DialogDisease',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: null
    },
    isEditMode: {
      type: Boolean,
      default: false
    },
    type: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      form: {
        name: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入疾病史名称', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    getTitle() {
      return '新增' + DiseaseType.valueOf(this.type)
    },
    onOpened() {
      if (this.isEditMode) {
        this.form.id = this.item.id.toString()
        this.form.name = this.item.diseaseName
      }
    },
    onClosed() {
      this.$refs.form.resetFields()
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        if (!this.isEditMode) {
          this.create()
        } else {
          this.modify()
        }
      })
    },
    create() {
      this.loading = true
      this.$api.disease.create({
        type: this.type,
        diseaseName: this.form.name
      }).then(() => {
        this.loading = false
        this.$message.success('创建成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    },
    modify() {
      this.loading = true
      this.$api.disease.modify({
        id: this.form.id,
        type: this.type,
        diseaseName: this.form.name
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>

@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

</style>
