<template>
  <el-dialog
    :title="getTitle()"
    :visible.sync="iVisible"
    @opened="onOpened"
    @closed="onClosed"
  >
    <el-form ref="form" :rules="rules" :model="form" label-width="100px">
      <el-form-item prop="diseaseName" label="疾病名称">
        <el-select v-model="form.diseaseName" placeholder="选择疾病" @change="onDiseaseChanged">
          <el-option
            v-for="(option, index) in diseases"
            :key="option.id ? option.id.toString() : index"
            :label="option.diseaseName"
            :value="option.diseaseName"
          />
        </el-select>
      </el-form-item>
      <el-form-item prop="families" label="家属">
        <el-tag
          v-for="tag in form.families"
          :key="tag"
          closable
          :disable-transitions="false"
          @close="handleClose(tag)"
        >
          {{ tag }}
        </el-tag>
        <el-input
          v-if="inputVisible"
          ref="saveTagInput"
          v-model="inputValue"
          class="input-new-tag"
          size="small"
          @keyup.enter.native="handleInputConfirm"
          @blur="handleInputConfirm"
        />
        <el-button v-else class="button-new-tag" size="small" @click="showInput">+ 新增</el-button>
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import DiseaseType from '@/enum/DiseaseType'

export default {
  name: 'DialogFamily',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: null
    },
    isEditMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        diseaseName: '',
        families: []
      },
      rules: {
        diseaseName: [
          { required: true, message: '请选择疾病', trigger: 'blur' }
        ],
        families: [
          { required: true, message: '请添加家属', trigger: 'blur' }
        ]
      },
      diseases: [
        {
          label: '日',
          value: 'date'
        },
        {
          label: '月',
          value: 'month'
        },
        {
          label: '年',
          value: 'year'
        }
      ],
      inputVisible: false,
      inputValue: ''
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    getTitle() {
      return '新增' + DiseaseType.valueOf(this.type)
    },
    getDiseases() {
      this.$api.disease.list({ type: DiseaseType.DISEASE, size: 999 }).then(res => {
        this.diseases = res.data.records
      })
    },
    onOpened() {
      if (this.isEditMode) {
        this.form.id = this.item.id.toString()
        this.form.diseaseName = this.item.diseaseName
        this.form.families = this.item.familyMembers ? this.item.familyMembers.split(', ') : []
      }
      this.getDiseases()
    },
    onClosed() {
      this.$refs.form.resetFields()
    },
    onDiseaseChanged(params) {
    },
    handleClose(tag) {
      this.form.families.splice(this.form.families.indexOf(tag), 1)
    },
    showInput() {
      this.inputVisible = true
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus()
      })
    },
    handleInputConfirm() {
      const inputValue = this.inputValue
      if (inputValue) {
        this.form.families.push(inputValue)
      }
      this.inputVisible = false
      this.inputValue = ''
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        if (!this.isEditMode) {
          this.create()
        } else {
          this.modify()
        }
      })
    },
    create() {
      this.loading = true
      this.$api.disease.create({
        type: 1,
        diseaseName: this.form.diseaseName,
        familyMembers: this.form.families.join(', ')
      }).then(() => {
        this.loading = false
        this.$message.success('创建成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    },
    modify() {
      this.loading = true
      this.$api.disease.modify({
        id: this.form.id,
        type: 1,
        diseaseName: this.form.diseaseName,
        familyMembers: this.form.families.join(', ')
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style>
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>

<style lang="scss" scoped>

@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

</style>
