<template>
  <div class="dashboard-container" />
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  computed: {
    ...mapGetters([
      'permissionsRoutes'
    ])
  },
  mounted() {
    this.selectOne()
  },
  methods: {
    selectOne() {
      if (this.permissionsRoutes && this.permissionsRoutes.length > 0) {
        this.$router.replace({ path: this.permissionsRoutes[0].path })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
