<template>
  <div class="wrapper">
    <div class="wrapper-form">
      <h1>欢迎登录智安康运营管理系统</h1>
      <el-form
        ref="loginForm"
        :model="loginForm"
        :rules="loginRules"
        label-position="right"
        autocomplete="on"
      >
        <el-form-item prop="username">
          <el-input
            ref="username"
            v-model="loginForm.username"
            type="text"
            prefix-icon="iconfont icon-user"
            placeholder="请输入您的账号"
            tabindex="1"
            autocomplete="on"
          />
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            ref="password"
            v-model="loginForm.password"
            type="password"
            prefix-icon="iconfont icon-password"
            placeholder="请输入您的密码"
            tabindex="2"
            maxlength="16"
            autocomplete="on"
            @keyup.enter.native="handleLogin"
          />
        </el-form-item>
        <el-form-item>
          <el-button
            class="btn-login"
            type="primary"
            :loading="loading"
            @click.native.prevent="handleLogin"
          >登录</el-button>
        </el-form-item>
        <el-form-item class="btn-forgot-passwd-item">
          <el-button
            class="btn-forgot-passwd"
            type="text"
            @click="showDialog = true"
          >忘记密码？</el-button>
        </el-form-item>
      </el-form>
    </div>
    
    <forgot-passwd-dialog :visible.sync="showDialog" />

    <div class="wrapper_bg">
      <div class="logo">
        <img src="@/assets/image/pic_login_logo.png" alt="">
      </div>
      <div class="bg_center">
        <img src="@/assets/image/pic_login_bg_center.png" alt="">
      </div>
      <div class="bg_bottom">
        <img src="@/assets/image/pic_login_bg_bt.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>

import { validUsername } from '@/utils/validate'
import ForgotPasswdDialog from '@/views/login/components/ForgotPasswd'

export default {
  name: 'Login',
  components: { ForgotPasswdDialog },
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!value) {
        callback(new Error('账号不能为空'))
      } else if (!validUsername(value)) {
        callback(new Error('账号错误'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (!value) {
        callback(new Error('密码不能为空'))
      } else if (value.length < 6) {
        callback(new Error('密码错误'))
      } else {
        callback()
      }
    }
    return {
      loading: false,
      loginForm: {
        username: '',
        password: ''
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }]
      },
      passwordType: 'password',
      capsTooltip: false,
      showDialog: false,
      redirect: undefined,
      otherQuery: {}
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query
        if (query) {
          this.redirect = query.redirect
          this.otherQuery = this.getOtherQuery(query)
        }
      },
      immediate: true
    }
  },
  mounted() {
    if (this.loginForm.username === '') {
      this.$refs.username.focus()
    } else if (this.loginForm.password === '') {
      this.$refs.password.focus()
    }
    if (process.env.NODE_ENV === 'development') {
      this.loginForm.username = 'admin'
      this.loginForm.password = '!QAZ2wsx3edc'
    }
  },
  methods: {
    checkCapslock(e) {
      const { key } = e
      this.capsTooltip = key && key.length === 1 && (key >= 'A' && key <= 'Z')
    },
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('user/login', this.loginForm)
            .then(() => {
              this.$router.push({ path: this.redirect || '/', query: this.otherQuery })
              this.loading = false
            })
            .catch(() => {
              this.loading = false
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur]
        }
        return acc
      }, {})
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-evenly;
 
  .wrapper_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1369ee;
    .logo {
      position: absolute;
      top: 62px;
      left: 107px;
      width:190px;
      height: 62px;
      img {
        width: 100%;
      }
    }
    .bg_center {
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      left: 254px;
      width:672px;
      height: 558px;
      img {
        width: 100%;
      }
    }
    .bg_bottom {
      position: absolute;
      width: 100%;
      height: 336px;
      bottom: 0;
      left: 0;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
    
  }
  .wrapper-form {
    position: absolute;
    top: 50%;
    right: 16%;
    transform: translateY(-55%);
    width: 444px;
    z-index: 2;
    h1 {
      color:#fff;
      font-size: 24px;
      text-align: center;
      margin-bottom: 36px;
    }
    .el-form {
      background: #fff;
      padding: 52px;
      border: 4px solid #8AC8FF;
      .btn-login {
        width: 100%;
      }
      ::v-deep .el-input__prefix {
        color: #8AC8FF;
      }
      .btn-forgot-passwd-item {
        ::v-deep .el-form-item__content {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
</style>
