<!--
请在 on-initialized 后进行地图操作
-->
<template>
  <div :id="cId" class="c-map" />
</template>

<script>

import { initAMap } from '@/utils/amap.js'

export default {
  name: 'CMap',
  props: {
    cId: {
      type: String,
      default: 'container'
    }
  },
  data() {
    return {
      map: null
    }
  },
  mounted() {
    if (!this.AMap) {
      initAMap.then(() => {
        this.initialize()
      })
    } else {
      this.initialize()
    }
  },
  methods: {
    initialize() {
      this.map = new AMap.Map(this.cId, {
        zoom: 12, // 级别
        center: [104.065752, 30.657450], // 默认地图中心点未天府广场
        resizeEnable: true,
        viewMode: '3D'// 使用3D视图
      })
      this.map.resize()
      this.$emit('on-initialized')
    },
    addMarker(option) {
      // 创建一个 Marker 实例：
      const marker = new AMap.Marker(option)
      // 将创建的点标记添加到已有的地图实例：
      marker.on('click', this.markerClick)
      this.map.add(marker)
      return marker
    },
    addPolyline(option) {
      // 创建折线实例
      const polyline = new AMap.Polyline(option)
      // 将折线添加至地图实例
      this.map.add(polyline)
    },
    addPolygon(data) {
      const polygon = new AMap.Polygon({
        path: data
      })
      this.map.add(polygon)
    },
    clear() {
      this.map.clearMap()
    },
    moveTo(option) {
      this.map.setZoomAndCenter(12, option)
    },
    setZoom(zoom) {
      this.map.setZoom(zoom)
    },
    setFitView() {
      this.map.setFitView()
    },
    setMapStyle(style) {
      this.map.setMapStyle(style)
    },
    markerClick(data) {
      this.$emit('marker-click', data)
    },
    infoWindow(option) {
      const infoWindow = new AMap.InfoWindow(option)
      infoWindow.open(this.map, option.position)
    }
  }
}
</script>

<style scoped>

</style>
