<template>
  <el-avatar class="avatar flex-center" :src="mUrl" @error="errorHandler">
    <img :src="require('@/assets/icon/ic_avatar.png')" alt="avatar">
  </el-avatar>
</template>

<script>
export default {
  name: 'Avatar',
  props: {
    url: {
      type: String,
      default: null
    }
  },
  computed: {
    mUrl: {
      get() {
        if (this.url) {
          if (this.url.startsWith('http')) {
            return this.url
          } else {
            return 'https://m.greatech.com.cn/image/' + this.url
          }
        }
        return ''
      }
    }
  },
  methods: {
    errorHandler() {
      return true
    }
  }
}
</script>

<style lang="scss" scoped>
.el-avatar {
  ::v-deep img {
    width: 100% !important;
  }
}

</style>
