<template>
  <el-container class="news-article-wrapper">
    <el-form ref="form" label-position="left" label-width="80px">
      <el-form-item label="发布渠道" required>
        <el-select v-model="form.releaseType" placeholder="请选择">
          <el-option
            v-for="item in releaseTypeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="文章标题" required>
        <el-input v-model="form.title" placeholder="请输入标题" />
      </el-form-item>
      <el-form-item label="文章封面" required>
        <el-upload
          id="article-cover-upload"
          action="#"
          accept="image/*"
          list-type="picture-card"
          :auto-upload="false"
          :file-list="fileList"
          :limit="1"
          :on-change="onFileChange"
        >
          <i slot="default" class="el-icon-plus" />
          <template v-slot:file="{ file }">
            <img
              class="el-upload-list__item-thumbnail"
              :src="file.url"
              style="object-fit: cover"
              alt=""
            >
            <span class="el-upload-list__item-actions">
              <span
                class="el-upload-list__item-preview"
                @click="handlePictureCardPreview(file)"
              >
                <i class="el-icon-zoom-in" />
              </span>
              <span
                class="el-upload-list__item-delete"
                @click="handleRemove(file)"
              >
                <i class="el-icon-delete" />
              </span>
            </span>
          </template>
        </el-upload>
      </el-form-item>
      <el-form-item label="文章正文" required>
        <div id="editor" />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button v-if="isEditMode && state === 1" type="danger" @click="submit(2)">下架</el-button>
        <el-button v-if="isEditMode" type="danger" @click="remove">删除</el-button>
        <el-button type="primary" @click="submit(0)">保存</el-button>
        <el-button v-if="isEditMode && state !== 1" type="primary" @click="submit(1)">发布</el-button>
        <el-button @click="$router.back()">返回</el-button>
      </el-form-item>
    </el-form>
    <el-dialog
      class="fullscreen-dialog"
      title="图片预览"
      :visible.sync="dialogVisible"
    >
      <img style="max-width: 100%; max-height: 100%" :src="dialogImageUrl" alt="">
    </el-dialog>
  </el-container>
</template>

<script>

import WangEditor from 'wangeditor'
import { upload } from '@/utils/qiniu'
import NewsState from '@/enum/NewsState'

export default {
  name: 'NewsArticle',
  data() {
    return {
      editor: null,
      dialogImageUrl: '',
      dialogVisible: false,
      fileList: [],
      form: {
        title: '',
        cover: null,
        content: null,
        releaseType: 1
      },
      state: NewsState.DRAFT,
      releaseTypeOptions: [
        {
          label: '全部',
          value: 0
        },
        {
          label: 'APP',
          value: 1
        },
        {
          label: '小程序',
          value: 2
        }
      ]
    }
  },
  computed: {
    isEditMode: {
      get() {
        return this.$route.params.news != null
      }
    }
  },
  watch: {
    fileList: function() {
      this.onFileListChanged()
    }
  },
  mounted() {
    this.initEditor()
    this.$nextTick(() => {
      if (this.isEditMode) {
        this.form.id = this.$route.params.news.id.toString()
        this.form.title = this.$route.params.news.title
        this.form.content = this.$route.params.news.content
        this.state = this.$route.params.news.state
        this.form.releaseType = this.$route.params.news.releaseType
        this.fileList = [
          {
            // name: this.form.title,
            url: this.$route.params.news.cover
          }
        ]
        this.editor.txt.html(this.form.content)
      }
    })
  },
  methods: {
    initEditor() {
      if (this.editor) {
        return
      }
      this.$nextTick(() => {
        const editor = new WangEditor(document.getElementById('editor'))
        editor.config.zIndex = 1000
        editor.config.height = 470
        this.editor = editor

        editor.config.customUploadImg = function(resultFiles, insertImgFn) {
          /**
           * resultFiles 是 input 中选中的文件列表
           * insertImgFn 是获取图片 url 后，插入到编辑器的方法
           */
          // 上传图片，返回结果，将图片插入到编辑器中
          upload(resultFiles[0]).then(url => {
            insertImgFn(url)
          })
        }

        editor.config.customUploadVideo = function(resultFiles, insertVideoFn) {
          /**
           * resultFiles 是 input 中选中的文件列表
           * insertVideoFn 是获取视频 url 后，插入到编辑器的方法
           */
          // 上传视频，返回结果，将视频地址插入到编辑器中
          upload(resultFiles[0]).then(url => {
            insertVideoFn(url)
          })
        }

        editor.create()
      })
    },
    onFileChange(file, fileList) {
      this.fileList = fileList

      this.onFileListChanged()
    },
    onFileListChanged() {
      const parent = document.getElementById('article-cover-upload')
      const add = parent.getElementsByClassName('el-upload--picture-card')[0]
      if (!add) return
      if (this.fileList.length >= 1) {
        add.style.display = 'none'
      } else {
        add.style.display = 'block'
      }
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    handleRemove(file) {
      for (let i = 0; i < this.fileList.length; i++) {
        const item = this.fileList[i]
        if (item.uid === file.uid) {
          this.fileList.splice(i, 1)
          break
        }
      }
    },
    submit(state = NewsState.PUBLISHED) {
      if (!this.isEditMode) {
        this.create(state)
      } else {
        this.preModify(state)
      }
    },
    create(state = NewsState.PUBLISHED) {
      if (!this.form.title) {
        this.$message.warning('请输入文章标题')
        return
      }

      if (this.fileList && this.fileList.length > 0) {
        this.form.cover = this.fileList[0]
      } else {
        this.form.cover = null
      }
      if (!this.form.cover) {
        this.$message.warning('请选择文章封面')
        return
      }

      this.form.content = this.editor.txt.html()
      if (!this.form.content) {
        this.$message.warning('请输入文章正文')
        return
      }

      upload(this.form.cover.raw).then(url => {
        this.$api.news.create({
          type: 0,
          title: this.form.title,
          releaseType: this.form.releaseType,
          cover: url,
          content: this.form.content,
          state: state
        }).then(() => {
          this.$message.success('发布成功')
          this.$router.back()
        })
      })
    },
    preModify(state = NewsState.PUBLISHED) {
      if (!this.form.title) {
        this.$message.warning('请输入文章标题')
        return
      }

      if (!this.fileList || this.fileList.length === 0) {
        this.$message.warning('请选择文章封面')
        return
      }

      this.form.content = this.editor.txt.html()
      if (!this.form.content) {
        this.$message.warning('请输入文章正文')
        return
      }

      let cover = null
      if (this.fileList[0].raw) { // 修改封面
        cover = this.fileList[0]
        upload(cover.raw).then(url => { // 上传封面
          this.modify(url, state)
        })
      } else { // 未修改封面
        this.modify(this.$route.params.news.cover, state)
      }
    },
    modify(url, state = NewsState.PUBLISHED) {
      this.$api.news.modify({
        id: this.form.id,
        title: this.form.title,
        releaseType: this.form.releaseType,
        cover: url,
        content: this.form.content,
        state: state
      }).then(() => {
        this.$message.success('保存成功')
        this.$router.back()
      })
    },
    remove() {
      this.$confirm('此操作将永久删除该文章, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$api.news.delete({ id: this.form.id }).then(res => {
          this.$message.success('删除成功!')
          this.$router.back()
        })
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.news-article-wrapper {
  width: 100%;

  .el-form {
    width: 100%;
  }

  .bottom-button-group {
    display: flex;
    align-items: center;
    justify-content: center;

    .el-button {
      width: 200px;
    }
  }

  .fullscreen-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ::v-deep .el-dialog {
      width: 50%;
      height: calc(100% - 40px);
      margin-top: 0 !important;

      .el-dialog__body {
        width: 100%;
        height: calc(100% - 60px) !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
</style>
