<template>
  <el-dialog
    :visible.sync="iVisible"
    :title="title"
    fullscreen
    class="fullscreen-dialog"
    :modal="false"
    @opened="onOpened"
    @close="onClose"
  >
    <slot />
  </el-dialog>
</template>

<script>

import screenfull from 'screenfull'

export default {
  name: 'FullscreenDialog',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: null
    },
    existFullscreenOnClosed: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    iVisible: {
      get() {
        if (!this.visible && this.existFullscreenOnClosed) {
          screenfull.exit()
        } else {
          screenfull.request()
        }
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      this.$emit('opened')
    },
    onClose() {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>

//::v-deep .el-dialog__header {
//  padding: unset;
//}

::v-deep .el-dialog__body {
  width: 100%;
  min-height: calc(100% - 54px);
  padding-top: 0;
  //padding-top: 55px;
}

.el-dialog {
  width: 100%;
  height: 100%;
}

</style>
