<template>
  <el-dialog
    :visible.sync="iVisible"
    title="修改密码"
    append-to-body
  >
    <el-form
      ref="form"
      :model="form"
      :rules="rules"
      label-width="120px"
    >
      <el-form-item prop="oldPassword" label="原密码">
        <el-input v-model="form.oldPassword" placeholder="请输入原密码" />
      </el-form-item>
      <el-form-item prop="newPassword" label="新密码">
        <el-input v-model="form.newPassword" placeholder="请输入8-16位密码，必须包含大小写字母和数字" />
      </el-form-item>
      <el-form-item prop="confirmPassword" label="确认密码">
        <el-input v-model="form.confirmPassword" placeholder="请再次输入新密码" />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" @click="submit">修改</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

import { mapGetters } from 'vuex'
import { validPassword } from '@/utils/validate'

export default {
  name: 'ModifyPasswordDialog',
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validatePassword = (rule, value, callback) => {
      if (!validPassword(value)) {
        callback(new Error('请输入8-16位密码，必须包含大小写字母和数字'))
      } else {
        callback()
      }
    }
    const validateConfirmPassword = (rule, value, callback) => {
      if (this.form.newPassword !== value) {
        callback(new Error('两次密码输入不一致'))
      } else {
        callback()
      }
    }
    return {
      form: {
        oldPassword: '',
        newPassword: '',
        confirmPassword: ''
      },
      rules: {
        oldPassword: [
          { required: true, message: '请输入旧密码', trigger: 'blur' }
        ],
        newPassword: [
          { required: true, message: '请输入新密码', trigger: 'blur' },
          { trigger: 'blur', validator: validatePassword }
        ],
        confirmPassword: [
          { required: true, message: '请再次输入新密码', trigger: 'blur' },
          { trigger: 'blur', validator: validateConfirmPassword }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'userInfo'
    ]),
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    submit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        this.$api.account.modifyPassword({

        }).then(res => {

        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>

@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

</style>
