<template>
  <el-container class="device-manage-wrapper match-parent">
    <el-header class="flex-start">
      <el-form ref="form" :model="form" label-width="100px">
        <el-form-item prop="warrantyState" label="保修状态">
          <el-select v-model="form.warrantyState" placeholder="请选择保修状态">
            <el-option
              v-for="item in warrantyStates"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item prop="date" label="创建日期">
          <el-date-picker
            v-model="form.date"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
        <el-form-item prop="keyword" label="搜索关键字">
          <el-input v-model="form.keyword" placeholder="请输入IMEI" @keyup.enter.native="submit" />
        </el-form-item>
        <el-form-item>
          <el-button class="btn-search" type="primary" @click="submit">搜索</el-button>
          <!--          <el-button @click="onResetClick">清空</el-button>-->
        </el-form-item>
      </el-form>
    </el-header>
    <el-header class="flex-end">
      <device-upload @on-success="onUploadSuccess" />
      <el-button type="text" @click="onModelDownloadClick">模板下载</el-button>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" @load="onTableLoad">
        <template v-slot:operate="{ row }">
          <el-button
            type="text"
            size="small"
            @click="onItemInfoClick(row)"
          >
            查看详情
          </el-button>
        </template>
      </c-table>
    </el-main>
    <dialog-user />
  </el-container>
</template>

<script>

import DialogUser from '@/views/account/permission/components/dialog-user'
import CTable from '@/components/Table'
import DeviceUpload from '@/views/device/list/components/device-upload'

export default {
  name: 'Index',
  components: { DeviceUpload, CTable, DialogUser },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: '品牌', prop: 'manufacturerName', width: 120 },
        { id: 3, label: '型号', prop: 'model', width: 120 },
        { id: 4, label: 'IMEI', prop: 'imei' },
        { id: 5, label: '创建日期', prop: 'createdAt', width: 180 },
        { id: 6, label: '生产日期', prop: 'productAt', width: 180, align: 'center' },
        { id: 7, label: '激活日期', prop: 'activeAt', width: 180, align: 'center' },
        { id: 8, label: '绑定状态', prop: 'bind', width: 80 },
        { id: 9, label: '保修状态', prop: 'guarantee', width: 80, align: 'center' },
        { id: 10, label: '操作', width: 240, slot: 'operate' }
      ],
      form: {
        warrantyState: null,
        date: null,
        startTime: null,
        endTime: null,
        keyword: null
      },
      warrantyStates: [
        {
          value: null,
          label: '全部'
        },
        {
          value: '在保',
          label: '在保'
        },
        {
          value: '脱保',
          label: '脱保'
        }
      ]
    }
  },
  watch: {
    form: {
      handler: function(params) {
        if (params.date) {
          this.form.startTime = params.date[0]
          this.form.endTime = params.date[1]
        } else {
          this.form.startTime = null
          this.form.endTime = null
        }
      },
      deep: true
    }
  },
  methods: {
    onTableLoad(index, size, callback) {
      this.$api.device
        .list({
          page: index,
          size,
          startDate: this.form.startTime,
          endDate: this.form.endTime,
          imei: this.form.keyword,
          guarantee: this.form.warrantyState
        })
        .then((res) => {
          callback(res.data)
        })
    },
    // onResetClick() {
    //   this.$refs.form.resetFields()
    //   this.form.date = null // 解决日期选择器重置后 1970 问题
    //   this.$nextTick(() => {
    //     this.$refs.table.reload()
    //   })
    // },
    onItemInfoClick(data) {
      this.$router.push({ name: 'Device Info', params: { data: data }})
    },
    onModelDownloadClick() {
      window.location.href = 'https://files.greatech.com.cn/file/template/device_import.xlsx'
    },
    submit() {
      this.$refs.table.reload()
    },
    onUploadSuccess() {
      this.submit()
    }
  }
}
</script>

<style lang="scss" scoped>

.device-manage-wrapper {
}

.el-header {

  .el-form {
    display: flex;

    .el-form-item {
      margin-bottom: 0;
    }
  }
}

.el-main {
  padding-top: 0;
}

.device-upload {
  margin-right: 20px;
}
</style>
