<template>
  <el-container class="record-wrapper match-parent">
    <el-header>
      <el-form ref="form" :model="form" label-width="100px">
        <el-form-item prop="keyword" label="搜索关键字">
          <el-input v-model="form.keyword" placeholder="用户ID、IMEI、佩戴者手机号码" @keyup.enter.native="submit" />
        </el-form-item>
        <el-form-item>
          <el-button class="btn-search" type="primary" @click="submit">搜索</el-button>
          <!--          <el-button @click="onResetClick">清空</el-button>-->
        </el-form-item>
      </el-form>
    </el-header>
    <el-main>
      <c-table ref="table" :columns="columns" editable @load="onTableLoad">
        <template v-slot:step="{ row }">
          {{ row.step ? row.step.value : '' }}
          <br><span class="time"><span v-if="row.step">{{row.step.createdAt | formatDate('YYYY-MM-DD')}}</span><span
              v-else></span></span>
        </template>
        <template v-slot:location="{ row }">
          {{ row.location ? row.location.address : '' }}
          <br><span class="time"><span v-if="row.location">{{row.location.createdAt | formatDate('YYYY-MM-DD
          HH:mm')}}</span><span v-else></span></span>
        </template>
        <template v-slot:heartRate="{ row }">
          {{ row.heartRate ? row.heartRate.value : '' }}
          <br><span class="time"><span v-if="row.heartRate">{{row.heartRate.createdAt | formatDate('YYYY-MM-DD
          HH:mm')}}</span><span v-else></span></span>
        </template>
        <template v-slot:bloodPressure="{ row }">
          {{ row.bloodPressure ? row.bloodPressure.systolicPressure : 0 }} / {{ row.bloodPressure ?
          row.bloodPressure.diastolicPressure : 1 }}
          <br><span class="time"><span v-if="row.bloodPressure">{{row.bloodPressure.createdAt | formatDate('YYYY-MM-DD
          HH:mm')}}</span><span v-else></span></span>
        </template>
        <template v-slot:bloodOxygen="{ row }">
          {{ row.bloodOxygen ? row.bloodOxygen.value: '' }}
          <br><span class="time"><span v-if="row.bloodOxygen">{{row.bloodOxygen.createdAt | formatDate('YYYY-MM-DD
          HH:mm')}}</span><span v-else></span></span>
        </template>
        <template v-slot:temperature="{ row }">
          {{ row.temperature ? row.temperature.value: '' }}
          <br><span class="time"><span v-if="row.temperature">{{row.temperature.createdAt | formatDate('YYYY-MM-DD
          HH:mm')}}</span><span v-else></span></span>
        </template>
        <template v-slot:operate="{ row }">
          <el-button type="text" size="small" @click="onItemInfoClick(row)">
            查看详情
          </el-button>
        </template>
      </c-table>
    </el-main>
  </el-container>
</template>

<script>

import CTable from '@/components/Table'

export default {
  name: 'MonitorRecord',
  components: { CTable },
  data() {
    return {
      columns: [
        { id: 1, type: 'index', label: '序号', width: 60, align: 'center' },
        { id: 2, label: '用户ID', prop: 'accountId', width: 120 },
        { id: 3, label: '注册手机号码', prop: 'accountPhone', width: 160 },
        { id: 4, label: '设备IMEI', prop: 'imei', width: 180 },
        { id: 5, label: '佩戴者', prop: 'appellation', width: 140 },
        { id: 6, label: '佩戴者手机号码', prop: 'phone' },
        { id: 7, label: '累计步数(步)', slot: 'step', align: 'center' },
        { id: 8, label: '当前定位', slot: 'location', width: 340, align: 'center' },
        { id: 9, label: '最近一次心率(次/分)', slot: 'heartRate', width: 150, align: 'center' },
        { id: 10, label: '最近一次血压(mmHg)', slot: 'bloodPressure', width: 180, align: 'center' },
        { id: 11, label: '最近一次血氧(%)', slot: 'bloodOxygen', width: 150, align: 'center' },
        { id: 12, label: '最近一次体温(℃)', slot: 'temperature', width: 150, align: 'center' },
        { id: 13, label: '操作', width: 140, slot: 'operate' }
      ],
      form: {
        keyword: null
      }
    }
  },
  methods: {
    // onResetClick() {
    //   this.$refs.form.resetFields()
    //   this.$nextTick(() => {
    //     this.$refs.table.reload()
    //   })
    // },
    onItemInfoClick(data) {
      this.$router.push({ name: 'Record Info', params: { data: data } })
    },
    onTableLoad(index, size, callback) {
      this.$api.health
        .list({
          page: index,
          size,
          search: this.form.keyword
        })
        .then((res) => {
          callback(res.data)
        })
    },
    submit() {
      this.$refs.table.reload()
    }
  }
}
</script>

<style lang="scss" scoped>
.el-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .el-form {
    display: flex;

    .el-form-item {
      margin-bottom: 0;
    }
  }
}

.el-main {
  padding-top: 0;
}

.el-table {
  .time {
    color: #909399;
    padding-top: 2px;
    display: inline-block;
  }
}
</style>
