<template>
  <div class="device-upload">
    <el-upload
      accept=".xls,.xlsx"
      action="#"
      multiple
      :limit="1"
      :show-file-list="false"
      :auto-upload="true"
      :http-request="httpRequest"
    >
      <el-button type="primary">批量导入</el-button>
    </el-upload>
  </div>
</template>

<script>
export default {
  name: 'DeviceUpload',
  methods: {
    httpRequest(params) {
      const formData = new FormData()
      formData.append('files', params.file)
      this.$api.device.upload(formData).then(res => {
        this.$emit('on-success')
      })
    }
  }
}
</script>

<style scoped>

</style>
