<template>
  <el-dialog
    :title="isEditMode ? '修改维修记录' : '新增维修记录'"
    :visible.sync="iVisible"
    @opened="onOpened"
    @closed="onClosed"
  >
    <el-form ref="form" :rules="rules" :model="form" label-width="80px">
      <el-form-item prop="date" label="报修日期">
        <el-date-picker
          v-model="form.date"
          type="date"
          placeholder="选择日期"
        />
      </el-form-item>
      <el-form-item prop="reason" label="报修原因">
        <el-input
          v-model="form.reason"
          placeholder="请输入报修原因"
          maxlength="50"
        />
      </el-form-item>
      <el-form-item prop="state" label="设备状态">
        <el-select v-model="form.state" placeholder="请选择设备状态">
          <el-option
            v-for="state in stateList"
            :key="state.value"
            :label="state.label"
            :value="state.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item prop="remark" label="备注">
        <el-input v-model="form.remark" type="textarea" placeholder="请输入备注" maxlength="100" />
      </el-form-item>
      <el-form-item class="bottom-button-group">
        <el-button @click="iVisible = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

export default {
  name: 'DialogRepair',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    imei: {
      type: String,
      required: true
    },
    item: {
      type: Object,
      default: null
    },
    isEditMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        id: '',
        date: '',
        reason: '',
        state: '',
        remark: ''
      },
      rules: {
        date: [
          { required: true, message: '请选择报修日期', trigger: 'blur' }
        ],
        reason: [
          { required: true, message: '请输入报修原因', trigger: 'blur' }
        ],
        state: [
          { required: true, message: '请选择报修状态', trigger: 'blur' }
        ]
      },
      departments: [],
      roles: [],
      loading: false,
      stateList: [
        {
          value: 0,
          label: '已报修'
        },
        {
          value: 1,
          label: '已回收'
        },
        {
          value: 2,
          label: '返厂'
        },
        {
          value: 3,
          label: '已更换'
        },
        {
          value: 4,
          label: '已退货'
        }
      ]
    }
  },
  computed: {
    iVisible: {
      get() {
        return this.visible
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    }
  },
  methods: {
    onOpened() {
      if (this.isEditMode) {
        this.rules = {}
        this.form.id = this.item.id.toString()
        this.form.date = this.item.repairDate
        this.form.reason = this.item.fault
        this.form.state = this.item.state
        this.form.remark = this.item.description
      }
    },
    onClosed() {
      this.$refs.form.resetFields()
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (!valid) {
          return
        }
        if (!this.isEditMode) {
          this.create()
        } else {
          this.modify()
        }
      })
    },
    create() {
      this.loading = true
      this.$api.repair.create({
        imei: this.imei,
        repairDate: this.form.date,
        fault: this.form.reason,
        state: this.form.state,
        description: this.form.remark
      }).then(() => {
        this.loading = false
        this.$message.success('创建成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    },
    modify() {
      this.loading = true
      this.$api.repair.modify({
        id: this.form.id,
        imei: this.imei,
        repairDate: this.form.date,
        fault: this.form.reason,
        state: this.form.state,
        description: this.form.remark
      }).then(() => {
        this.loading = false
        this.$message.success('修改成功')
        this.iVisible = false
        this.$emit('on-success')
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>

@import "~@/styles/dialog.scss";
@import "~@/styles/form.scss";

</style>
